In [61]:
import json
import re
import os
import calendar

import pandas as pd
import numpy as np
from dash import Dash, dcc, html, Input, Output
from jupyter_dash import JupyterDash
import plotly.express as px
import plotly.graph_objects as go


pd.set_option('display.max_rows', 500)
months = calendar.month_abbr[1:]

In [2]:
file_path = r'..\data\Monthly Count Records (excel versions)\SEMBC_XLS_Yearly\embc2022.xlsx'
df = pd.read_excel(file_path,  sheet_name='Jan', header=None)

In [3]:
df[0] = df[0].fillna('')
df

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,"Date: January 9, 2022 Start: 08:30 Finish...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tide State: high Tide Movement: falling ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Observers: Dave Lassmann, Judith Vetsch, Patri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Species: 48,Total,OE,WD,SR,TD1,TD2,TD3,EF1,EF2,...,EC,EM,BP,NF1,NF2,SA,IM,MC1,MC2,DW
5,Pied-billed Grebe,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Double-crested Cormorant,17,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN
7,Pelagic Cormorant,5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Great Blue Heron,15,NaN,NaN,NaN,NaN,NaN,1,3,NaN,...,NaN,9,NaN,NaN,1,NaN,NaN,NaN,1,NaN
9,Trumpeter Swan,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Canada Goose,356,NaN,50,NaN,NaN,NaN,NaN,67,NaN,...,28,15,14,NaN,6,NaN,NaN,7,NaN,NaN
11,American Wigeon,30,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN,...,NaN,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Mallard,677,NaN,120,NaN,NaN,NaN,NaN,105,NaN,...,66,70,37,9,3,NaN,NaN,1,26,6
13,Northern Pintail,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Green-winged Teal,17,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Bufflehead,45,NaN,2,4,NaN,NaN,NaN,NaN,NaN,...,2,2,2,1,4,NaN,NaN,15,5,NaN
16,Common Goldeneye,11,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN
17,Barrrow's Goldeneye,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
18,Hooded Merganser,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,2
19,Common Merganser,4,1,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
20,Bald Eagle,8,NaN,1,1,NaN,NaN,2,NaN,NaN,...,NaN,2,NaN,1,NaN,NaN,NaN,1,NaN,NaN
21,Cooper's Hawk,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Accipiter sp.,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
23,Red-tailed Hawk,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Hawk Species,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
25,American Coot,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Mew Gull,6,1,NaN,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Glaucous-winged Gull,429,4,NaN,1,NaN,1,NaN,60,NaN,...,NaN,NaN,35,NaN,NaN,NaN,NaN,328,NaN,NaN
28,"Gull, sp.",74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,74,NaN,NaN,NaN,NaN
29,Rock Dove,17,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,NaN
30,Eurasian Collared-Dove,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
31,Short-eared Owl,1,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Anna's Hummingbird,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
33,Belted Kingfisher,2,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
34,,Total,OE,WD,SR,TD1,TD2,TD3,EF1,EF2,...,EC,EM,BP,NF1,NF2,SA,IM,MC1,MC2,DW
35,,Total,OE,WD,SR,TD1,TD2,TD3,EF1,EF2,...,EC,EM,BP,NF1,NF2,SA,IM,MC1,MC2,DW
36,Downy Woodpecker,6,NaN,NaN,NaN,1,3,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
37,Hairy Woodpecker,2,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Northern Flicker,9,NaN,NaN,NaN,NaN,NaN,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,4
39,Steller's Jay,34,NaN,NaN,NaN,NaN,1,NaN,NaN,2,...,NaN,NaN,NaN,5,3,9,NaN,NaN,NaN,7
40,Northwestern Crow,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8,NaN,1,3,NaN,14,NaN,6
41,Common Raven,68,NaN,NaN,NaN,2,9,32,4,4,...,NaN,NaN,5,4,4,1,NaN,3,NaN,NaN
42,Black-capped Chickadee,55,NaN,NaN,NaN,2,1,NaN,NaN,NaN,...,NaN,2,18,4,2,6,NaN,8,NaN,8
43,Chestnut-backed Chickadee,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,5
44,Brown Creeper,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1
45,Winter Wren (Pacific),1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
46,American Dipper,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
47,Golden-crowned Kinglet,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN
48,Varied Thrush,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,3,NaN,NaN,NaN,2
49,Bohemian Waxwing,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
50,Spotted Towhee,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10,1,3,2,NaN,1,NaN,10
51,Fox Sparrow,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,1
52,Song Sparrow,65,NaN,NaN,NaN,3,6,NaN,6,1,...,1,1,3,NaN,7,14,NaN,5,4,13
53,Dark-eyed Junco,88,NaN,NaN,NaN,4,2,NaN,NaN,NaN,...,NaN,NaN,50,NaN,NaN,NaN,NaN,1,NaN,21
54,Red-winged Blackbird,78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78
55,House Finch,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,4
56,Pine Siskin,149,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,3,NaN,NaN,120,NaN,NaN,NaN,25
57,House Sparrow,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN
58,,Total,OE,WD,SR,TD1,TD2,TD3,EF1,EF2,...,EC,EM,BP,NF1,NF2,SA,IM,MC1,MC2,DW
59,Totals,2393,36,173,16,12,24,35,264,9,...,103,112,203,27,34,243,0,404,36,199

In [4]:
info_1 = df.iloc[0,0]
info_2 = df.iloc[1,0]
info_3 = df.iloc[2,0]
info_4 = df.iloc[3,0]
info = info_1 + '  ' + info_2 + '  ' + info_3 + '  ' + info_4 + '  '

In [5]:
observers_match = re.search(r'(Observers: +)([\w -,]+\w+)(   *)', info)
observers = observers_match.group(2)
observers

'Dave Lassmann, Judith Vetsch, Patrick MacNamara, Chris Murrell, Grant Danielson, Sophie Vielfaure, Karl Ricker, Tiffany Brunke, Kyle Kulas, Chris Dale'

In [6]:
equipment_match = re.search(r'(Equipment: +)([\w -]+\w+)(   *)', info)
equipment = equipment_match.group(2)
equipment

'scope - binoculars only'

In [7]:
tide_movement_match = re.search(r'(Tide Movement: +)([\w -]+\w+)(   *)', info)
tide_movement = tide_movement_match.group(2)
tide_movement

'falling'

In [8]:
tide_state_match = re.search(r'(Tide State: +)([\w -]+\w+)(   *)', info)
if tide_state_match:
    tide_state = tide_state_match.group(2)
    tide_state

In [9]:
sky_match = re.search(r'(Sky: +)([\w -]+\w+)(   *)', info)
sky = sky_match.group(2)
sky

'clear'

In [10]:
sea_state_match = re.search(r'(Sea State: +)([\w -]+\w+)(   *)', info)
sea_state = sea_state_match.group(2)
sea_state

'calm - ripple - chop'

In [11]:
info

'Date: January 9, 2022   Start: 08:30    Finish: 2:00     Sky: clear          Precip: none      Sea State:  calm - ripple - chop  Tide State: high      Tide Movement: falling      Equipment:  scope - binoculars only  Observers: Dave Lassmann, Judith Vetsch, Patrick MacNamara, Chris Murrell, Grant Danielson, Sophie Vielfaure, Karl Ricker, Tiffany Brunke, Kyle Kulas, Chris Dale    '

In [12]:
date_match = re.search(r'(Date:\s+)([\w -.,]+\w+)(   *)', info)
date = date_match.group(2)
date

'January 9, 2022'

In [13]:
start_match = re.search(r'(Start:\s+)(\w+:\w+)(   *)', info_1)
start = start_match.group(2)
start

'08:30'

In [14]:
finish_match = re.search(r'(Finish:\s+)(\w+:\w+)(   *)', info_1)
finish = finish_match.group(2)
finish

'2:00'

In [15]:
precip_match = re.search(r'(Precip: +)([\w -]+\w+)(   *)', info)
precip = precip_match.group(2)
precip

'none'

In [16]:
# get the header row
columns = df.columns
df[columns[2]] = df[columns[2]].astype('str')
header_idx = df[df[2].str.contains(r'OE', regex=True, na=False)].index
header_idx[0]

4

In [17]:
# get the notes index
columns = df.columns
df[columns[0]] = df[columns[0]].astype('str')
notes_idx = df[df[columns[0]].str.contains(r'Notes:', regex=True, na=False)].index
try:
    notes_idx[0]
except IndexError:
    pass

In [20]:
df1 = pd.read_excel(file_path,  sheet_name='Jan', header=header_idx[0])
columns = df1.columns
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Species: 48  52 non-null     object
 1   Total        55 non-null     object
 2   OE           10 non-null     object
 3   WD           8 non-null      object
 4   SR           11 non-null     object
 5   TD1          9 non-null      object
 6   TD2          12 non-null     object
 7   TD3          7 non-null      object
 8   EF1          15 non-null     object
 9   EF2          9 non-null      object
 10  CC           12 non-null     object
 11  CS           16 non-null     object
 12  EC           9 non-null      object
 13  EM           14 non-null     object
 14  BP           21 non-null     object
 15  NF1          13 non-null     object
 16  NF2          14 non-null     object
 17  SA           19 non-null     object
 18  IM           4 non-null      object
 19  MC1          22 non-null     object
 20  MC2          8 non-null      object
 21  DW           25 non-null     object
dtypes: object(22)
memory usage: 9.6+ KB

In [21]:
df1

,Species: 48,Total,OE,WD,SR,TD1,TD2,TD3,EF1,EF2,...,EC,EM,BP,NF1,NF2,SA,IM,MC1,MC2,DW
0,Pied-billed Grebe,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Double-crested Cormorant,17,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN
2,Pelagic Cormorant,5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Great Blue Heron,15,NaN,NaN,NaN,NaN,NaN,1,3,NaN,...,NaN,9,NaN,NaN,1,NaN,NaN,NaN,1,NaN
4,Trumpeter Swan,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Canada Goose,356,NaN,50,NaN,NaN,NaN,NaN,67,NaN,...,28,15,14,NaN,6,NaN,NaN,7,NaN,NaN
6,American Wigeon,30,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN,...,NaN,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Mallard,677,NaN,120,NaN,NaN,NaN,NaN,105,NaN,...,66,70,37,9,3,NaN,NaN,1,26,6
8,Northern Pintail,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Green-winged Teal,17,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Bufflehead,45,NaN,2,4,NaN,NaN,NaN,NaN,NaN,...,2,2,2,1,4,NaN,NaN,15,5,NaN
11,Common Goldeneye,11,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN
12,Barrrow's Goldeneye,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
13,Hooded Merganser,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,2
14,Common Merganser,4,1,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
15,Bald Eagle,8,NaN,1,1,NaN,NaN,2,NaN,NaN,...,NaN,2,NaN,1,NaN,NaN,NaN,1,NaN,NaN
16,Cooper's Hawk,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Accipiter sp.,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
18,Red-tailed Hawk,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Hawk Species,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
20,American Coot,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Mew Gull,6,1,NaN,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Glaucous-winged Gull,429,4,NaN,1,NaN,1,NaN,60,NaN,...,NaN,NaN,35,NaN,NaN,NaN,NaN,328,NaN,NaN
23,"Gull, sp.",74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,74,NaN,NaN,NaN,NaN
24,Rock Dove,17,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,NaN
25,Eurasian Collared-Dove,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
26,Short-eared Owl,1,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Anna's Hummingbird,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
28,Belted Kingfisher,2,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
29,NaN,Total,OE,WD,SR,TD1,TD2,TD3,EF1,EF2,...,EC,EM,BP,NF1,NF2,SA,IM,MC1,MC2,DW
30,NaN,Total,OE,WD,SR,TD1,TD2,TD3,EF1,EF2,...,EC,EM,BP,NF1,NF2,SA,IM,MC1,MC2,DW
31,Downy Woodpecker,6,NaN,NaN,NaN,1,3,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
32,Hairy Woodpecker,2,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Northern Flicker,9,NaN,NaN,NaN,NaN,NaN,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,4
34,Steller's Jay,34,NaN,NaN,NaN,NaN,1,NaN,NaN,2,...,NaN,NaN,NaN,5,3,9,NaN,NaN,NaN,7
35,Northwestern Crow,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8,NaN,1,3,NaN,14,NaN,6
36,Common Raven,68,NaN,NaN,NaN,2,9,32,4,4,...,NaN,NaN,5,4,4,1,NaN,3,NaN,NaN
37,Black-capped Chickadee,55,NaN,NaN,NaN,2,1,NaN,NaN,NaN,...,NaN,2,18,4,2,6,NaN,8,NaN,8
38,Chestnut-backed Chickadee,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,5
39,Brown Creeper,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1
40,Winter Wren (Pacific),1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
41,American Dipper,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
42,Golden-crowned Kinglet,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN
43,Varied Thrush,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,3,NaN,NaN,NaN,2
44,Bohemian Waxwing,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
45,Spotted Towhee,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10,1,3,2,NaN,1,NaN,10
46,Fox Sparrow,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,1
47,Song Sparrow,65,NaN,NaN,NaN,3,6,NaN,6,1,...,1,1,3,NaN,7,14,NaN,5,4,13
48,Dark-eyed Junco,88,NaN,NaN,NaN,4,2,NaN,NaN,NaN,...,NaN,NaN,50,NaN,NaN,NaN,NaN,1,NaN,21
49,Red-winged Blackbird,78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78
50,House Finch,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,4
51,Pine Siskin,149,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,3,NaN,NaN,120,NaN,NaN,NaN,25
52,House Sparrow,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN
53,NaN,Total,OE,WD,SR,TD1,TD2,TD3,EF1,EF2,...,EC,EM,BP,NF1,NF2,SA,IM,MC1,MC2,DW
54,Totals,2393,36,173,16,12,24,35,264,9,...,103,112,203,27,34,243,0,404,36,199

In [22]:
# drop notes rows
try:
    df1 = df1[:(notes_idx[0]-header_idx[0]-1)]
except IndexError:
    pass

In [23]:
# Drop nulls in the species column
df2 = df1.dropna(subset=[columns[0]])

In [24]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, 0 to 54
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Species: 48  52 non-null     object
 1   Total        52 non-null     object
 2   OE           7 non-null      object
 3   WD           5 non-null      object
 4   SR           8 non-null      object
 5   TD1          6 non-null      object
 6   TD2          9 non-null      object
 7   TD3          4 non-null      object
 8   EF1          12 non-null     object
 9   EF2          6 non-null      object
 10  CC           9 non-null      object
 11  CS           13 non-null     object
 12  EC           6 non-null      object
 13  EM           11 non-null     object
 14  BP           18 non-null     object
 15  NF1          10 non-null     object
 16  NF2          11 non-null     object
 17  SA           16 non-null     object
 18  IM           1 non-null      object
 19  MC1          19 non-null     object
 20  MC2          5 non-null      object
 21  DW           22 non-null     object
dtypes: object(22)
memory usage: 9.3+ KB

In [25]:
# Drop the totals column. This will be calculated later with pandas
df2 = df2.drop(columns='Total')

In [26]:
# fill species count nulls with zero. Then sort by species alphabetically 
df2 = df2.fillna(0)
df2 = df2.sort_values([columns[0]])

In [27]:
df2

,Species: 48,OE,WD,SR,TD1,TD2,TD3,EF1,EF2,CC,...,EC,EM,BP,NF1,NF2,SA,IM,MC1,MC2,DW
17,Accipiter sp.,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
20,American Coot,0,0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,0
41,American Dipper,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
6,American Wigeon,0,0,0,0,0,0,12,0,8,...,0,8,2,0,0,0,0,0,0,0
27,Anna's Hummingbird,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15,Bald Eagle,0,1,1,0,0,2,0,0,0,...,0,2,0,1,0,0,0,1,0,0
12,Barrrow's Goldeneye,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
28,Belted Kingfisher,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
37,Black-capped Chickadee,0,0,0,2,1,0,0,0,0,...,0,2,18,4,2,6,0,8,0,8
44,Bohemian Waxwing,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
39,Brown Creeper,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
10,Bufflehead,0,2,4,0,0,0,0,0,0,...,2,2,2,1,4,0,0,15,5,0
5,Canada Goose,0,50,0,0,0,0,67,0,137,...,28,15,14,0,6,0,0,7,0,0
38,Chestnut-backed Chickadee,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,5
11,Common Goldeneye,0,0,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,0,0
14,Common Merganser,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
36,Common Raven,0,0,0,2,9,32,4,4,0,...,0,0,5,4,4,1,0,3,0,0
16,Cooper's Hawk,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
48,Dark-eyed Junco,0,0,0,4,2,0,0,0,0,...,0,0,50,0,0,0,0,1,0,21
1,Double-crested Cormorant,15,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
31,Downy Woodpecker,0,0,0,1,3,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
25,Eurasian Collared-Dove,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
46,Fox Sparrow,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
22,Glaucous-winged Gull,4,0,1,0,1,0,60,0,0,...,0,0,35,0,0,0,0,328,0,0
42,Golden-crowned Kinglet,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,4,0,0,0,0
3,Great Blue Heron,0,0,0,0,0,1,3,0,0,...,0,9,0,0,1,0,0,0,1,0
9,Green-winged Teal,0,0,0,0,0,0,4,0,7,...,6,0,0,0,0,0,0,0,0,0
23,"Gull, sp.",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,74,0,0,0,0
32,Hairy Woodpecker,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Hawk Species,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,Hooded Merganser,0,0,0,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,2
50,House Finch,0,0,0,0,0,0,0,0,0,...,0,0,9,0,0,0,0,0,0,4
52,House Sparrow,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,0,0
7,Mallard,0,120,0,0,0,0,105,0,97,...,66,70,37,9,3,0,0,1,26,6
21,Mew Gull,1,0,2,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
33,Northern Flicker,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,3,0,0,0,4
8,Northern Pintail,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0
35,Northwestern Crow,0,0,0,0,0,0,0,0,0,...,0,0,8,0,1,3,0,14,0,6
2,Pelagic Cormorant,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,Pied-billed Grebe,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
51,Pine Siskin,0,0,0,0,1,0,0,0,0,...,0,0,3,0,0,120,0,0,0,25
18,Red-tailed Hawk,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
49,Red-winged Blackbird,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,78
24,Rock Dove,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,7,0,0
26,Short-eared Owl,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
47,Song Sparrow,0,0,0,3,6,0,6,1,0,...,1,1,3,0,7,14,0,5,4,13
45,Spotted Towhee,0,0,0,0,0,0,0,0,0,...,0,0,10,1,3,2,0,1,0,10
34,Steller's Jay,0,0,0,0,1,0,0,2,0,...,0,0,0,5,3,9,0,0,0,7
54,Totals,36,173,16,12,24,35,264,9,256,...,103,112,203,27,34,243,0,404,36,199
4,Trumpeter Swan,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
43,Varied Thrush,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,3,0,0,0,2
40,Winter Wren (Pacific),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [28]:
# Set the index to species and remove the index name
df2 = df2.set_index(columns[0])
df2.index.name=None

In [29]:
df2

,OE,WD,SR,TD1,TD2,TD3,EF1,EF2,CC,CS,EC,EM,BP,NF1,NF2,SA,IM,MC1,MC2,DW
Accipiter sp.,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
American Coot,0,0,0,0,0,0,0,0,4,1,0,0,0,0,0,0,0,0,0,0
American Dipper,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0
American Wigeon,0,0,0,0,0,0,12,0,8,0,0,8,2,0,0,0,0,0,0,0
Anna's Hummingbird,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
Bald Eagle,0,1,1,0,0,2,0,0,0,0,0,2,0,1,0,0,0,1,0,0
Barrrow's Goldeneye,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0
Belted Kingfisher,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
Black-capped Chickadee,0,0,0,2,1,0,0,0,0,4,0,2,18,4,2,6,0,8,0,8
Bohemian Waxwing,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
Brown Creeper,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
Bufflehead,0,2,4,0,0,0,0,0,0,8,2,2,2,1,4,0,0,15,5,0
Canada Goose,0,50,0,0,0,0,67,0,137,32,28,15,14,0,6,0,0,7,0,0
Chestnut-backed Chickadee,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,5
Common Goldeneye,0,0,6,0,0,0,0,0,0,2,0,0,0,0,0,0,0,3,0,0
Common Merganser,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0
Common Raven,0,0,0,2,9,32,4,4,0,0,0,0,5,4,4,1,0,3,0,0
Cooper's Hawk,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
Dark-eyed Junco,0,0,0,4,2,0,0,0,0,10,0,0,50,0,0,0,0,1,0,21
Double-crested Cormorant,15,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
Downy Woodpecker,0,0,0,1,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
Eurasian Collared-Dove,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
Fox Sparrow,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
Glaucous-winged Gull,4,0,1,0,1,0,60,0,0,0,0,0,35,0,0,0,0,328,0,0
Golden-crowned Kinglet,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,4,0,0,0,0
Great Blue Heron,0,0,0,0,0,1,3,0,0,0,0,9,0,0,1,0,0,0,1,0
Green-winged Teal,0,0,0,0,0,0,4,0,7,0,6,0,0,0,0,0,0,0,0,0
"Gull, sp.",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,74,0,0,0,0
Hairy Woodpecker,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
Hawk Species,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
Hooded Merganser,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,2
House Finch,0,0,0,0,0,0,0,0,0,0,0,0,9,0,0,0,0,0,0,4
House Sparrow,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0
Mallard,0,120,0,0,0,0,105,0,97,137,66,70,37,9,3,0,0,1,26,6
Mew Gull,1,0,2,0,0,0,0,0,1,2,0,0,0,0,0,0,0,0,0,0
Northern Flicker,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,3,0,0,0,4
Northern Pintail,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0
Northwestern Crow,0,0,0,0,0,0,0,0,0,0,0,0,8,0,1,3,0,14,0,6
Pelagic Cormorant,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Pied-billed Grebe,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
Pine Siskin,0,0,0,0,1,0,0,0,0,0,0,0,3,0,0,120,0,0,0,25
Red-tailed Hawk,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
Red-winged Blackbird,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,78
Rock Dove,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7,0,0
Short-eared Owl,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
Song Sparrow,0,0,0,3,6,0,6,1,0,1,1,1,3,0,7,14,0,5,4,13
Spotted Towhee,0,0,0,0,0,0,0,0,0,0,0,0,10,1,3,2,0,1,0,10
Steller's Jay,0,0,0,0,1,0,0,2,0,7,0,0,0,5,3,9,0,0,0,7
Totals,36,173,16,12,24,35,264,9,256,207,103,112,203,27,34,243,0,404,36,199
Trumpeter Swan,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
Varied Thrush,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,3,0,0,0,2
Winter Wren (Pacific),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [30]:
# Remove the totals rows
df2 = df2.drop('Totals')

In [31]:
# transpose to long form
df4 = pd.DataFrame()
for species in df2.index:
    species_count = df2.loc[species]
    species_df = pd.DataFrame({'id': species_count.index, 'count': species_count.values, 'date': '2022-06', 'species': species})
    df4 = pd.concat([df4, species_df])
df4

     id  count     date                species
0    OE      0  2022-06          Accipiter sp.
1    WD      0  2022-06          Accipiter sp.
2    SR      0  2022-06          Accipiter sp.
3   TD1      0  2022-06          Accipiter sp.
4   TD2      0  2022-06          Accipiter sp.
..  ...    ...      ...                    ...
15   SA      1  2022-06  Winter Wren (Pacific)
16   IM      0  2022-06  Winter Wren (Pacific)
17  MC1      0  2022-06  Winter Wren (Pacific)
18  MC2      0  2022-06  Winter Wren (Pacific)
19   DW      0  2022-06  Winter Wren (Pacific)

[1020 rows x 4 columns]

In [32]:
# Total number of species for individual areas
total_count = df2.gt(0).sum(axis=0)
df3 = pd.DataFrame({'id': total_count.index, 'counts': total_count.values, 'date':'2022-06', 'species': 'Total Species'})
df3

     id  counts     date        species
0    OE       6  2022-06  Total Species
1    WD       4  2022-06  Total Species
2    SR       7  2022-06  Total Species
3   TD1       5  2022-06  Total Species
4   TD2       8  2022-06  Total Species
5   TD3       3  2022-06  Total Species
6   EF1      11  2022-06  Total Species
7   EF2       5  2022-06  Total Species
8    CC       8  2022-06  Total Species
9    CS      12  2022-06  Total Species
10   EC       5  2022-06  Total Species
11   EM      10  2022-06  Total Species
12   BP      17  2022-06  Total Species
13  NF1       9  2022-06  Total Species
14  NF2      10  2022-06  Total Species
15   SA      15  2022-06  Total Species
16   IM       0  2022-06  Total Species
17  MC1      18  2022-06  Total Species
18  MC2       4  2022-06  Total Species
19   DW      21  2022-06  Total Species

# Load Data from excel sheets

In [62]:
def read_excel_file(year):

    excel_df = pd.DataFrame()
    file_path = os.path.join(r'..\data\Monthly Count Records (excel versions)\SEMBC_XLS_Yearly', f'embc{year}.xlsx')
    
    for month in months:
        print(f'{year}-{month}')
        df = pd.read_excel(file_path,  sheet_name=month, header=None)
        df[0] = df[0].astype('str')
        # find header row and reload file from that row
        header_idx = df[df[2].str.contains(r'OE', regex=True, na=False)].index
        # find notes_idx
        notes_idx = df[df[0].str.contains(r'Notes:', regex=True, na=False)].index
        
        df1 = pd.read_excel(file_path,  sheet_name=month, header=header_idx[0])
        columns = df1.columns

        # drop notes rows if there are any
        try:
            df1 = df1[:(notes_idx[0]-header_idx[0]-1)]
        except IndexError:
            pass
        
        # find extra header rows and remove
        df1[columns[2]] = df1[columns[2]].astype('str')
        extra_header_idx = df1[df1[columns[2]].str.contains(r'OE', regex=True, na=False)].index
        if len(extra_header_idx) > 0:
            for header_row_idx in extra_header_idx:
                df1 = df1.drop(header_row_idx)
        
        df2 = df1.dropna(subset=[columns[0]])
        df2 = df2.drop(columns='Total')
        df2[df2.columns] = df2[df2.columns].fillna(0)
        df2 = df2.sort_values([columns[0]])
        total_idx = df2[df2[columns[0]].str.contains(r'Totals?|Overall.*', regex=True, na=False)].index
        df2 = df2.drop(total_idx)

        # drop species that start with asterisk
        asterisk_idx = df2[df2[columns[0]].str.contains(r'^\*', regex=True, na=False)].index
        df2 = df2.drop(asterisk_idx)
        df2 = df2.set_index(columns[0])
        df2.index.name=None

        # individual species count
        for species in df2.index:
            species_count = df2.loc[species]
            species_count = pd.to_numeric(species_count, errors='coerce').fillna(0)
            species_df = pd.DataFrame({'id': species_count.index, 'count': species_count.values, 'date':f'{month}-{year}', 'year': year, 'month': month,'species': species})
            excel_df = pd.concat([excel_df, species_df])

    excel_df['count'] = excel_df['count'].astype('int64')
    return excel_df

In [63]:
excel_df = pd.DataFrame()
for year in range(1999,2023):
    excel_year_df = read_excel_file(year)
    excel_df = pd.concat([excel_df, excel_year_df])

1999-Jan

1999-Feb
1999-Mar
1999-Apr
1999-May
1999-Jun
1999-Jul
1999-Aug
1999-Sep
1999-Oct
1999-Nov
1999-Dec
2000-Jan
2000-Feb
2000-Mar
2000-Apr
2000-May
2000-Jun
2000-Jul
2000-Aug
2000-Sep
2000-Oct
2000-Nov
2000-Dec
2001-Jan
2001-Feb
2001-Mar
2001-Apr
2001-May
2001-Jun
2001-Jul
2001-Aug
2001-Sep
2001-Oct
2001-Nov
2001-Dec
2002-Jan
2002-Feb
2002-Mar
2002-Apr
2002-May
2002-Jun
2002-Jul
2002-Aug
2002-Sep
2002-Oct
2002-Nov
2002-Dec
2003-Jan
2003-Feb
2003-Mar
2003-Apr
2003-May
2003-Jun
2003-Jul
2003-Aug
2003-Sep
2003-Oct
2003-Nov
2003-Dec
2004-Jan
2004-Feb
2004-Mar
2004-Apr
2004-May
2004-Jun
2004-Jul
2004-Aug
2004-Sep
2004-Oct
2004-Nov
2004-Dec
2005-Jan
2005-Feb
2005-Mar
2005-Apr
2005-May
2005-Jun
2005-Jul
2005-Aug
2005-Sep
2005-Oct
2005-Nov
2005-Dec
2006-Jan
2006-Feb
2006-Mar
2006-Apr
2006-May
2006-Jun
2006-Jul
2006-Aug
2006-Sep
2006-Oct
2006-Nov
2006-Dec
2007-Jan
2007-Feb
2007-Mar
2007-Apr
2007-May
2007-Jun
2007-Jul
2007-Aug
2007-Sep
2007-Oct
2007-Nov
2007-Dec
2008-Jan
2008-Feb
2008-Mar
2008-Apr
2008-May
2008-Jun
2008-Jul
2008-Aug
2008-Sep
2008-Oct
2008-Nov
2008-Dec
2009-Jan
2009-Feb
2009-Mar
2009-Apr
2009-May
2009-Jun
2009-Jul
2009-Aug
2009-Sep
2009-Oct
2009-Nov
2009-Dec
2010-Jan
2010-Feb
2010-Mar
2010-Apr
2010-May
2010-Jun
2010-Jul
2010-Aug
2010-Sep
2010-Oct
2010-Nov
2010-Dec
2011-Jan
2011-Feb
2011-Mar
2011-Apr
2011-May
2011-Jun
2011-Jul
2011-Aug
2011-Sep
2011-Oct
2011-Nov
2011-Dec
2012-Jan
2012-Feb
2012-Mar
2012-Apr
2012-May
2012-Jun
2012-Jul
2012-Aug
2012-Sep
2012-Oct
2012-Nov
2012-Dec
2013-Jan
2013-Feb
2013-Mar
2013-Apr
2013-May
2013-Jun
2013-Jul
2013-Aug
2013-Sep
2013-Oct
2013-Nov
2013-Dec
2014-Jan
2014-Feb
2014-Mar
2014-Apr
2014-May
2014-Jun
2014-Jul
2014-Aug
2014-Sep
2014-Oct
2014-Nov
2014-Dec
2015-Jan
2015-Feb
2015-Mar
2015-Apr
2015-May
2015-Jun
2015-Jul
2015-Aug
2015-Sep
2015-Oct
2015-Nov
2015-Dec
2016-Jan
2016-Feb
2016-Mar
2016-Apr
2016-May
2016-Jun
2016-Jul
2016-Aug
2016-Sep
2016-Oct
2016-Nov
2016-Dec
2017-Jan
2017-Feb
2017-Mar
2017-Apr
2017-May
2017-Jun
2017-Jul
2017-Aug
2017-Sep
2017-Oct
2017-Nov
2017-Dec
2018-Jan
2018-Feb
2018-Mar
2018-Apr
2018-May
2018-Jun
2018-Jul
2018-Aug
2018-Sep
2018-Oct
2018-Nov
2018-Dec
2019-Jan
2019-Feb
2019-Mar
2019-Apr
2019-May
2019-Jun
2019-Jul
2019-Aug
2019-Sep
2019-Oct
2019-Nov
2019-Dec
2020-Jan
2020-Feb
2020-Mar
2020-Apr
2020-May
2020-Jun
2020-Jul
2020-Aug
2020-Sep
2020-Oct
2020-Nov
2020-Dec
2021-Jan
2021-Feb
2021-Mar
2021-Apr
2021-May
2021-Jun
2021-Jul
2021-Aug
2021-Sep
2021-Oct
2021-Nov
2021-Dec
2022-Jan
2022-Feb
2022-Mar
2022-Apr
2022-May
2022-Jun
2022-Jul
2022-Aug
2022-Sep
2022-Oct
2022-Nov
2022-Dec

In [35]:
sorted(list(excel_df['species'].unique()))

[' Dark-eyed Junco',
 'Accipiter sp.',
 'Accipiter, sp.',
 'Accipter sp.',
 'Alcid sp.',
 'American Bittern',
 'American Coot',
 'American Crow',
 'American Crow x Northwestern Crow',
 'American Dipper',
 'American Goldfinch',
 'American Kestrel',
 'American Pipit',
 'American Redstart',
 'American Robbin',
 'American Robin',
 'American Tree Sparrow',
 'American Widgeon',
 'American Wigeion',
 'American Wigeon',
 'American redstart',
 "Anna's Hummingbird",
 'Annaâ€™s Humming Bird',
 'Annaâ€™s Hummingbird',
 'Back Swift',
 "Baird's Sandpiper",
 'Bald Eagle',
 'Band-tailed Pigeon',
 'Bank Swallow',
 'Barn Swallow',
 'Barred Owl',
 "Barrow's Goldeneye",
 'Barrows Goldeneye',
 "Barrrow's Goldeneye",
 'Belted Kingfisher',
 'Black Oystercatcher',
 'Black Swift',
 'Black Turnstone',
 'Black-and-White Warbler',
 'Black-capped Chickadee',
 'Black-headed Grosbeak',
 'Black-throated Gray Warbler',
 'Black-throated Grey Warbler',
 'Blackbird sp.',
 'Blacked-headed Grosbeak',
 'Blue Grouse',
 'Blue Grouse (Sooty)',
 'Blue-winged Teal',
 'Bohemian Waxwing',
 "Bonaparte's Gull",
 'Brandt',
 "Brandt's Cormorant",
 "Brant's Cormorant",
 "Brewer's Blackbird",
 'Brown Creeper',
 'Brown-headed Cowbird',
 'Budgerigar (Budgie)',
 'Bufflehead',
 "Bullock's Oriole",
 'Bushtit',
 'Bustit',
 'Buteo sp.',
 'Cackling Goose',
 'California (Western) Scrub-Jay',
 'California Gull',
 'California Scrub-Jay',
 'Canada Goose',
 'Canvasback',
 'Caspian Tern',
 "Cassin's (Solitary) Vireo",
 "Cassin's Finch",
 "Cassin's Vireo",
 'Cedar Wagwing',
 'Cedar Waxwing',
 'Chestnut-back Chickadee',
 'Chestnut-backed Chickadee',
 'Chickadee sp.',
 'Chipping Sparrow',
 'Cinnamon Teal',
 'Cliff Swallow',
 'Cockatoo',
 'Commen Raven',
 'Common Goldeneye',
 'Common Loon',
 'Common Merganser',
 'Common Murre',
 'Common Nighthawk',
 'Common Raven',
 'Common Redpoll',
 'Common Snipe',
 'Common Tern',
 'Common Yellowthoat',
 'Common Yellowthroat',
 "Cooper's Hawk",
 'Cormorant sp.',
 'Cormorant, sp.',
 'Corvus sp.',
 'Crossbill sp.',
 'Crow sp.',
 'Dark-eyed Junco',
 'Deer',
 'Doubel-crested Cormorant',
 'Double Crested Cormorant',
 'Double-crested Cormorant',
 'Doule-crested Cormorant',
 'Dove sp.',
 'Dowitcher sp.',
 'Downy Woodpecker',
 'Duck sp.',
 'Duck, sp',
 'Dunlin',
 'Eared Grebe',
 'Eastern Kingbird',
 'Empidonax sp.',
 'Eurasian Collar-Dove',
 'Eurasian Collared Dove',
 'Eurasian Collared-Dove',
 'Eurasian Widgeon',
 'Eurasian Wigeon',
 'European Collared-Dove',
 'European Starling',
 'Evening Goldfinch',
 'Evening Grosbeak',
 'Falcon sp.',
 'Ferruginous Hawk',
 'Finch sp.',
 'Flycatcher sp.',
 'Flycatcher, sp.',
 'Fox Sparrow',
 'Fringillidae sp.',
 'GW Gull  x Western Gull',
 'GWGullxWestern Hybrid',
 'Gadwall',
 'Glaucous-w x Western Gull',
 'Glaucous-wing x Western',
 'Glaucous-wing x Western G.',
 'Glaucous-wing.x Western G.',
 'Glaucous-winged Gull',
 'Glaucous-winged Gull x Western',
 'Glaucous-winged x Herring Gull',
 'Glaucous-winged x Western',
 'Glaucous-wingxWestern Gull',
 'Golden Eagle',
 'Golden-crowned Kinglet',
 'Golden-crowned Sparrow',
 'Goldeneye sp.',
 'Goldeneye, sp.',
 'Goose sp.',
 'Goshawk',
 'Gray Catbird',
 'Great Blue Heron',
 'Great Gray Owl',
 'Great Horned Owl',
 'Greater Scaup',
 'Greater White-fronted Goose',
 'Greater Yellowlegs',
 'Green Heron',
 'Green-winged Teal',
 'Grosbeak sp.',
 'Grouse sp.',
 'Gul sp.',
 'Gull Hybrid',
 'Gull sp.',
 'Gull, G-W x Western',
 'Gull, G-w. x Western',
 'Gull, G.w. x Western',
 'Gull, Gl.-winged x Western',
 'Gull, Glaucous x Western',
 'Gull, Glaucous-w. x Western',
 'Gull, Glaucous-wingded x Western',
 'Gull, Glaucous-winged x Western',
 'Gull, Hybrid',
 'Gull, Western x Glaucous W.',
 'Gull, Western x Glaucous-w.',
 'Gull, Western x Glaucous-wing',
 'Gull, Western x Glaucous-winged',
 'Gull, hybrid',
 'Gull, sp.',
 'Gull,Glaucous-winged x Western',
 'Hairy Woodpecker',
 "Hammond's Flycatcher",
 'Harbour Seal',
 'Harbour Seals',
 'Harlequin Duck',
 "Harris' Sparrow",
 'Hawk Species',
 'Hawk sp.',
 'Hawk, sp.',
 "Heermann's Gull",
 'Hermit Thrush',
 'Herring Gull',
 'Hooded Merganser',
 'Horned Grebe',
 'Horned Lark',
 'House Finch',
 'House Sparow',
 'House Sparrow',
 'Hummingbird sp.',
 "Hutton's Vireo",
 'Hybrid Gull,Glaucous-w. x W.',
 'Hybrid gull',
 'Iceland Gull',
 'Kestrel',
 'Killdeer',
 'Kinglet sp.',
 'Lapland Longspur',
 'Lark Sparrow',
 'Lazuli Bunting',
 'Least Flycatcher',
 'Least Sandpiper',
 'Least Sandpiper *',
 'Lesser Scaup',
 'Lesser Yellowlegs',
 "Lewis' Woodpecker",
 "Lewis's Woodpecker",
 "Lincoln's Sparow",
 "Lincoln's Sparrow",
 'Lincolnâ€™s Sparrow',
 'Long-billed Curlew',
 'Long-billed Dowitcher',
 'Long-tailed Duck',
 'Loon sp.',
 "MacGillivray's  Warbler",
 "MacGillivray's Warbler",
 'Mallard',
 'Marsh Wren',
 'Marsh Wren ',
 "McGillivray's Warbler",
 'Merlin',
 'Mew Gull',
 'Mountain Bluebird',
 'Mourning Dove',
 'Nashville Warbler',
 'Njorthern Harrier',
 'Norther Harrier',
 'Northern Flicker',
 'Northern Goshawk',
 'Northern Harrier',
 'Northern Mockingbird',
 'Northern Pintail',
 'Northern Pygmy-Owl',
 'Northern Pygmy-owl',
 'Northern Rough-winged Swallow',
 'Northern Saw-whet Owl',
 'Northern Shoveler',
 'Northern Shrike',
 'Northwestern Crow',
 'Nthn Rough-winged Swallow',
 'Nthn. Rough-Winged Swallow',
 'Nthn. Rough-winged Swallow',
 'Nthn. Rough-winges Swallow',
 'Nthrn. Rough-winged Swallow',
 'Olive-sided Flcatcher',
 'Olive-sided Flycatcher',
 'Orange-crowned Warbler',
 'Osprey',
 'Pacific Loon',
 'Pacific Slope Flycatcher',
 'Pacific Wren',
 'Pacific-Slope Flycatcher',
 'Pacific-slope Flycatcher',
 'Parasitic Jaeger',
 'Passerine sp',
 'Passerine sp.',
 'Pectoral Sandpiper',
 'Pelagic Cormorant',
 'Pelgagic Cormorant',
 'Peregrin Falcon',
 'Peregrine',
 'Peregrine Falacon',
 'Peregrine Falcon',
 'Pied -billed Grebe',
 'Pied Bil Grebe',
 'Pied-billed Grebe',
 'Pigeon sp.',
 'Pileated Wodpecker',
 'Pileated WoodPecker',
 'Pileated Woodpecker',
 'Pileated Woodpeckers',
 'Pine Grosbeak',
 'Pine Siskin',
 'Purple Finch',
 'Purple Martin',
 'Raptor sp.',
 'Raptor sp.* ',
 'Red Crossbill',
 'Red Throated Loon',
 'Red--breasted Merganser',
 'Red-Breasted Nuthatch',
 'Red-breaste Nuthatch',
 'Red-breasted Merganser',
 'Red-breasted Nuthatch',
 'Red-breasted Sapsucker',
 'Red-eyed Vireo',
 'Red-necked Grebe',
 'Red-necked Phalarope',
 'Red-tailed Hawk',
 'Red-tailed hawk',
 'Red-throated Loon',
 'Red-winged Blackbird',
 'Redhead',
 'Ring-biled Gull',
 'Ring-billed Gull',
 'Ring-necked Duck',
 'Rock Dove',
 'Rock Dove (Pigeon)',
 'Rock Dove (Rock Pigeon)',
 'Rock Pigeon',
 'Rough-legged Hawk',
 'Ruby-crowned Kinglet',
 'Ruby-crowned Kinglety',
 'Ruddy Duck',
 'Ruddy Turnstone',
 'Ruffed Grouse',
 'Rufous Hummingbird',
 'Rufous Hummngbird',
 'Rusty Blackbird',
 'Sandhill Crane',
 'Sandpiper sp.',
 'Sandpiper, sp.',
 'Savannah',
 'Savannah Sparrow',
 "Say's Phoebe",
 'Scaup Sp.',
 'Scaup sp',
 'Scaup sp.',
 'Scaup, sp.',
 'Sea Lion',
 'Seal',
 'Seals',
 'Semi-palmated Sandpiper',
 'Semipalmated Plover',
 'Semipalmated Sandpiper',
 'Sharp-Shinned Hawk',
 'Sharp-shinned Hawk',
 'Sharp-shinned Hawk (dead)',
 'Sharp-shinned Hawk*',
 'Shorebird sp.',
 'Shorebird, sp.',
 'Short-billed Dowitcher',
 'Short-blled Gull',
 'Short-eared Owl',
 'Snow Bunting',
 'Snow Goose',
 'Solitary Sandpiper',
 'Solitary Vireo',
 'Song Sparrow',
 'Songbird sp.',
 'Sooty (Blue) Grouse',
 'Sooty Grouse',
 'Sora',
 'Sparrow sp.',
 'Spotted Sandiper',
 'Spotted Sandpiper',
 'Spotted Towhee',
 "Stellar's Jay",
 'Stellarâ€™s Jay',
 "Steller's Jay",
 "Steller's Sea Lion",
 'Stellerâ€™s Jay',
 'Surf Scoter',
 "Swainson's Thrush",
 'Swainsonâ€™s Thrush',
 'Swallow sp.',
 'Swamp Sparrow',
 'Swift sp.',
 'Teal sp.',
 'Teal, sp.',
 "Thayer's Gull",
 "Townsend's Solitaire",
 "Townsend's Warbler",
 "Townsend's warbler",
 'Townsendâ€™s Warbler',
 'Tree Swallow',
 'Trumpeter Swan',
 'Tundra Swan',
 'Turkey Vulture',
 'Varied Thrush',
 "Vaux' Swift",
 "Vaux's Swift",
 'Vauxâ€™s Swift',
 'Veery',
 'Vesper Sparrow',
 'Violet-green Swallow',
 'Virginia Rail',
 'Warbler sp.',
 'Warbling Vireo',
 'Warling Vireo',
 'Western Grebe',
 'Western Gull',
 'Western Kingbird',
 'Western Meadowlark',
 'Western Sandpiper',
 'Western Tanager',
 'Western Wood Pewee',
 'Western Wood-Pewee',
 'Western Wood-peewee',
 'Western Wood-pewee',
 'Whimbrel',
 'White-Winged Crossbill',
 'White-crowned Sparrow',
 'White-throated Sparrow',
 'White-winged Crossbill',
 'White-winged Scoter',
 'Willow Flycatcher',
 "Wilson's Phalarope",
 "Wilson's Snipe",
 "Wilson's Warbler",
 'Winter (Pacific) Wren',
 'Winter Wren',
 'Winter Wren (Pacific Wren)',
 'Winter Wren (Pacific)',
 "Wison's Warbler",
 'Wood Duck',
 'Woodpecker sp',
 'Woodpecker sp.',
 'Woopecker sp.',
 'Yellow Warbler',
 'Yellow-billed Loon',
 'Yellow-headed Blackbird',
 'Yellow-rumped Warbler',
 'blackbird sp.',
 'chickadee sp',
 'chickadee sp.',
 'chickadee, sp.',
 'cormorant sp.',
 'cormorant, sp.',
 'crow sp.',
 'diving duck sp.',
 'duck sp.',
 'finch sp.',
 'finch, sp.',
 'flycatcher sp',
 'flycatcher sp.',
 'goldeneye, sp.',
 'grebe sp.',
 'grouse sp.',
 'gull sp.',
 'gull, sp.',
 'harbour seals',
 'hawk sp.',
 'hawk, sp.',
 'hummingbird sp.',
 'kinglet sp.',
 'large hawk sp.',
 'loon sp.',
 'loon, sp.',
 'merganser sp.',
 'passerine',
 'passerine sp.',
 'sandpiper sp.',
 'sandpiper, sp.',
 'scaup, sp.',
 'scoter sp.',
 'shorebird sp.',
 'sparrow sp.',
 'swallow sp',
 'swallow sp.',
 'swift sp.',
 'teal sp.',
 'warbler sp.',
 'woodpecker sp.']

In [64]:
# Replacements Dictionary to correct spelling from excel sheets
replacements = {
    'Accipter sp.': 'Accipiter sp.',
    'Accipiter, sp.': 'Accipiter sp.',
    'American Crow x Northwestern Crow': 'American Crow',
    'American Robbin': 'American Robin',
    'American Wigeion': 'American Wigeon',
    'American Widgeon': 'American Wigeon',
    'Annaâ€™s Humming Bird': "Anna's Hummingbird",
    'Annaâ€™s Hummingbird': "Anna's Hummingbird",
    'Back Swift': 'Black Swift',
    'Barrows Goldeneye': "Barrow's Goldeneye",
    "Barrrow's Goldeneye": "Barrow's Goldeneye",
    'Blacked-headed Grosbeak': 'Black-headed Grosbeak',
    'Black-throated Grey Warbler': 'Black-throated Gray Warbler',
    'Blue Grouse (Sooty)': 'Sooty Grouse',
    'Brandt': "Brandt's Cormorant",
    "Brant's Cormorant": "Brandt's Cormorant",
    'Bustit': 'Bushtit',
    'California (Western) Scrub-Jay': 'California Scrub-Jay',
    'Cedar Wagwing': 'Cedar Waxwing',
    'Chestnut-back Chickadee': 'Chestnut-backed Chickadee',
    'Common Yellowthoat': 'Common Yellowthroat',
     'Cormorant, sp.': 'Cormorant sp.',
    ' Dark-eyed Junco': 'Dark-eyed Junco',
    'Double Crested Cormorant': 'Double-crested Cormorant',
    'Doubel-crested Cormorant': 'Double-crested Cormorant',
    'Doule-crested Cormorant': 'Double-crested Cormorant',
    'Duck, sp': 'Duck sp.',
    'Eurasian Collar-Dove': 'Eurasian Collared Dove',
    'Eurasian Collared-Dove': 'Eurasian Collared Dove',
    'European Collared-Dove':'Eurasian Collared Dove',
    'Eurasian Widgeon': 'Eurasian Wigeon',
    'Flycatcher, sp.': 'Flycatcher sp.',
    'Glaucous-winged x Herring Gull': 'Gull, Glaucous-winged x Herring',
    'Gul sp.': 'Gull sp.',
    'Gull, sp.': 'Gull sp.',
    'Gull Hybrid': 'Gull, Hybrid',
    'Hybrid gull': 'Gull, Hybrid',
    'Glaucous-w x Western Gull': 'Gull, Glaucous-winged x Western',
    'Glaucous-wing x Western': 'Gull, Glaucous-winged x Western',
    'Glaucous-wing x Western G.': 'Gull, Glaucous-winged x Western',
    'Glaucous-wing.x Western G.': 'Gull, Glaucous-winged x Western',
    'Glaucous-winged Gull': 'Gull, Glaucous-winged x Western',
    'Glaucous-winged Gull x Western': 'Gull, Glaucous-winged x Western',
    'Glaucous-winged x Western': 'Gull, Glaucous-winged x Western',
    'Glaucous-wingxWestern Gull': 'Gull, Glaucous-winged x Western',
    'Gull, Western x Glaucous-wing': 'Gull, Glaucous-winged x Western',
    'Gull, Western x Glaucous-winged': 'Gull, Glaucous-winged x Western',
    'Gull,Glaucous-winged x Western': 'Gull, Glaucous-winged x Western',
    'Gull, G-W x Western': 'Gull, Glaucous-wingded x Western',
    'Gull, G-w. x Western': 'Gull, Glaucous-wingded x Western',
    'Gull, G.w. x Western': 'Gull, Glaucous-wingded x Western',
    'Gull, Gl.-winged x Western': 'Gull, Glaucous-wingded x Western',
    'Gull, Glaucous x Western': 'Gull, Glaucous-wingded x Western',
    'Gull, Glaucous-w. x Western': 'Gull, Glaucous-wingded x Western',
    'Gull, Western x Glaucous W.': 'Gull, Glaucous-wingded x Western',
    'Gull, Western x Glaucous-w.': 'Gull, Glaucous-wingded x Western',
    'Hybrid Gull,Glaucous-w. x W.': 'Gull, Glaucous-wingded x Western',
    'Goldeneye, sp.': 'Goldeneye sp.',
    'Harbour Seals': 'Harbour Seal',
    'Seal': 'Harbour Seal',
    'Seals': 'Harbour Seal',
    'Hawk Species': 'Hawk sp.',
    'Hawk, sp.': 'Hawk sp.',
    'House Sparow': 'House Sparrow',
    "Lewis' Woodpecker": "Lewis's Woodpecker",
    "Lincoln's Sparow": "Lincoln's Sparrow",
    'Lincolnâ€™s Sparrow': "Lincoln's Sparrow",
    "MacGillivray's  Warbler": "MacGillivray's Warbler",
    "McGillivray's Warbler": "MacGillivray's Warbler",
    'Marsh Wren ': 'Marsh Wren',
    'Norther Harrier': 'Northern Harrier',
    'Njorthern Harrier': 'Northern Harrier',
    'Northern Pygmy-owl': 'Northern Pygmy Owl',
    'Northern Pygmy-Owl': 'Northern Pygmy Owl',
    'Northwestern Crow': 'American Crow',
    'Nthn Rough-winged Swallow': 'Northern Rough-winged Swallow',
    'Nthn. Rough-winged Swallow': 'Northern Rough-winged Swallow',
    'Nthn. Rough-winges Swallow': 'Northern Rough-winged Swallow',
    'Nthn. Rough-Winged Swallow': 'Northern Rough-winged Swallow',
    'Nthrn. Rough-winged Swallow': 'Northern Rough-winged Swallow',
    'Olive-sided Flcatcher': 'Olive-sided Flycatcher',
    'Pacific-Slope Flycatcher': 'Pacific-slope Flycatcher',
    'Pacific Slope Flycatcher': 'Pacific-slope Flycatcher',
    'Passerine sp': 'Passerine sp.',
    'Pelgagic Cormorant': 'Pelagic Cormorant',
    'Peregrin Falcon': 'Peregrine Falcon',
    'Peregrine': 'Peregrine Falcon',
    'Peregrine Falacon': 'Peregrine Falcon',
    'Pied -billed Grebe': 'Pied-billed Grebe',
    'Pied Bil Grebe': 'Pied-billed Grebe',
    'Pileated Wodpecker': 'Pileated Woodpecker',
    'Pileated WoodPecker': 'Pileated Woodpecker',
    'Pileated Woodpeckers': 'Pileated Woodpecker',
    'Red Throated Loon': 'Red-throated Loon',
    'Red-Breasted Nuthatch': 'Red-breasted Merganser',
    'Red--breasted Merganser': 'Red-breasted Merganser',
    'Red-Breasted Nuthatch': 'Red-breasted Nuthatch',
    'Red-breaste Nuthatch': 'Red-breasted Nuthatch',
    'Red-tailed hawk': 'Red-tailed Hawk',
    'Ring-biled Gull': 'Ring-billed Gull',
    'Rock Dove': 'Pigeon',
    'Rock Dove (Pigeon)': 'Pigeon',
    'Rock Dove (Rock Pigeon)': 'Pigeon',
    'Rock Pigeon': 'Pigeon',
    'Ruby-crowned Kinglety': 'Ruby-crowned Kinglet',
    'Rufous Hummngbird': 'Rufous Hummingbird',
    'Sandpiper, sp.': 'Sandpiper sp.',
    'Savannah': 'Savannah Sparrow',
    'Scaup, sp.': 'Scaup sp.',
    'Scaup Sp.': 'Scaup sp.',
    'Scaup sp': 'Scaup sp.',
    'Semi-palmated Sandpiper':  'Semipalmated Sandpiper',
    'Sharp-Shinned Hawk': 'Sharp-shinned Hawk', 
    'Sharp-shinned Hawk*': 'Sharp-shinned Hawk',
    'Short-blled Gull': 'Short-billed Gull',
    'Shorebird, sp.': 'Shorebird sp.',
    'Sooty (Blue) Grouse': 'Sooty Grouse',
    'Spotted Sandiper': 'Spotted Sandpiper',
    "Stellar's Jay": "Steller's Jay",
    'Stellerâ€™s Jay': "Steller's Jay",
    'Stellarâ€™s Jay': "Steller's Jay",
    'Swainsonâ€™s Thrush': "Swainson's Thrush",
    'Teal, sp.': 'Teal sp.',
    'Townsendâ€™s Warbler': "Townsend's Warbler",
    "Townsend's warbler": "Townsend's Warbler",
    "Vaux' Swift": "Vaux's Swift",
    'Vauxâ€™s Swift': "Vaux's Swift",
    'Warling Vireo': 'Warbling Vireo',
    'Western Wood-Pewee': 'Western Wood Pewee',
    'Western Wood-peewee': 'Western Wood Pewee',
    'Western Wood-pewee': 'Western Wood Pewee',
    'White-Winged Crossbill': 'White-winged Crossbill',
    'Winter (Pacific) Wren': 'Pacific Wren',
    'Winter Wren': 'Pacific Wren',
    'Winter Wren (Pacific Wren)': 'Pacific Wren',
    'Winter Wren (Pacific)': 'Pacific Wren',
    "Wison's Warbler": "Wilson's Warbler",
    'Woopecker sp.': 'Woodpecker sp.',
    'Woodpecker sp': 'Woodpecker sp.',
    'chickadee sp.': 'Chickadee sp.',
    'finch sp.': 'Finch sp.',
    'gull sp.': 'Gull sp.',
    'hummingbird sp.': 'Hummingbird sp.',
    'sparrow sp.': 'Sparrow sp.',
    'swallow sp.': 'Swallow sp.',
    'blackbird sp.': 'Blackbird sp.',
    'chickadee sp': 'Chickadee sp.',
    'chickadee, sp.': 'Chickadee sp.',
    'cormorant sp.': 'Cormorant sp.',
    'cormorant, sp.': 'Cormorant sp.',
    'crow sp.': 'Crow sp.',
    'diving duck sp.': 'Diving duck sp.',
    'duck sp.': 'Duck sp.', 
    'finch, sp.': 'Finch sp.',
    'flycatcher sp': 'Flycatcher sp.',
    'flycatcher sp.': 'Flycatcher sp.',
    'goldeneye, sp.': 'Goldeneye sp.',
    'grebe sp.': 'Grebe sp.',
    'grouse sp.': 'Grouse sp.',
    'gull, sp.': 'Gull sp.',
    'harbour seals': 'Harbour Seal',
    'hawk sp.': 'Hawk sp.',
    'hawk, sp.': 'Hawk sp.',
    'kinglet sp.': 'Kinglet sp.',
    'large hawk sp.': 'Large Hawk sp.',
    'loon sp.': 'Loon sp.',
    'loon, sp.': 'Loons sp.',
    'merganser sp.': 'Merganser sp.',
    'passerine': "Passerine sp.",
    'passerine sp.': 'Passerine sp.',
    'sandpiper sp.': 'Sandpiper sp.',
    'sandpiper, sp.': 'Sandpiper sp.',
    'scaup, sp.': 'Scaup sp.',
    'scoter sp.': 'Scoter sp.',
    'shorebird sp.': 'Shorebird sp.',
    'swallow sp': 'Swallow sp.',
    'swift sp.': 'Swift sp.',
    'teal sp.': 'Teal sp.',
    'warbler sp.': 'Warbler sp.',
    'woodpecker sp.': 'Woodpecker sp.'
}

In [65]:
df = excel_df.replace(replacements)

In [66]:
spell_checked_df = df.replace(replacements)

In [67]:
sorted(list(spell_checked_df['species'].unique()))

['Accipiter sp.',
 'Alcid sp.',
 'American Bittern',
 'American Coot',
 'American Crow',
 'American Dipper',
 'American Goldfinch',
 'American Kestrel',
 'American Pipit',
 'American Redstart',
 'American Robin',
 'American Tree Sparrow',
 'American Wigeon',
 'American redstart',
 "Anna's Hummingbird",
 "Baird's Sandpiper",
 'Bald Eagle',
 'Band-tailed Pigeon',
 'Bank Swallow',
 'Barn Swallow',
 'Barred Owl',
 "Barrow's Goldeneye",
 'Belted Kingfisher',
 'Black Oystercatcher',
 'Black Swift',
 'Black Turnstone',
 'Black-and-White Warbler',
 'Black-capped Chickadee',
 'Black-headed Grosbeak',
 'Black-throated Gray Warbler',
 'Blackbird sp.',
 'Blue Grouse',
 'Blue-winged Teal',
 'Bohemian Waxwing',
 "Bonaparte's Gull",
 "Brandt's Cormorant",
 "Brewer's Blackbird",
 'Brown Creeper',
 'Brown-headed Cowbird',
 'Budgerigar (Budgie)',
 'Bufflehead',
 "Bullock's Oriole",
 'Bushtit',
 'Buteo sp.',
 'Cackling Goose',
 'California Gull',
 'California Scrub-Jay',
 'Canada Goose',
 'Canvasback',
 'Caspian Tern',
 "Cassin's (Solitary) Vireo",
 "Cassin's Finch",
 "Cassin's Vireo",
 'Cedar Waxwing',
 'Chestnut-backed Chickadee',
 'Chickadee sp.',
 'Chipping Sparrow',
 'Cinnamon Teal',
 'Cliff Swallow',
 'Cockatoo',
 'Commen Raven',
 'Common Goldeneye',
 'Common Loon',
 'Common Merganser',
 'Common Murre',
 'Common Nighthawk',
 'Common Raven',
 'Common Redpoll',
 'Common Snipe',
 'Common Tern',
 'Common Yellowthroat',
 "Cooper's Hawk",
 'Cormorant sp.',
 'Corvus sp.',
 'Crossbill sp.',
 'Crow sp.',
 'Dark-eyed Junco',
 'Deer',
 'Diving duck sp.',
 'Double-crested Cormorant',
 'Dove sp.',
 'Dowitcher sp.',
 'Downy Woodpecker',
 'Duck sp.',
 'Dunlin',
 'Eared Grebe',
 'Eastern Kingbird',
 'Empidonax sp.',
 'Eurasian Collared Dove',
 'Eurasian Wigeon',
 'European Starling',
 'Evening Goldfinch',
 'Evening Grosbeak',
 'Falcon sp.',
 'Ferruginous Hawk',
 'Finch sp.',
 'Flycatcher sp.',
 'Fox Sparrow',
 'Fringillidae sp.',
 'GW Gull  x Western Gull',
 'GWGullxWestern Hybrid',
 'Gadwall',
 'Golden Eagle',
 'Golden-crowned Kinglet',
 'Golden-crowned Sparrow',
 'Goldeneye sp.',
 'Goose sp.',
 'Goshawk',
 'Gray Catbird',
 'Great Blue Heron',
 'Great Gray Owl',
 'Great Horned Owl',
 'Greater Scaup',
 'Greater White-fronted Goose',
 'Greater Yellowlegs',
 'Grebe sp.',
 'Green Heron',
 'Green-winged Teal',
 'Grosbeak sp.',
 'Grouse sp.',
 'Gull sp.',
 'Gull, Glaucous-wingded x Western',
 'Gull, Glaucous-winged x Herring',
 'Gull, Glaucous-winged x Western',
 'Gull, Hybrid',
 'Gull, hybrid',
 'Hairy Woodpecker',
 "Hammond's Flycatcher",
 'Harbour Seal',
 'Harlequin Duck',
 "Harris' Sparrow",
 'Hawk sp.',
 "Heermann's Gull",
 'Hermit Thrush',
 'Herring Gull',
 'Hooded Merganser',
 'Horned Grebe',
 'Horned Lark',
 'House Finch',
 'House Sparrow',
 'Hummingbird sp.',
 "Hutton's Vireo",
 'Iceland Gull',
 'Kestrel',
 'Killdeer',
 'Kinglet sp.',
 'Lapland Longspur',
 'Large Hawk sp.',
 'Lark Sparrow',
 'Lazuli Bunting',
 'Least Flycatcher',
 'Least Sandpiper',
 'Least Sandpiper *',
 'Lesser Scaup',
 'Lesser Yellowlegs',
 "Lewis's Woodpecker",
 "Lincoln's Sparrow",
 'Long-billed Curlew',
 'Long-billed Dowitcher',
 'Long-tailed Duck',
 'Loon sp.',
 'Loons sp.',
 "MacGillivray's Warbler",
 'Mallard',
 'Marsh Wren',
 'Merganser sp.',
 'Merlin',
 'Mew Gull',
 'Mountain Bluebird',
 'Mourning Dove',
 'Nashville Warbler',
 'Northern Flicker',
 'Northern Goshawk',
 'Northern Harrier',
 'Northern Mockingbird',
 'Northern Pintail',
 'Northern Pygmy Owl',
 'Northern Rough-winged Swallow',
 'Northern Saw-whet Owl',
 'Northern Shoveler',
 'Northern Shrike',
 'Olive-sided Flycatcher',
 'Orange-crowned Warbler',
 'Osprey',
 'Pacific Loon',
 'Pacific Wren',
 'Pacific-slope Flycatcher',
 'Parasitic Jaeger',
 'Passerine sp.',
 'Pectoral Sandpiper',
 'Pelagic Cormorant',
 'Peregrine Falcon',
 'Pied-billed Grebe',
 'Pigeon',
 'Pigeon sp.',
 'Pileated Woodpecker',
 'Pine Grosbeak',
 'Pine Siskin',
 'Purple Finch',
 'Purple Martin',
 'Raptor sp.',
 'Raptor sp.* ',
 'Red Crossbill',
 'Red-breasted Merganser',
 'Red-breasted Nuthatch',
 'Red-breasted Sapsucker',
 'Red-eyed Vireo',
 'Red-necked Grebe',
 'Red-necked Phalarope',
 'Red-tailed Hawk',
 'Red-throated Loon',
 'Red-winged Blackbird',
 'Redhead',
 'Ring-billed Gull',
 'Ring-necked Duck',
 'Rough-legged Hawk',
 'Ruby-crowned Kinglet',
 'Ruddy Duck',
 'Ruddy Turnstone',
 'Ruffed Grouse',
 'Rufous Hummingbird',
 'Rusty Blackbird',
 'Sandhill Crane',
 'Sandpiper sp.',
 'Savannah Sparrow',
 "Say's Phoebe",
 'Scaup sp.',
 'Scoter sp.',
 'Sea Lion',
 'Semipalmated Plover',
 'Semipalmated Sandpiper',
 'Sharp-shinned Hawk',
 'Sharp-shinned Hawk (dead)',
 'Shorebird sp.',
 'Short-billed Dowitcher',
 'Short-billed Gull',
 'Short-eared Owl',
 'Snow Bunting',
 'Snow Goose',
 'Solitary Sandpiper',
 'Solitary Vireo',
 'Song Sparrow',
 'Songbird sp.',
 'Sooty Grouse',
 'Sora',
 'Sparrow sp.',
 'Spotted Sandpiper',
 'Spotted Towhee',
 "Steller's Jay",
 "Steller's Sea Lion",
 'Surf Scoter',
 "Swainson's Thrush",
 'Swallow sp.',
 'Swamp Sparrow',
 'Swift sp.',
 'Teal sp.',
 "Thayer's Gull",
 "Townsend's Solitaire",
 "Townsend's Warbler",
 'Tree Swallow',
 'Trumpeter Swan',
 'Tundra Swan',
 'Turkey Vulture',
 'Varied Thrush',
 "Vaux's Swift",
 'Veery',
 'Vesper Sparrow',
 'Violet-green Swallow',
 'Virginia Rail',
 'Warbler sp.',
 'Warbling Vireo',
 'Western Grebe',
 'Western Gull',
 'Western Kingbird',
 'Western Meadowlark',
 'Western Sandpiper',
 'Western Tanager',
 'Western Wood Pewee',
 'Whimbrel',
 'White-crowned Sparrow',
 'White-throated Sparrow',
 'White-winged Crossbill',
 'White-winged Scoter',
 'Willow Flycatcher',
 "Wilson's Phalarope",
 "Wilson's Snipe",
 "Wilson's Warbler",
 'Wood Duck',
 'Woodpecker sp.',
 'Yellow Warbler',
 'Yellow-billed Loon',
 'Yellow-headed Blackbird',
 'Yellow-rumped Warbler']

In [68]:
spell_checked_df[spell_checked_df['species'] == 'Canada Goose:  1 j in BP ']

Empty DataFrame
Columns: [id, count, date, year, month, species]
Index: []

In [69]:
# Calculate total individual bird count by area and concat
areas_total_bird_count_df = spell_checked_df.groupby(['id','year','month', 'date']).sum('count').reset_index()
areas_total_bird_count_df['species'] = 'Total Bird Count'
areas_total_added_df = pd.concat([spell_checked_df, areas_total_bird_count_df])

In [70]:
areas_total_bird_count_df

      id  year month      date  count           species
0     BP  1999   Apr  Apr-1999    155  Total Bird Count
1     BP  1999   Aug  Aug-1999    309  Total Bird Count
2     BP  1999   Dec  Dec-1999     29  Total Bird Count
3     BP  1999   Feb  Feb-1999     59  Total Bird Count
4     BP  1999   Jan  Jan-1999     51  Total Bird Count
...   ..   ...   ...       ...    ...               ...
5761  WD  2022   Mar  Mar-2022     40  Total Bird Count
5762  WD  2022   May  May-2022     15  Total Bird Count
5763  WD  2022   Nov  Nov-2022      7  Total Bird Count
5764  WD  2022   Oct  Oct-2022      8  Total Bird Count
5765  WD  2022   Sep  Sep-2022     54  Total Bird Count

[5766 rows x 6 columns]

In [71]:
# Calculate total birds across all areas
all_area_total_bird = areas_total_added_df.groupby(['year','month', 'date', 'species']).sum('count').reset_index()
all_area_total_bird['id'] = 'ALL'
all_area_total_added_df = pd.concat([areas_total_added_df, all_area_total_bird])

In [72]:
all_area_total_bird

       year month      date                species  count   id
0      1999   Apr  Apr-1999          American Coot      4  ALL
1      1999   Apr  Apr-1999          American Crow    106  ALL
2      1999   Apr  Apr-1999         American Pipit      8  ALL
3      1999   Apr  Apr-1999         American Robin    159  ALL
4      1999   Apr  Apr-1999        American Wigeon     22  ALL
...     ...   ...       ...                    ...    ...  ...
17815  2022   Sep  Sep-2022   Violet-green Swallow      1  ALL
17816  2022   Sep  Sep-2022          Virginia Rail      1  ALL
17817  2022   Sep  Sep-2022  White-crowned Sparrow     55  ALL
17818  2022   Sep  Sep-2022      Willow Flycatcher      1  ALL
17819  2022   Sep  Sep-2022  Yellow-rumped Warbler      8  ALL

[17820 rows x 6 columns]

In [73]:
all_area_total_added_df[(all_area_total_added_df['species']=='Dark-eyed Junco') & (all_area_total_added_df['year']==2013)]

        id  count      date  year month          species
0       OE      0  Jan-2013  2013   Jan  Dark-eyed Junco
1       WD      0  Jan-2013  2013   Jan  Dark-eyed Junco
2       SR      0  Jan-2013  2013   Jan  Dark-eyed Junco
3      TD1      0  Jan-2013  2013   Jan  Dark-eyed Junco
4      TD2      0  Jan-2013  2013   Jan  Dark-eyed Junco
5      TD3      0  Jan-2013  2013   Jan  Dark-eyed Junco
6      EF1      0  Jan-2013  2013   Jan  Dark-eyed Junco
7      EF2      0  Jan-2013  2013   Jan  Dark-eyed Junco
8       CC     10  Jan-2013  2013   Jan  Dark-eyed Junco
9       CS      8  Jan-2013  2013   Jan  Dark-eyed Junco
10      EC      0  Jan-2013  2013   Jan  Dark-eyed Junco
11      EM      0  Jan-2013  2013   Jan  Dark-eyed Junco
12      BP     46  Jan-2013  2013   Jan  Dark-eyed Junco
13     NF1      0  Jan-2013  2013   Jan  Dark-eyed Junco
14     NF2      0  Jan-2013  2013   Jan  Dark-eyed Junco
15      SA      5  Jan-2013  2013   Jan  Dark-eyed Junco
16      IM      0  Jan-2013  2013   Jan  Dark-eyed Junco
17     MC1     40  Jan-2013  2013   Jan  Dark-eyed Junco
18     MC2      3  Jan-2013  2013   Jan  Dark-eyed Junco
19      DW     56  Jan-2013  2013   Jan  Dark-eyed Junco
0       OE      0  Feb-2013  2013   Feb  Dark-eyed Junco
1       WD      0  Feb-2013  2013   Feb  Dark-eyed Junco
2       SR      0  Feb-2013  2013   Feb  Dark-eyed Junco
3      TD1      0  Feb-2013  2013   Feb  Dark-eyed Junco
4      TD2      0  Feb-2013  2013   Feb  Dark-eyed Junco
5      TD3      0  Feb-2013  2013   Feb  Dark-eyed Junco
6      EF1      0  Feb-2013  2013   Feb  Dark-eyed Junco
7      EF2      0  Feb-2013  2013   Feb  Dark-eyed Junco
8       CC      0  Feb-2013  2013   Feb  Dark-eyed Junco
9       CS      0  Feb-2013  2013   Feb  Dark-eyed Junco
10      EC      0  Feb-2013  2013   Feb  Dark-eyed Junco
11      EM      0  Feb-2013  2013   Feb  Dark-eyed Junco
12      BP     12  Feb-2013  2013   Feb  Dark-eyed Junco
13     NF1      0  Feb-2013  2013   Feb  Dark-eyed Junco
14     NF2      0  Feb-2013  2013   Feb  Dark-eyed Junco
15      SA      8  Feb-2013  2013   Feb  Dark-eyed Junco
16      IM      0  Feb-2013  2013   Feb  Dark-eyed Junco
17     MC1     26  Feb-2013  2013   Feb  Dark-eyed Junco
18     MC2      5  Feb-2013  2013   Feb  Dark-eyed Junco
19      DW     37  Feb-2013  2013   Feb  Dark-eyed Junco
0       OE      0  Mar-2013  2013   Mar  Dark-eyed Junco
1       WD      0  Mar-2013  2013   Mar  Dark-eyed Junco
2       SR      0  Mar-2013  2013   Mar  Dark-eyed Junco
3      TD1      0  Mar-2013  2013   Mar  Dark-eyed Junco
4      TD2      0  Mar-2013  2013   Mar  Dark-eyed Junco
5      TD3      4  Mar-2013  2013   Mar  Dark-eyed Junco
6      EF1      0  Mar-2013  2013   Mar  Dark-eyed Junco
7      EF2      0  Mar-2013  2013   Mar  Dark-eyed Junco
8       CC      5  Mar-2013  2013   Mar  Dark-eyed Junco
9       CS      0  Mar-2013  2013   Mar  Dark-eyed Junco
10      EC      5  Mar-2013  2013   Mar  Dark-eyed Junco
11      EM      0  Mar-2013  2013   Mar  Dark-eyed Junco
12      BP      7  Mar-2013  2013   Mar  Dark-eyed Junco
13     NF1      2  Mar-2013  2013   Mar  Dark-eyed Junco
14     NF2      7  Mar-2013  2013   Mar  Dark-eyed Junco
15      SA     19  Mar-2013  2013   Mar  Dark-eyed Junco
16      IM      0  Mar-2013  2013   Mar  Dark-eyed Junco
17     MC1     27  Mar-2013  2013   Mar  Dark-eyed Junco
18     MC2      0  Mar-2013  2013   Mar  Dark-eyed Junco
19      DW     39  Mar-2013  2013   Mar  Dark-eyed Junco
0       OE      0  Apr-2013  2013   Apr  Dark-eyed Junco
1       WD      0  Apr-2013  2013   Apr  Dark-eyed Junco
2       SR      0  Apr-2013  2013   Apr  Dark-eyed Junco
3      TD1      0  Apr-2013  2013   Apr  Dark-eyed Junco
4      TD2      0  Apr-2013  2013   Apr  Dark-eyed Junco
5      TD3      0  Apr-2013  2013   Apr  Dark-eyed Junco
6      EF1      0  Apr-2013  2013   Apr  Dark-eyed Junco
7      EF2     10  Apr-2013  2013   Apr  Dark-eyed Junco
8       CC      1  Apr-2013  2013   Apr  Dark-eyed Junco
9       CS     11  Apr-2013  2013   Apr  Dark-eyed Junco
10      EC      0  Apr-2013  2013   Apr  Dark-eyed Junco
11      EM      0  Apr-2013  2013   Apr  Dark-eyed Junco
12      BP      9  Apr-2013  2013   Apr  Dark-eyed Junco
13     NF1      0  Apr-2013  2013   Apr  Dark-eyed Junco
14     NF2      0  Apr-2013  2013   Apr  Dark-eyed Junco
15      SA      0  Apr-2013  2013   Apr  Dark-eyed Junco
16      IM      0  Apr-2013  2013   Apr  Dark-eyed Junco
17     MC1     19  Apr-2013  2013   Apr  Dark-eyed Junco
18     MC2      0  Apr-2013  2013   Apr  Dark-eyed Junco
19      DW     45  Apr-2013  2013   Apr  Dark-eyed Junco
0       OE      0  Jun-2013  2013   Jun  Dark-eyed Junco
1       WD      0  Jun-2013  2013   Jun  Dark-eyed Junco
2       SR      0  Jun-2013  2013   Jun  Dark-eyed Junco
3      TD1      0  Jun-2013  2013   Jun  Dark-eyed Junco
4      TD2      0  Jun-2013  2013   Jun  Dark-eyed Junco
5      TD3      0  Jun-2013  2013   Jun  Dark-eyed Junco
6      EF1      0  Jun-2013  2013   Jun  Dark-eyed Junco
7      EF2      0  Jun-2013  2013   Jun  Dark-eyed Junco
8       CC      0  Jun-2013  2013   Jun  Dark-eyed Junco
9       CS      0  Jun-2013  2013   Jun  Dark-eyed Junco
10      EC      2  Jun-2013  2013   Jun  Dark-eyed Junco
11      EM      0  Jun-2013  2013   Jun  Dark-eyed Junco
12      BP      0  Jun-2013  2013   Jun  Dark-eyed Junco
13     NF1      0  Jun-2013  2013   Jun  Dark-eyed Junco
14     NF2      0  Jun-2013  2013   Jun  Dark-eyed Junco
15      SA      0  Jun-2013  2013   Jun  Dark-eyed Junco
16      IM      0  Jun-2013  2013   Jun  Dark-eyed Junco
17     MC1      0  Jun-2013  2013   Jun  Dark-eyed Junco
18     MC2      0  Jun-2013  2013   Jun  Dark-eyed Junco
19      DW      0  Jun-2013  2013   Jun  Dark-eyed Junco
0       OE      0  Oct-2013  2013   Oct  Dark-eyed Junco
1       WD      0  Oct-2013  2013   Oct  Dark-eyed Junco
2       SR      0  Oct-2013  2013   Oct  Dark-eyed Junco
3      TD1      0  Oct-2013  2013   Oct  Dark-eyed Junco
4      TD2      0  Oct-2013  2013   Oct  Dark-eyed Junco
5      TD3      0  Oct-2013  2013   Oct  Dark-eyed Junco
6      EF1      2  Oct-2013  2013   Oct  Dark-eyed Junco
7      EF2      0  Oct-2013  2013   Oct  Dark-eyed Junco
8       CC      1  Oct-2013  2013   Oct  Dark-eyed Junco
9       CS      1  Oct-2013  2013   Oct  Dark-eyed Junco
10      EC      0  Oct-2013  2013   Oct  Dark-eyed Junco
11      EM      0  Oct-2013  2013   Oct  Dark-eyed Junco
12      BP      3  Oct-2013  2013   Oct  Dark-eyed Junco
13     NF1      0  Oct-2013  2013   Oct  Dark-eyed Junco
14     NF2      1  Oct-2013  2013   Oct  Dark-eyed Junco
15      SA      0  Oct-2013  2013   Oct  Dark-eyed Junco
16      IM      6  Oct-2013  2013   Oct  Dark-eyed Junco
17     MC1      7  Oct-2013  2013   Oct  Dark-eyed Junco
18     MC2      6  Oct-2013  2013   Oct  Dark-eyed Junco
19      DW      6  Oct-2013  2013   Oct  Dark-eyed Junco
0       OE      0  Nov-2013  2013   Nov  Dark-eyed Junco
1       WD      0  Nov-2013  2013   Nov  Dark-eyed Junco
2       SR      0  Nov-2013  2013   Nov  Dark-eyed Junco
3      TD1      0  Nov-2013  2013   Nov  Dark-eyed Junco
4      TD2      6  Nov-2013  2013   Nov  Dark-eyed Junco
5      TD3      0  Nov-2013  2013   Nov  Dark-eyed Junco
6      EF1      0  Nov-2013  2013   Nov  Dark-eyed Junco
7      EF2      0  Nov-2013  2013   Nov  Dark-eyed Junco
8       CC      0  Nov-2013  2013   Nov  Dark-eyed Junco
9       CS      0  Nov-2013  2013   Nov  Dark-eyed Junco
10      EC      1  Nov-2013  2013   Nov  Dark-eyed Junco
11      EM      0  Nov-2013  2013   Nov  Dark-eyed Junco
12      BP     13  Nov-2013  2013   Nov  Dark-eyed Junco
13     NF1      0  Nov-2013  2013   Nov  Dark-eyed Junco
14     NF2      0  Nov-2013  2013   Nov  Dark-eyed Junco
15      SA      0  Nov-2013  2013   Nov  Dark-eyed Junco
16      IM      0  Nov-2013  2013   Nov  Dark-eyed Junco
17     MC1      9  Nov-2013  2013   Nov  Dark-eyed Junco
18     MC2      6  Nov-2013  2013   Nov  Dark-eyed Junco
19      DW     18  Nov-2013  2013   Nov  Dark-eyed Junco
0       OE      0  Dec-2013  2013   Dec  Dark-eyed Junco
1       WD      0  Dec-2013  2013   Dec  Dark-eyed Junco
2       SR      0  Dec-2013  2013   Dec  Dark-eyed Junco
3      TD1      0  Dec-2013  2013   Dec  Dark-eyed Junco
4      TD2      0  Dec-2013  2013   Dec  Dark-eyed Junco
5      TD3      0  Dec-2013  2013   Dec  Dark-eyed Junco
6      EF1      0  Dec-2013  2013   Dec  Dark-eyed Junco
7      EF2      0  Dec-2013  2013   Dec  Dark-eyed Junco
8       CC      0  Dec-2013  2013   Dec  Dark-eyed Junco
9       CS      6  Dec-2013  2013   Dec  Dark-eyed Junco
10      EC      0  Dec-2013  2013   Dec  Dark-eyed Junco
11      EM      0  Dec-2013  2013   Dec  Dark-eyed Junco
12      BP      0  Dec-2013  2013   Dec  Dark-eyed Junco
13     NF1      0  Dec-2013  2013   Dec  Dark-eyed Junco
14     NF2      0  Dec-2013  2013   Dec  Dark-eyed Junco
15      SA     25  Dec-2013  2013   Dec  Dark-eyed Junco
16      IM      0  Dec-2013  2013   Dec  Dark-eyed Junco
17     MC1      0  Dec-2013  2013   Dec  Dark-eyed Junco
18     MC2     11  Dec-2013  2013   Dec  Dark-eyed Junco
19      DW     32  Dec-2013  2013   Dec  Dark-eyed Junco
10366  ALL     95  Apr-2013  2013   Apr  Dark-eyed Junco
10493  ALL     74  Dec-2013  2013   Dec  Dark-eyed Junco
10539  ALL     88  Feb-2013  2013   Feb  Dark-eyed Junco
10600  ALL    168  Jan-2013  2013   Jan  Dark-eyed Junco
10725  ALL      2  Jun-2013  2013   Jun  Dark-eyed Junco
10790  ALL    115  Mar-2013  2013   Mar  Dark-eyed Junco
10928  ALL     53  Nov-2013  2013   Nov  Dark-eyed Junco
10982  ALL     33  Oct-2013  2013   Oct  Dark-eyed Junco

In [74]:
# Calculate the number of species in alls area
# First remove "Total Bird Count" from totals
all_area_species = all_area_total_added_df[all_area_total_added_df['species']!='Total Bird Count']
all_area_total_species = all_area_species.groupby(['id', 'date', 'year', 'month']).apply(lambda x: x['count'].gt(0).sum(axis=0)).reset_index(name='count')
all_area_total_species['species'] = 'Total Species Count'
areas_and_species_totals_added_df = pd.concat([all_area_total_added_df, all_area_total_species])

In [75]:
areas_and_species_totals_added_df[(areas_and_species_totals_added_df['species']=='Total Species Count') & (areas_and_species_totals_added_df['year']==2013)]

       id  count      date  year month              species
14    ALL     74  Apr-2013  2013   Apr  Total Species Count
38    ALL     56  Aug-2013  2013   Aug  Total Species Count
62    ALL     41  Dec-2013  2013   Dec  Total Species Count
86    ALL     57  Feb-2013  2013   Feb  Total Species Count
110   ALL     63  Jan-2013  2013   Jan  Total Species Count
134   ALL     57  Jul-2013  2013   Jul  Total Species Count
158   ALL     71  Jun-2013  2013   Jun  Total Species Count
182   ALL     60  Mar-2013  2013   Mar  Total Species Count
206   ALL     74  May-2013  2013   May  Total Species Count
230   ALL     56  Nov-2013  2013   Nov  Total Species Count
254   ALL     57  Oct-2013  2013   Oct  Total Species Count
278   ALL     65  Sep-2013  2013   Sep  Total Species Count
302    BP     34  Apr-2013  2013   Apr  Total Species Count
326    BP      7  Aug-2013  2013   Aug  Total Species Count
350    BP      1  Dec-2013  2013   Dec  Total Species Count
374    BP     17  Feb-2013  2013   Feb  Total Species Count
398    BP     26  Jan-2013  2013   Jan  Total Species Count
422    BP     29  Jul-2013  2013   Jul  Total Species Count
446    BP     26  Jun-2013  2013   Jun  Total Species Count
470    BP     18  Mar-2013  2013   Mar  Total Species Count
494    BP     20  May-2013  2013   May  Total Species Count
518    BP     13  Nov-2013  2013   Nov  Total Species Count
542    BP     13  Oct-2013  2013   Oct  Total Species Count
566    BP     28  Sep-2013  2013   Sep  Total Species Count
590    CC     25  Apr-2013  2013   Apr  Total Species Count
614    CC      6  Aug-2013  2013   Aug  Total Species Count
638    CC     13  Dec-2013  2013   Dec  Total Species Count
662    CC      7  Feb-2013  2013   Feb  Total Species Count
686    CC     13  Jan-2013  2013   Jan  Total Species Count
710    CC      6  Jul-2013  2013   Jul  Total Species Count
734    CC     11  Jun-2013  2013   Jun  Total Species Count
758    CC     16  Mar-2013  2013   Mar  Total Species Count
782    CC     13  May-2013  2013   May  Total Species Count
806    CC     12  Nov-2013  2013   Nov  Total Species Count
830    CC     21  Oct-2013  2013   Oct  Total Species Count
854    CC     15  Sep-2013  2013   Sep  Total Species Count
878    CS     25  Apr-2013  2013   Apr  Total Species Count
902    CS     17  Aug-2013  2013   Aug  Total Species Count
926    CS     12  Dec-2013  2013   Dec  Total Species Count
950    CS      9  Feb-2013  2013   Feb  Total Species Count
974    CS     23  Jan-2013  2013   Jan  Total Species Count
998    CS     17  Jul-2013  2013   Jul  Total Species Count
1022   CS     22  Jun-2013  2013   Jun  Total Species Count
1046   CS     19  Mar-2013  2013   Mar  Total Species Count
1070   CS     28  May-2013  2013   May  Total Species Count
1094   CS      8  Nov-2013  2013   Nov  Total Species Count
1118   CS     14  Oct-2013  2013   Oct  Total Species Count
1142   CS     15  Sep-2013  2013   Sep  Total Species Count
1166   DW     23  Apr-2013  2013   Apr  Total Species Count
1190   DW      8  Aug-2013  2013   Aug  Total Species Count
1214   DW     12  Dec-2013  2013   Dec  Total Species Count
1238   DW     18  Feb-2013  2013   Feb  Total Species Count
1262   DW     23  Jan-2013  2013   Jan  Total Species Count
1286   DW     16  Jul-2013  2013   Jul  Total Species Count
1310   DW     21  Jun-2013  2013   Jun  Total Species Count
1334   DW     16  Mar-2013  2013   Mar  Total Species Count
1358   DW     24  May-2013  2013   May  Total Species Count
1382   DW     15  Nov-2013  2013   Nov  Total Species Count
1406   DW     13  Oct-2013  2013   Oct  Total Species Count
1430   DW     19  Sep-2013  2013   Sep  Total Species Count
1454   EC      7  Apr-2013  2013   Apr  Total Species Count
1478   EC     11  Aug-2013  2013   Aug  Total Species Count
1502   EC     14  Dec-2013  2013   Dec  Total Species Count
1526   EC     14  Feb-2013  2013   Feb  Total Species Count
1550   EC      6  Jan-2013  2013   Jan  Total Species Count
1574   EC     16  Jul-2013  2013   Jul  Total Species Count
1598   EC     34  Jun-2013  2013   Jun  Total Species Count
1622   EC     24  Mar-2013  2013   Mar  Total Species Count
1646   EC      8  May-2013  2013   May  Total Species Count
1670   EC     14  Nov-2013  2013   Nov  Total Species Count
1694   EC     19  Oct-2013  2013   Oct  Total Species Count
1718   EC      3  Sep-2013  2013   Sep  Total Species Count
1742  EF1     23  Apr-2013  2013   Apr  Total Species Count
1766  EF1     24  Aug-2013  2013   Aug  Total Species Count
1790  EF1      5  Dec-2013  2013   Dec  Total Species Count
1814  EF1      0  Feb-2013  2013   Feb  Total Species Count
1838  EF1      0  Jan-2013  2013   Jan  Total Species Count
1862  EF1     23  Jul-2013  2013   Jul  Total Species Count
1886  EF1     11  Jun-2013  2013   Jun  Total Species Count
1910  EF1     11  Mar-2013  2013   Mar  Total Species Count
1934  EF1     25  May-2013  2013   May  Total Species Count
1958  EF1     14  Nov-2013  2013   Nov  Total Species Count
1982  EF1     11  Oct-2013  2013   Oct  Total Species Count
2006  EF1     15  Sep-2013  2013   Sep  Total Species Count
2030  EF2     22  Apr-2013  2013   Apr  Total Species Count
2054  EF2     11  Aug-2013  2013   Aug  Total Species Count
2078  EF2      2  Dec-2013  2013   Dec  Total Species Count
2102  EF2     12  Feb-2013  2013   Feb  Total Species Count
2126  EF2      2  Jan-2013  2013   Jan  Total Species Count
2150  EF2     17  Jul-2013  2013   Jul  Total Species Count
2174  EF2     14  Jun-2013  2013   Jun  Total Species Count
2198  EF2     17  Mar-2013  2013   Mar  Total Species Count
2222  EF2     14  May-2013  2013   May  Total Species Count
2246  EF2     12  Nov-2013  2013   Nov  Total Species Count
2270  EF2     11  Oct-2013  2013   Oct  Total Species Count
2294  EF2      8  Sep-2013  2013   Sep  Total Species Count
2318   EM     17  Apr-2013  2013   Apr  Total Species Count
2342   EM     18  Aug-2013  2013   Aug  Total Species Count
2366   EM      7  Dec-2013  2013   Dec  Total Species Count
2390   EM      9  Feb-2013  2013   Feb  Total Species Count
2414   EM      6  Jan-2013  2013   Jan  Total Species Count
2438   EM     17  Jul-2013  2013   Jul  Total Species Count
2462   EM     18  Jun-2013  2013   Jun  Total Species Count
2486   EM      7  Mar-2013  2013   Mar  Total Species Count
2510   EM      7  May-2013  2013   May  Total Species Count
2534   EM     10  Nov-2013  2013   Nov  Total Species Count
2558   EM      6  Oct-2013  2013   Oct  Total Species Count
2582   EM     17  Sep-2013  2013   Sep  Total Species Count
2606   IM      9  Apr-2013  2013   Apr  Total Species Count
2630   IM      0  Aug-2013  2013   Aug  Total Species Count
2654   IM      3  Dec-2013  2013   Dec  Total Species Count
2678   IM      2  Feb-2013  2013   Feb  Total Species Count
2702   IM      1  Jan-2013  2013   Jan  Total Species Count
2726   IM     13  Jul-2013  2013   Jul  Total Species Count
2750   IM      7  Jun-2013  2013   Jun  Total Species Count
2774   IM      4  Mar-2013  2013   Mar  Total Species Count
2798   IM     12  May-2013  2013   May  Total Species Count
2822   IM      3  Nov-2013  2013   Nov  Total Species Count
2846   IM     11  Oct-2013  2013   Oct  Total Species Count
2870   IM      1  Sep-2013  2013   Sep  Total Species Count
2894  MC1     28  Apr-2013  2013   Apr  Total Species Count
2918  MC1     13  Aug-2013  2013   Aug  Total Species Count
2942  MC1      7  Dec-2013  2013   Dec  Total Species Count
2966  MC1     14  Feb-2013  2013   Feb  Total Species Count
2990  MC1     16  Jan-2013  2013   Jan  Total Species Count
3014  MC1     29  Jul-2013  2013   Jul  Total Species Count
3038  MC1     32  Jun-2013  2013   Jun  Total Species Count
3062  MC1     20  Mar-2013  2013   Mar  Total Species Count
3086  MC1     31  May-2013  2013   May  Total Species Count
3110  MC1     14  Nov-2013  2013   Nov  Total Species Count
3134  MC1     18  Oct-2013  2013   Oct  Total Species Count
3158  MC1     17  Sep-2013  2013   Sep  Total Species Count
3182  MC2     11  Apr-2013  2013   Apr  Total Species Count
3206  MC2      6  Aug-2013  2013   Aug  Total Species Count
3230  MC2     16  Dec-2013  2013   Dec  Total Species Count
3254  MC2     12  Feb-2013  2013   Feb  Total Species Count
3278  MC2     14  Jan-2013  2013   Jan  Total Species Count
3302  MC2     13  Jul-2013  2013   Jul  Total Species Count
3326  MC2     16  Jun-2013  2013   Jun  Total Species Count
3350  MC2     11  Mar-2013  2013   Mar  Total Species Count
3374  MC2     15  May-2013  2013   May  Total Species Count
3398  MC2     10  Nov-2013  2013   Nov  Total Species Count
3422  MC2     12  Oct-2013  2013   Oct  Total Species Count
3446  MC2     12  Sep-2013  2013   Sep  Total Species Count
3470  NF1     11  Apr-2013  2013   Apr  Total Species Count
3494  NF1      1  Aug-2013  2013   Aug  Total Species Count
3518  NF1      4  Dec-2013  2013   Dec  Total Species Count
3542  NF1     12  Feb-2013  2013   Feb  Total Species Count
3566  NF1      7  Jan-2013  2013   Jan  Total Species Count
3590  NF1      6  Jul-2013  2013   Jul  Total Species Count
3614  NF1     12  Jun-2013  2013   Jun  Total Species Count
3638  NF1     12  Mar-2013  2013   Mar  Total Species Count
3662  NF1     14  May-2013  2013   May  Total Species Count
3686  NF1      2  Nov-2013  2013   Nov  Total Species Count
3710  NF1      4  Oct-2013  2013   Oct  Total Species Count
3734  NF1      7  Sep-2013  2013   Sep  Total Species Count
3758  NF2     18  Apr-2013  2013   Apr  Total Species Count
3782  NF2      2  Aug-2013  2013   Aug  Total Species Count
3806  NF2      7  Dec-2013  2013   Dec  Total Species Count
3830  NF2     10  Feb-2013  2013   Feb  Total Species Count
3854  NF2     10  Jan-2013  2013   Jan  Total Species Count
3878  NF2      7  Jul-2013  2013   Jul  Total Species Count
3902  NF2     19  Jun-2013  2013   Jun  Total Species Count
3926  NF2     15  Mar-2013  2013   Mar  Total Species Count
3950  NF2     14  May-2013  2013   May  Total Species Count
3974  NF2      6  Nov-2013  2013   Nov  Total Species Count
3998  NF2     11  Oct-2013  2013   Oct  Total Species Count
4022  NF2     12  Sep-2013  2013   Sep  Total Species Count
4049   OE     11  Apr-2013  2013   Apr  Total Species Count
4073   OE      2  Aug-2013  2013   Aug  Total Species Count
4097   OE      6  Dec-2013  2013   Dec  Total Species Count
4121   OE     11  Feb-2013  2013   Feb  Total Species Count
4145   OE      7  Jan-2013  2013   Jan  Total Species Count
4169   OE      4  Jul-2013  2013   Jul  Total Species Count
4193   OE      8  Jun-2013  2013   Jun  Total Species Count
4217   OE      9  Mar-2013  2013   Mar  Total Species Count
4241   OE      6  May-2013  2013   May  Total Species Count
4265   OE      8  Nov-2013  2013   Nov  Total Species Count
4289   OE      7  Oct-2013  2013   Oct  Total Species Count
4313   OE      4  Sep-2013  2013   Sep  Total Species Count
4337   SA     15  Apr-2013  2013   Apr  Total Species Count
4361   SA      5  Aug-2013  2013   Aug  Total Species Count
4385   SA     16  Dec-2013  2013   Dec  Total Species Count
4409   SA     16  Feb-2013  2013   Feb  Total Species Count
4433   SA     21  Jan-2013  2013   Jan  Total Species Count
4457   SA     13  Jul-2013  2013   Jul  Total Species Count
4481   SA     25  Jun-2013  2013   Jun  Total Species Count
4505   SA     16  Mar-2013  2013   Mar  Total Species Count
4529   SA     22  May-2013  2013   May  Total Species Count
4553   SA     17  Nov-2013  2013   Nov  Total Species Count
4577   SA     16  Oct-2013  2013   Oct  Total Species Count
4601   SA     20  Sep-2013  2013   Sep  Total Species Count
4625   SR     14  Apr-2013  2013   Apr  Total Species Count
4649   SR      4  Aug-2013  2013   Aug  Total Species Count
4673   SR      8  Dec-2013  2013   Dec  Total Species Count
4697   SR     14  Feb-2013  2013   Feb  Total Species Count
4721   SR     12  Jan-2013  2013   Jan  Total Species Count
4745   SR      7  Jul-2013  2013   Jul  Total Species Count
4769   SR      6  Jun-2013  2013   Jun  Total Species Count
4793   SR     10  Mar-2013  2013   Mar  Total Species Count
4817   SR      3  May-2013  2013   May  Total Species Count
4841   SR     15  Nov-2013  2013   Nov  Total Species Count
4865   SR     14  Oct-2013  2013   Oct  Total Species Count
4889   SR     10  Sep-2013  2013   Sep  Total Species Count
4913  TD1      5  Apr-2013  2013   Apr  Total Species Count
4937  TD1      3  Aug-2013  2013   Aug  Total Species Count
4961  TD1      5  Dec-2013  2013   Dec  Total Species Count
4985  TD1      0  Feb-2013  2013   Feb  Total Species Count
5009  TD1      0  Jan-2013  2013   Jan  Total Species Count
5033  TD1      5  Jul-2013  2013   Jul  Total Species Count
5057  TD1     10  Jun-2013  2013   Jun  Total Species Count
5081  TD1      2  Mar-2013  2013   Mar  Total Species Count
5105  TD1      2  May-2013  2013   May  Total Species Count
5129  TD1      2  Nov-2013  2013   Nov  Total Species Count
5153  TD1      1  Oct-2013  2013   Oct  Total Species Count
5177  TD1      2  Sep-2013  2013   Sep  Total Species Count
5201  TD2     14  Apr-2013  2013   Apr  Total Species Count
5225  TD2     13  Aug-2013  2013   Aug  Total Species Count
5249  TD2      5  Dec-2013  2013   Dec  Total Species Count
5273  TD2      0  Feb-2013  2013   Feb  Total Species Count
5297  TD2     18  Jan-2013  2013   Jan  Total Species Count
5321  TD2     17  Jul-2013  2013   Jul  Total Species Count
5345  TD2     11  Jun-2013  2013   Jun  Total Species Count
5369  TD2      8  Mar-2013  2013   Mar  Total Species Count
5393  TD2     10  May-2013  2013   May  Total Species Count
5417  TD2      7  Nov-2013  2013   Nov  Total Species Count
5441  TD2      4  Oct-2013  2013   Oct  Total Species Count
5465  TD2      4  Sep-2013  2013   Sep  Total Species Count
5489  TD3      4  Apr-2013  2013   Apr  Total Species Count
5513  TD3      2  Aug-2013  2013   Aug  Total Species Count
5537  TD3      0  Dec-2013  2013   Dec  Total Species Count
5561  TD3      0  Feb-2013  2013   Feb  Total Species Count
5585  TD3      1  Jan-2013  2013   Jan  Total Species Count
5609  TD3      4  Jul-2013  2013   Jul  Total Species Count
5633  TD3      3  Jun-2013  2013   Jun  Total Species Count
5657  TD3      4  Mar-2013  2013   Mar  Total Species Count
5681  TD3      6  May-2013  2013   May  Total Species Count
5705  TD3      0  Nov-2013  2013   Nov  Total Species Count
5729  TD3      2  Oct-2013  2013   Oct  Total Species Count
5753  TD3      0  Sep-2013  2013   Sep  Total Species Count
5780   WD     10  Apr-2013  2013   Apr  Total Species Count
5804   WD      2  Aug-2013  2013   Aug  Total Species Count
5828   WD      0  Dec-2013  2013   Dec  Total Species Count
5852   WD      0  Feb-2013  2013   Feb  Total Species Count
5876   WD      5  Jan-2013  2013   Jan  Total Species Count
5900   WD      6  Jul-2013  2013   Jul  Total Species Count
5924   WD      3  Jun-2013  2013   Jun  Total Species Count
5948   WD      5  Mar-2013  2013   Mar  Total Species Count
5972   WD      4  May-2013  2013   May  Total Species Count
5996   WD      4  Nov-2013  2013   Nov  Total Species Count
6020   WD      2  Oct-2013  2013   Oct  Total Species Count
6044   WD      1  Sep-2013  2013   Sep  Total Species Count

In [76]:
# test_final3[test_final3['month'].isnull()]
len(areas_and_species_totals_added_df.species.unique())

295

In [77]:
# sort data with months in the proper order
df_loaded = areas_and_species_totals_added_df
df_loaded['month'] = pd.Categorical(df_loaded['month'], months)
df_loaded = df_loaded.sort_values(['year', 'month','species']).reset_index(drop=True)

In [78]:
df_loaded[(df_loaded['year']==2013) & (df_loaded['id']=='ALL') & (df_loaded['species']=='Dark-eyed Junco')]

         id  count      date  year month          species
222273  ALL    168  Jan-2013  2013   Jan  Dark-eyed Junco
223575  ALL     88  Feb-2013  2013   Feb  Dark-eyed Junco
224793  ALL    115  Mar-2013  2013   Mar  Dark-eyed Junco
226137  ALL     95  Apr-2013  2013   Apr  Dark-eyed Junco
229454  ALL      2  Jun-2013  2013   Jun  Dark-eyed Junco
234683  ALL     33  Oct-2013  2013   Oct  Dark-eyed Junco
236005  ALL     53  Nov-2013  2013   Nov  Dark-eyed Junco
237118  ALL     74  Dec-2013  2013   Dec  Dark-eyed Junco

In [79]:
# Fill in data counts of 0 for birds that were not seen in a particular month
zero_counts_added = df_loaded.copy()
for year in range(1999,2023):
    year_all_total = df_loaded[(df_loaded['year']==year) & (df_loaded['id']=='ALL')]

    # Build template to use for merging 0 counts with existing data. The 
    # dataframe has no count column. When merged with existing data, rows with 
    # a n/a in the count column had no previous count and can be filled with 0
    merge_template = pd.DataFrame()
    for specie in year_all_total.species.unique():
        temp = pd.DataFrame({'id': 'ALL', 'date': [f'{month}-{year}' for month in months], 'year': year, 'month':months, 'species': specie})
        # if specie == 'Dark-eyed Junco':
        #     print(temp)
        merge_template = pd.concat([merge_template, temp])
        
    # merge with the count and fill na with 0
    merge_df = merge_template.merge(year_all_total, how='left', on=['id', 'date', 'year', 'month', 'species']).fillna(0)

    # extract just the newly created zero counts and add to existing data
    zero_counts = merge_df[merge_df['count']==0]
    zero_counts_added = pd.concat([zero_counts_added, zero_counts])

In [80]:
zero_counts_added[(zero_counts_added['species']=='Dark-eyed Junco') & (zero_counts_added['year']==2013) & (zero_counts_added['id']=='ALL')]

         id  count      date  year month          species
222273  ALL  168.0  Jan-2013  2013   Jan  Dark-eyed Junco
223575  ALL   88.0  Feb-2013  2013   Feb  Dark-eyed Junco
224793  ALL  115.0  Mar-2013  2013   Mar  Dark-eyed Junco
226137  ALL   95.0  Apr-2013  2013   Apr  Dark-eyed Junco
229454  ALL    2.0  Jun-2013  2013   Jun  Dark-eyed Junco
234683  ALL   33.0  Oct-2013  2013   Oct  Dark-eyed Junco
236005  ALL   53.0  Nov-2013  2013   Nov  Dark-eyed Junco
237118  ALL   74.0  Dec-2013  2013   Dec  Dark-eyed Junco
256     ALL    0.0  May-2013  2013   May  Dark-eyed Junco
258     ALL    0.0  Jul-2013  2013   Jul  Dark-eyed Junco
259     ALL    0.0  Aug-2013  2013   Aug  Dark-eyed Junco
260     ALL    0.0  Sep-2013  2013   Sep  Dark-eyed Junco

In [81]:
# Sort data
df = zero_counts_added
df['month'] = pd.Categorical(df['month'], months)
df = df.sort_values(['year', 'month','species']).reset_index(drop=True)
df['count'] = df['count'].astype('int64')

In [82]:
len(df.species.unique())

295

In [83]:
# Stats for data
def get_stats_df(df):
    """Return a dataframe with some statistics"""
    stats_df = df[df['id']=='ALL']
    stats_df = stats_df.groupby(
        ['month', 'species']
        ).agg(
            mean=('count', np.mean),
            median=('count', np.median),
            std=('count', np.std),
            min=('count', np.min),
            max=('count', np.max)
        ).reset_index()

    stats_df['month'] = pd.Categorical(stats_df['month'], months)
    stats_df = stats_df.sort_values(['month','species']).reset_index(drop=True)
    
    return stats_df

In [84]:
get_stats_df(df[(df['species']== "Dark-eyed Junco") & (df['id']=='ALL')])

   month          species        mean  median        std  min  max
0    Jan  Dark-eyed Junco   99.333333    90.0  62.504029   12  217
1    Feb  Dark-eyed Junco   67.666667    67.5  38.631668    4  156
2    Mar  Dark-eyed Junco   71.041667    59.0  51.891592    0  227
3    Apr  Dark-eyed Junco  101.875000    92.5  98.383152    1  329
4    May  Dark-eyed Junco   15.750000     2.0  31.801354    0  108
5    Jun  Dark-eyed Junco    0.958333     0.0   2.053188    0    9
6    Jul  Dark-eyed Junco    0.250000     0.0   0.607919    0    2
7    Aug  Dark-eyed Junco    0.416667     0.0   0.928611    0    4
8    Sep  Dark-eyed Junco    1.333333     1.0   1.372610    0    4
9    Oct  Dark-eyed Junco   49.041667    42.0  37.835432    6  137
10   Nov  Dark-eyed Junco   82.166667    67.5  55.520201   21  268
11   Dec  Dark-eyed Junco   86.120000    81.0  49.161570    0  224

In [85]:
# 2004 has no data for Sep and Dec so those months are removed
df[((df['year']==2004) & (df['month']=='Sep') )| ((df['year']==2004) & (df['month']=='Dec'))]

         id  count      date  year month                species
99068   ALL      0  Sep-2004  2004   Sep          Accipiter sp.
99069   ALL      0  Sep-2004  2004   Sep          American Coot
99070    OE      0  Sep-2004  2004   Sep          American Crow
99071    WD      0  Sep-2004  2004   Sep          American Crow
99072    SR      0  Sep-2004  2004   Sep          American Crow
...     ...    ...       ...   ...   ...                    ...
104736  ALL      0  Dec-2004  2004   Dec       Wilson's Warbler
104737  ALL      0  Dec-2004  2004   Dec              Wood Duck
104738  ALL      0  Dec-2004  2004   Dec         Woodpecker sp.
104739  ALL      0  Dec-2004  2004   Dec         Yellow Warbler
104740  ALL      0  Dec-2004  2004   Dec  Yellow-rumped Warbler

[3021 rows x 6 columns]

In [86]:
drop_idx = df[((df['year']==2004) & (df['month']=='Sep') )| ((df['year']==2004) & (df['month']=='Dec'))].index
df = df.drop(drop_idx)

# Save data

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 405636 entries, 0 to 408656
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       405636 non-null  object
 1   count    405636 non-null  int64
 2   date     405636 non-null  object
 3   year     405636 non-null  int64
 4   month    405636 non-null  category
 5   species  405636 non-null  object
dtypes: category(1), int64(2), object(3)
memory usage: 19.0+ MB

In [88]:
df.to_csv('count_data_1999_2022.csv')

# App

read areas and mapbox token

In [3]:
with open(
    r"C:\Users\kylek\OneDrive\Documents\Code\shared_with_VM\bird_count\data\areas.json"
) as areas_file:
    areas = json.load(areas_file)
with open(
    r"C:\Users\kylek\OneDrive\Documents\Code\shared_with_VM\bird_count\.mapbox_token"
) as token_file:
    token = token_file.read()

Get Data from csv

In [4]:
df = pd.read_csv(r'C:\Users\kylek\OneDrive\Documents\Code\shared_with_VM\bird_count\bird_count\data\count_data.csv', index_col=0)

In [7]:
app = JupyterDash(__name__)

app.layout = html.Div(
    id="app-container",
    children=[
        html.Div(
            id="sidebar-container",
            children=[
                html.H1("Squamish Monthly Bird Count"),
                dcc.Tabs(
                    id="tabs",
                    value="tab-graph",
                    children=[
                        dcc.Tab(label="Graph", value="tab-graph"),
                        dcc.Tab(label="Map", value="tab-map"),
                    ],
                ),
                html.P("Select Species:"),
                        dcc.Dropdown(
                            id="species-dropdown",
                            options=sorted(df["species"].unique()),
                            value="Total Species Count",
                            clearable=False,
                        ),
                html.Div(
                    id='sidebar-content',
                    ),
            ],
        ),
        html.Div(
            id="content-container",
        ),
    ],
)

@app.callback(
    Output('sidebar-content', 'children'),
    Input('tabs', 'value')
)
def render_sidebar_content(tab):
    if tab == 'tab-map':
        return []
    elif tab == 'tab-graph':
        return [
            # html.P("Line Shape:"),
            dcc.RadioItems(
                ['spline', 'linear',],
                'spline',
                id='line-shape-radio',
                inline=True
            ),
            dcc.Checklist(
                ['Average', 'Standard Deviation'],
                [],
                id='average-checklist'
            )
        ]


@app.callback(
    Output('content-container', 'children'),
    Input('tabs', 'value')
)
def render_content(tab):
    if tab == 'tab-map':
        return dcc.Graph(
            id="count-map",
            config=dict(responsive=True),
        )
    elif tab == 'tab-graph':
        return dcc.Graph(
            id="count-graph",
            config=dict(responsive=True),
        )

@app.callback(
    Output("count-map", "figure"), 
    Input("species-dropdown", "value")
)
def update_map(species):
    dff = df[df["species"] == species]
    
    fig = px.choropleth_mapbox(
        dff,
        geojson=areas,
        locations="id",
        featureidkey="properties.id",
        color="count",
        color_continuous_scale="Purples",
        range_color=(0, dff["count"].max()),
        zoom=12.5,
        center={"lat": 49.7, "lon": -123.15},
        opacity=0.5,
        labels={"count": "Count", "id": "Area"},
        animation_frame="date",
        template="plotly_dark",
    )
    fig.update_layout(
        margin={"r": 20, "t": 20, "l": 20, "b": 20},
        mapbox_accesstoken=token,
        mapbox_style="satellite-streets",
    )
    if fig["layout"]["updatemenus"]:
        fig["layout"]["updatemenus"][0]["pad"] = dict(r=20, t=25)
        fig["layout"]["sliders"][0]["pad"] = dict(r=0, t=0, b=20)

    return fig

@app.callback(
    Output("count-graph", "figure"), 
    Input("species-dropdown", "value"),
    Input("line-shape-radio", "value"),
    Input('average-checklist', 'value'),
)
def update_graph(species, line_shape, average_checklist):
    dff = df[(df['species']== species) & (df['id']=='ALL')]
    stats_df = get_stats_df(dff)

    fig = px.line(
        dff,
        x='month',
        y='count',
        category_orders= {'month': months},
        color="year",
        color_discrete_sequence=px.colors.qualitative.Light24,
        template="plotly_dark",
        markers=True,
        line_shape=line_shape,
    )

    if 'Average' in average_checklist:
        # Average
        fig.add_trace(
            go.Scatter(
                x=stats_df['month'],
                y=stats_df['mean'], 
                mode="lines",
                line_shape=line_shape,
                name='Average',
                line={'width':4, 'color':'white'},
                showlegend=False
            )
        )
    
    if 'Standard Deviation' in average_checklist:
        # Standard deviation line
        average_plus_std = list(stats_df['mean']+stats_df['std'])
        average_minus_std = list(stats_df['mean']-stats_df['std'])
        rev_average_minus_std = average_minus_std[::-1]
        rev_average_minus_std = [x if x > 0 else 0 for x in rev_average_minus_std]

        fig.add_trace(
            go.Scatter(
                x=months+months[::-1],
                y=average_plus_std+rev_average_minus_std,
                fill='toself',
                fillcolor='rgba(255,255,255,0.3)',
                line_color='rgba(255,255,255,0)',
                mode="lines",
                line_shape=line_shape,
                name='Standard Deviation',
                line={'width':4, 'color':'white'},
                showlegend=False
            )
        )

    fig.update_layout(
        margin={"r": 20, "t": 20, "l": 20, "b": 20},
    )

    fig.data = fig.data[::-1]
    return fig



if __name__ == "__main__":
    app.run_server(debug=True)

Dash is running on http://127.0.0.1:8050/

Dash app running on http://127.0.0.1:8050/