In [1]:
import json
import re
import os
import calendar

import pandas as pd
import numpy as np
from dash import Dash, dcc, html, Input, Output
from jupyter_dash import JupyterDash
import plotly.express as px
import plotly.graph_objects as go


pd.set_option('display.max_rows', 500)
months = calendar.month_abbr[1:]

In [2]:
file_path = r'..\data\Monthly Count Records (excel versions)\SEMBC_XLS_Yearly\embc2013.xlsx'
df = pd.read_excel(file_path,  sheet_name='May', header=None)

In [3]:
df[0] = df[0].fillna('')
df

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,"Date: May 12, 2013 Start: 07:30 Finish: ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tide State: high Tide Movement: falling ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Observers: Alden Roberge, Chris Dale, Vanessa...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Wally Fletcher, Patrick MacNamara, Judith Vetsch",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Species: 71,Total,OE,WD,SR,TD1,TD2,TD3,EF1,EF2,...,EC,EM,BP,NF1,NF2,SA,IM,MC1,MC2,DW
5,Common Loon,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Pelagic Cormorant,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Great Blue Heron,9,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
8,Turkey Vulture,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
9,Canada Goose,202,37,NaN,13,NaN,NaN,NaN,90,NaN,...,15,NaN,6,NaN,NaN,NaN,NaN,25,8,NaN
10,Goose sp.,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Mallard,56,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,...,6,25,NaN,NaN,NaN,NaN,1,4,1,3
12,Bufflehead,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
13,Common Goldeneye,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Northern Shoveler,50,NaN,NaN,NaN,NaN,NaN,NaN,40,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Common Merganser,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,5,NaN
16,Osprey,3,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
17,Bald Eagle,10,4,NaN,NaN,NaN,NaN,NaN,1,1,...,NaN,NaN,1,NaN,1,1,NaN,NaN,NaN,NaN
18,Sharp-shinned Hawk,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Merlin,2,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Peregrine Falcon,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
21,American Coot,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Killdeer,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2,NaN,NaN,NaN,NaN,NaN,1,NaN,1
23,Spotted Sandpiper,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN
24,Long-billed Dowitcher,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Glaucous-winged Gull,39,2,2,6,NaN,NaN,NaN,7,NaN,...,NaN,NaN,6,NaN,3,6,NaN,4,NaN,1
26,Gull sp.,3,1,1,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Rock Dove,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4,NaN
28,Eurasian Collared-Dove,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
29,Vaux's Swift,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN
30,Rufous Hummingbird,41,NaN,NaN,NaN,NaN,2,NaN,1,3,...,NaN,NaN,6,4,3,NaN,3,1,1,13
31,Belted Kingfisher,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2,NaN,NaN,NaN,NaN,3,NaN,NaN
32,,Total,OE,WD,SR,TD1,TD2,TD3,EF1,EF2,...,EC,EM,BP,NF1,NF2,SA,IM,MC1,MC2,DW
33,,Total,OE,WD,SR,TD1,TD2,TD3,EF1,EF2,...,EC,EM,BP,NF1,NF2,SA,IM,MC1,MC2,DW
34,Hairy Woodpecker,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2,NaN,NaN,1,NaN,NaN,NaN,NaN
35,Northern Flicker,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2,1,NaN,NaN,NaN,NaN,NaN,2
36,Western Wood-Pewee,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Hammond's Flycatcher,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN
38,Eastern Kingbird,1,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Hutton's Vireo,1,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Warbling Vireo,2,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Steller's Jay,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,4
42,Northwestern Crow,43,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,...,NaN,NaN,5,NaN,2,NaN,3,12,7,6
43,Common Raven,7,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,1,NaN,2,NaN,2,NaN,NaN
44,Tree Swallow,23,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,NaN
45,Violet-green Swallow,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
46,Nthn Rough-winged Swallow,19,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,...,NaN,5,NaN,5,NaN,NaN,NaN,6,NaN,NaN
47,Barn Swallow,5,NaN,NaN,NaN,NaN,2,NaN,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Swallow sp.,15,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Black-capped Chickadee,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5,NaN,6,8,1,3,1,6
50,Chestnut-backed Chickadee,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,8,NaN,NaN,NaN,NaN
51,Winter Wren,10,NaN,NaN,NaN,NaN,NaN,2,NaN,3,...,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN
52,Ruby-crowned Kinglet,6,NaN,NaN,NaN,NaN,NaN,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,NaN
53,Swainson's Thrush,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,2,2,NaN,NaN,NaN,1
54,American Robin,125,NaN,NaN,NaN,NaN,2,9,9,6,...,3,NaN,5,2,NaN,6,2,22,14,22
55,Varied Thrush,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,2,NaN,NaN,NaN
56,European Starling,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6,NaN,NaN,NaN,NaN,3,NaN,3
57,Cedar Waxwing,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN
58,Orange-crowned Warbler,13,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,2,1,2,2,2,3
59,Yellow Warbler,6,NaN,NaN,NaN,NaN,1,NaN,2,2,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
60,Yellow-rumped Warbler,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2,NaN,4,NaN,4,4,2
61,Black-throated Gray Warbler,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Common Yellowthroat,27,NaN,NaN,NaN,NaN,3,NaN,4,NaN,...,NaN,3,NaN,6,6,1,3,NaN,NaN,NaN
63,Wilson's Warbler,10,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,2,3,NaN,NaN,NaN,NaN
64,Spotted Towhee,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,...,NaN,NaN,2,1,NaN,3,3,6,3,6
65,Savannah Sparrow,15,NaN,NaN,NaN,2,1,NaN,2,NaN,...,NaN,NaN,NaN,8,2,NaN,NaN,NaN,NaN,NaN
66,Fox Sparrow,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Song Sparrow,66,NaN,NaN,5,NaN,5,1,4,4,...,NaN,6,5,2,NaN,6,2,11,3,2
68,White-crowned Sparrow,54,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,...,2,NaN,9,NaN,NaN,NaN,NaN,22,5,4
69,Golden-crowned Sparrow,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,1,NaN,NaN
70,Western Tanager,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,Black-headed Grosbeak,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
72,Red-winged Blackbird,45,NaN,3,NaN,NaN,2,NaN,9,1,...,NaN,1,NaN,6,4,NaN,5,11,NaN,NaN
73,Brown-headed Cowbird,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,3
74,Purple Finch,10,NaN,NaN,NaN,NaN,NaN,1,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,6
75,House Finch,9,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,3
76,Red Crossbill,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,15,NaN,NaN,NaN,NaN
77,Pine Siskin,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,...,NaN,NaN,NaN,2,12,NaN,NaN,1,2,12
78,American Goldfinch,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
79,Evening Grosbeak,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
80,House Sparrow,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN
81,,Total,OE,WD,SR,TD1,TD2,TD3,EF1,EF2,...,EC,EM,BP,NF1,NF2,SA,IM,MC1,MC2,DW
82,Totals,1287,47,21,24,3,22,15,206,34,...,52,43,101,42,49,81,28,186,62,108

In [4]:
info_1 = df.iloc[0,0]
info_2 = df.iloc[1,0]
info_3 = df.iloc[2,0]
info_4 = df.iloc[3,0]
info = info_1 + '  ' + info_2 + '  ' + info_3 + '  ' + info_4 + '  '

In [5]:
observers_match = re.search(r'(Observers: +)([\w -,]+\w+)(   *)', info)
observers = observers_match.group(2)
observers

'Alden Roberge, Chris Dale, Vanessa Lambertus, Amanda Newman, Hilary Dymond, Kira Sufalka,  Wally Fletcher, Patrick MacNamara, Judith Vetsch'

In [6]:
equipment_match = re.search(r'(Equipment: +)([\w -]+\w+)(   *)', info)
equipment = equipment_match.group(2)
equipment

'scope'

In [7]:
tide_movement_match = re.search(r'(Tide Movement: +)([\w -]+\w+)(   *)', info)
tide_movement = tide_movement_match.group(2)
tide_movement

'falling'

In [8]:
tide_state_match = re.search(r'(Tide State: +)([\w -]+\w+)(   *)', info)
tide_state = tide_state_match.group(2)
tide_state

'high'

In [9]:
sky_match = re.search(r'(Sky: +)([\w -]+\w+)(   *)', info)
sky = sky_match.group(2)
sky

'overcast'

In [10]:
sea_state_match = re.search(r'(Sea State: +)([\w -]+\w+)(   *)', info)
sea_state = sea_state_match.group(2)
sea_state

'wavy'

In [11]:
date_match = re.search(r'(Date:\s+)([\w -,]+\w+)(   *)', info)
date = date_match.group(2)
date

'May 12, 2013'

In [12]:
start_match = re.search(r'(Start:\s+)(\w+:\w+)(   *)', info_1)
start = start_match.group(2)
start

'07:30'

In [13]:
finish_match = re.search(r'(Finish:\s+)(\w+:\w+)(   *)', info_1)
finish = finish_match.group(2)
finish

'12:15'

In [14]:
precip_match = re.search(r'(Precip: +)([\w -]+\w+)(   *)', info)
precip = precip_match.group(2)
precip

'rain'

In [15]:
# get the header row
idx = df[df[0].str.contains(r'Species: +\w+', regex=True, na=False)].index
idx[0]

4

In [31]:
df1 = pd.read_excel(file_path,  sheet_name='May', header=idx[0])
columns = df1.columns
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Species: 71  75 non-null     object
 1   Total        78 non-null     object
 2   OE           10 non-null     object
 3   WD           8 non-null      object
 4   SR           7 non-null      object
 5   TD1          6 non-null      object
 6   TD2          14 non-null     object
 7   TD3          10 non-null     object
 8   EF1          29 non-null     object
 9   EF2          18 non-null     object
 10  CC           17 non-null     object
 11  CS           32 non-null     object
 12  EC           12 non-null     object
 13  EM           11 non-null     object
 14  BP           24 non-null     object
 15  NF1          18 non-null     object
 16  NF2          18 non-null     object
 17  SA           26 non-null     object
 18  IM           16 non-null     object
 19  MC1          35 non-null     object
 20  MC2          19 non-null     object
 21  DW           28 non-null     object
dtypes: object(22)
memory usage: 13.5+ KB

In [18]:
df1

,Species: 71,Total,OE,WD,SR,TD1,TD2,TD3,EF1,EF2,...,EC,EM,BP,NF1,NF2,SA,IM,MC1,MC2,DW
0,Common Loon,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Pelagic Cormorant,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Great Blue Heron,9,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
3,Turkey Vulture,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
4,Canada Goose,202,37,NaN,13,NaN,NaN,NaN,90,NaN,...,15,NaN,6,NaN,NaN,NaN,NaN,25,8,NaN
5,Goose sp.,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Mallard,56,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,...,6,25,NaN,NaN,NaN,NaN,1,4,1,3
7,Bufflehead,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
8,Common Goldeneye,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Northern Shoveler,50,NaN,NaN,NaN,NaN,NaN,NaN,40,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Common Merganser,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,5,NaN
11,Osprey,3,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
12,Bald Eagle,10,4,NaN,NaN,NaN,NaN,NaN,1,1,...,NaN,NaN,1,NaN,1,1,NaN,NaN,NaN,NaN
13,Sharp-shinned Hawk,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Merlin,2,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Peregrine Falcon,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
16,American Coot,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Killdeer,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2,NaN,NaN,NaN,NaN,NaN,1,NaN,1
18,Spotted Sandpiper,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN
19,Long-billed Dowitcher,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Glaucous-winged Gull,39,2,2,6,NaN,NaN,NaN,7,NaN,...,NaN,NaN,6,NaN,3,6,NaN,4,NaN,1
21,Gull sp.,3,1,1,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Rock Dove,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4,NaN
23,Eurasian Collared-Dove,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
24,Vaux's Swift,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN
25,Rufous Hummingbird,41,NaN,NaN,NaN,NaN,2,NaN,1,3,...,NaN,NaN,6,4,3,NaN,3,1,1,13
26,Belted Kingfisher,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2,NaN,NaN,NaN,NaN,3,NaN,NaN
27,NaN,Total,OE,WD,SR,TD1,TD2,TD3,EF1,EF2,...,EC,EM,BP,NF1,NF2,SA,IM,MC1,MC2,DW
28,NaN,Total,OE,WD,SR,TD1,TD2,TD3,EF1,EF2,...,EC,EM,BP,NF1,NF2,SA,IM,MC1,MC2,DW
29,Hairy Woodpecker,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2,NaN,NaN,1,NaN,NaN,NaN,NaN
30,Northern Flicker,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2,1,NaN,NaN,NaN,NaN,NaN,2
31,Western Wood-Pewee,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Hammond's Flycatcher,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN
33,Eastern Kingbird,1,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Hutton's Vireo,1,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Warbling Vireo,2,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Steller's Jay,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,4
37,Northwestern Crow,43,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,...,NaN,NaN,5,NaN,2,NaN,3,12,7,6
38,Common Raven,7,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,1,NaN,2,NaN,2,NaN,NaN
39,Tree Swallow,23,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,NaN
40,Violet-green Swallow,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
41,Nthn Rough-winged Swallow,19,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,...,NaN,5,NaN,5,NaN,NaN,NaN,6,NaN,NaN
42,Barn Swallow,5,NaN,NaN,NaN,NaN,2,NaN,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Swallow sp.,15,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Black-capped Chickadee,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5,NaN,6,8,1,3,1,6
45,Chestnut-backed Chickadee,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,8,NaN,NaN,NaN,NaN
46,Winter Wren,10,NaN,NaN,NaN,NaN,NaN,2,NaN,3,...,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN
47,Ruby-crowned Kinglet,6,NaN,NaN,NaN,NaN,NaN,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,NaN
48,Swainson's Thrush,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,2,2,NaN,NaN,NaN,1
49,American Robin,125,NaN,NaN,NaN,NaN,2,9,9,6,...,3,NaN,5,2,NaN,6,2,22,14,22
50,Varied Thrush,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,2,NaN,NaN,NaN
51,European Starling,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6,NaN,NaN,NaN,NaN,3,NaN,3
52,Cedar Waxwing,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN
53,Orange-crowned Warbler,13,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,2,1,2,2,2,3
54,Yellow Warbler,6,NaN,NaN,NaN,NaN,1,NaN,2,2,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
55,Yellow-rumped Warbler,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2,NaN,4,NaN,4,4,2
56,Black-throated Gray Warbler,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Common Yellowthroat,27,NaN,NaN,NaN,NaN,3,NaN,4,NaN,...,NaN,3,NaN,6,6,1,3,NaN,NaN,NaN
58,Wilson's Warbler,10,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,2,3,NaN,NaN,NaN,NaN
59,Spotted Towhee,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,...,NaN,NaN,2,1,NaN,3,3,6,3,6
60,Savannah Sparrow,15,NaN,NaN,NaN,2,1,NaN,2,NaN,...,NaN,NaN,NaN,8,2,NaN,NaN,NaN,NaN,NaN
61,Fox Sparrow,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Song Sparrow,66,NaN,NaN,5,NaN,5,1,4,4,...,NaN,6,5,2,NaN,6,2,11,3,2
63,White-crowned Sparrow,54,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,...,2,NaN,9,NaN,NaN,NaN,NaN,22,5,4
64,Golden-crowned Sparrow,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,1,NaN,NaN
65,Western Tanager,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,Black-headed Grosbeak,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
67,Red-winged Blackbird,45,NaN,3,NaN,NaN,2,NaN,9,1,...,NaN,1,NaN,6,4,NaN,5,11,NaN,NaN
68,Brown-headed Cowbird,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,3
69,Purple Finch,10,NaN,NaN,NaN,NaN,NaN,1,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,6
70,House Finch,9,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,3
71,Red Crossbill,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,15,NaN,NaN,NaN,NaN
72,Pine Siskin,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,...,NaN,NaN,NaN,2,12,NaN,NaN,1,2,12
73,American Goldfinch,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
74,Evening Grosbeak,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
75,House Sparrow,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN
76,NaN,Total,OE,WD,SR,TD1,TD2,TD3,EF1,EF2,...,EC,EM,BP,NF1,NF2,SA,IM,MC1,MC2,DW
77,Totals,1287,47,21,24,3,22,15,206,34,...,52,43,101,42,49,81,28,186,62,108

In [32]:
# Drop nulls in the species column
df2 = df1.dropna(subset=[columns[0]])

In [33]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 75 entries, 0 to 77
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Species: 71  75 non-null     object
 1   Total        75 non-null     object
 2   OE           7 non-null      object
 3   WD           5 non-null      object
 4   SR           4 non-null      object
 5   TD1          3 non-null      object
 6   TD2          11 non-null     object
 7   TD3          7 non-null      object
 8   EF1          26 non-null     object
 9   EF2          15 non-null     object
 10  CC           14 non-null     object
 11  CS           29 non-null     object
 12  EC           9 non-null      object
 13  EM           8 non-null      object
 14  BP           21 non-null     object
 15  NF1          15 non-null     object
 16  NF2          15 non-null     object
 17  SA           23 non-null     object
 18  IM           13 non-null     object
 19  MC1          32 non-null     object
 20  MC2          16 non-null     object
 21  DW           25 non-null     object
dtypes: object(22)
memory usage: 13.5+ KB

In [34]:
# Drop the totals column. This will be calculated later with pandas
df2 = df2.drop(columns='Total')

In [35]:
# fill species count nulls with zero. Then sort by species alphabetically 
df2 = df2.fillna(0)
df2 = df2.sort_values([columns[0]])

In [36]:
df2

,Species: 71,OE,WD,SR,TD1,TD2,TD3,EF1,EF2,CC,...,EC,EM,BP,NF1,NF2,SA,IM,MC1,MC2,DW
16,American Coot,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
73,American Goldfinch,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49,American Robin,0,0,0,0,2,9,9,6,3,...,3,0,5,2,0,6,2,22,14,22
12,Bald Eagle,4,0,0,0,0,0,1,1,1,...,0,0,1,0,1,1,0,0,0,0
42,Barn Swallow,0,0,0,0,2,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Belted Kingfisher,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,3,0,0
44,Black-capped Chickadee,0,0,0,0,0,0,0,0,0,...,0,0,5,0,6,8,1,3,1,6
66,Black-headed Grosbeak,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
56,Black-throated Gray Warbler,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
68,Brown-headed Cowbird,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,3
7,Bufflehead,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,Canada Goose,37,0,13,0,0,0,90,0,4,...,15,0,6,0,0,0,0,25,8,0
52,Cedar Waxwing,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
45,Chestnut-backed Chickadee,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,8,0,0,0,0
8,Common Goldeneye,0,0,0,0,0,0,0,0,20,...,0,0,0,0,0,0,0,0,0,0
0,Common Loon,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Common Merganser,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,11,5,0
38,Common Raven,0,0,0,0,0,0,1,0,1,...,0,0,0,1,0,2,0,2,0,0
57,Common Yellowthroat,0,0,0,0,3,0,4,0,0,...,0,3,0,6,6,1,3,0,0,0
33,Eastern Kingbird,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Eurasian Collared-Dove,0,0,0,0,0,0,0,0,0,...,19,0,0,0,0,0,0,0,0,1
51,European Starling,0,0,0,0,0,0,0,0,0,...,0,0,6,0,0,0,0,3,0,3
74,Evening Grosbeak,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
61,Fox Sparrow,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Glaucous-winged Gull,2,2,6,0,0,0,7,0,2,...,0,0,6,0,3,6,0,4,0,1
64,Golden-crowned Sparrow,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
5,Goose sp.,0,0,0,0,0,0,0,0,0,...,0,0,26,0,0,0,0,0,0,0
2,Great Blue Heron,0,0,0,0,0,0,7,0,0,...,0,0,0,0,0,0,0,2,0,0
21,Gull sp.,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
29,Hairy Woodpecker,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,1,0,0,0,0
32,Hammond's Flycatcher,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
70,House Finch,0,0,0,0,1,0,0,0,0,...,0,0,5,0,0,0,0,0,0,3
75,House Sparrow,0,0,0,0,0,0,0,0,0,...,5,0,0,0,0,0,0,3,0,0
34,Hutton's Vireo,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,Killdeer,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,1,0,1
19,Long-billed Dowitcher,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
6,Mallard,0,0,0,0,0,0,7,0,2,...,6,25,0,0,0,0,1,4,1,3
14,Merlin,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
30,Northern Flicker,0,0,0,0,0,0,0,0,0,...,0,0,2,1,0,0,0,0,0,2
9,Northern Shoveler,0,0,0,0,0,0,40,0,0,...,0,0,0,0,0,0,0,0,0,0
37,Northwestern Crow,0,0,0,0,0,0,5,0,1,...,0,0,5,0,2,0,3,12,7,6
41,Nthn Rough-winged Swallow,0,0,0,0,0,0,2,0,0,...,0,5,0,5,0,0,0,6,0,0
53,Orange-crowned Warbler,0,0,0,0,0,0,1,0,0,...,0,0,0,0,2,1,2,2,2,3
11,Osprey,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
1,Pelagic Cormorant,0,0,0,0,0,0,0,0,0,...,0,0,4,0,0,0,0,0,0,0
15,Peregrine Falcon,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
72,Pine Siskin,0,0,0,0,0,0,0,6,0,...,0,0,0,2,12,0,0,1,2,12
69,Purple Finch,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,2,6
71,Red Crossbill,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,15,0,0,0,0
67,Red-winged Blackbird,0,3,0,0,2,0,9,1,1,...,0,1,0,6,4,0,5,11,0,0
22,Rock Dove,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,4,4,0
47,Ruby-crowned Kinglet,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,2,0,2,0,0
25,Rufous Hummingbird,0,0,0,0,2,0,1,3,1,...,0,0,6,4,3,0,3,1,1,13
60,Savannah Sparrow,0,0,0,2,1,0,2,0,0,...,0,0,0,8,2,0,0,0,0,0
13,Sharp-shinned Hawk,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
62,Song Sparrow,0,0,5,0,5,1,4,4,3,...,0,6,5,2,0,6,2,11,3,2
18,Spotted Sandpiper,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,0,0
59,Spotted Towhee,0,0,0,0,0,0,0,3,0,...,0,0,2,1,0,3,3,6,3,6
36,Steller's Jay,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,4
48,Swainson's Thrush,0,0,0,0,0,0,0,1,0,...,0,0,0,0,2,2,0,0,0,1
43,Swallow sp.,0,15,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77,Totals,47,21,24,3,22,15,206,34,41,...,52,43,101,42,49,81,28,186,62,108
39,Tree Swallow,0,0,0,0,0,0,5,0,0,...,0,0,0,0,0,0,0,8,0,0
3,Turkey Vulture,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
50,Varied Thrush,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,2,0,0,0
24,Vaux's Swift,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,6,0,0
40,Violet-green Swallow,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
35,Warbling Vireo,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
65,Western Tanager,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
31,Western Wood-Pewee,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
63,White-crowned Sparrow,0,0,0,0,3,0,0,0,1,...,2,0,9,0,0,0,0,22,5,4
58,Wilson's Warbler,0,0,0,0,0,0,1,0,0,...,0,0,0,0,2,3,0,0,0,0
46,Winter Wren,0,0,0,0,0,2,0,3,0,...,0,0,0,0,0,5,0,0,0,0
54,Yellow Warbler,0,0,0,0,1,0,2,2,0,...,0,0,0,1,0,0,0,0,0,0
55,Yellow-rumped Warbler,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,4,0,4,4,2

In [37]:
# Set the index to species and remove the index name
df2 = df2.set_index(columns[0])
df2.index.name=None

In [38]:
df2

,OE,WD,SR,TD1,TD2,TD3,EF1,EF2,CC,CS,EC,EM,BP,NF1,NF2,SA,IM,MC1,MC2,DW
American Coot,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
American Goldfinch,0,0,0,0,0,0,0,0,0,6,0,0,0,0,0,0,0,0,0,1
American Robin,0,0,0,0,2,9,9,6,3,20,3,0,5,2,0,6,2,22,14,22
Bald Eagle,4,0,0,0,0,0,1,1,1,0,0,0,1,0,1,1,0,0,0,0
Barn Swallow,0,0,0,0,2,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0
Belted Kingfisher,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,3,0,0
Black-capped Chickadee,0,0,0,0,0,0,0,0,0,6,0,0,5,0,6,8,1,3,1,6
Black-headed Grosbeak,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,2
Black-throated Gray Warbler,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
Brown-headed Cowbird,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,2,0,0,0,3
Bufflehead,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
Canada Goose,37,0,13,0,0,0,90,0,4,4,15,0,6,0,0,0,0,25,8,0
Cedar Waxwing,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0
Chestnut-backed Chickadee,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,8,0,0,0,0
Common Goldeneye,0,0,0,0,0,0,0,0,20,0,0,0,0,0,0,0,0,0,0,0
Common Loon,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Common Merganser,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,11,5,0
Common Raven,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,2,0,2,0,0
Common Yellowthroat,0,0,0,0,3,0,4,0,0,1,0,3,0,6,6,1,3,0,0,0
Eastern Kingbird,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
Eurasian Collared-Dove,0,0,0,0,0,0,0,0,0,0,19,0,0,0,0,0,0,0,0,1
European Starling,0,0,0,0,0,0,0,0,0,2,0,0,6,0,0,0,0,3,0,3
Evening Grosbeak,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
Fox Sparrow,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Glaucous-winged Gull,2,2,6,0,0,0,7,0,2,0,0,0,6,0,3,6,0,4,0,1
Golden-crowned Sparrow,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
Goose sp.,0,0,0,0,0,0,0,0,0,0,0,0,26,0,0,0,0,0,0,0
Great Blue Heron,0,0,0,0,0,0,7,0,0,0,0,0,0,0,0,0,0,2,0,0
Gull sp.,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
Hairy Woodpecker,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,1,0,0,0,0
Hammond's Flycatcher,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,2,0,0,0,0
House Finch,0,0,0,0,1,0,0,0,0,0,0,0,5,0,0,0,0,0,0,3
House Sparrow,0,0,0,0,0,0,0,0,0,0,5,0,0,0,0,0,0,3,0,0
Hutton's Vireo,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Killdeer,0,0,0,0,0,0,0,0,0,2,0,2,0,0,0,0,0,1,0,1
Long-billed Dowitcher,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0
Mallard,0,0,0,0,0,0,7,0,2,7,6,25,0,0,0,0,1,4,1,3
Merlin,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
Northern Flicker,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,0,0,0,2
Northern Shoveler,0,0,0,0,0,0,40,0,0,10,0,0,0,0,0,0,0,0,0,0
Northwestern Crow,0,0,0,0,0,0,5,0,1,2,0,0,5,0,2,0,3,12,7,6
Nthn Rough-winged Swallow,0,0,0,0,0,0,2,0,0,1,0,5,0,5,0,0,0,6,0,0
Orange-crowned Warbler,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2,1,2,2,2,3
Osprey,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0
Pelagic Cormorant,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0
Peregrine Falcon,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
Pine Siskin,0,0,0,0,0,0,0,6,0,2,0,0,0,2,12,0,0,1,2,12
Purple Finch,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,2,6
Red Crossbill,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,15,0,0,0,0
Red-winged Blackbird,0,3,0,0,2,0,9,1,1,2,0,1,0,6,4,0,5,11,0,0
Rock Dove,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,4,0
Ruby-crowned Kinglet,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,2,0,2,0,0
Rufous Hummingbird,0,0,0,0,2,0,1,3,1,3,0,0,6,4,3,0,3,1,1,13
Savannah Sparrow,0,0,0,2,1,0,2,0,0,0,0,0,0,8,2,0,0,0,0,0
Sharp-shinned Hawk,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
Song Sparrow,0,0,5,0,5,1,4,4,3,7,0,6,5,2,0,6,2,11,3,2
Spotted Sandpiper,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,3,0,0
Spotted Towhee,0,0,0,0,0,0,0,3,0,5,0,0,2,1,0,3,3,6,3,6
Steller's Jay,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,4
Swainson's Thrush,0,0,0,0,0,0,0,1,0,0,0,0,0,0,2,2,0,0,0,1
Swallow sp.,0,15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Totals,47,21,24,3,22,15,206,34,41,122,52,43,101,42,49,81,28,186,62,108
Tree Swallow,0,0,0,0,0,0,5,0,0,10,0,0,0,0,0,0,0,8,0,0
Turkey Vulture,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
Varied Thrush,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,0,0,0
Vaux's Swift,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,0,0
Violet-green Swallow,0,0,0,0,0,0,0,0,0,5,0,0,0,0,0,0,0,1,0,0
Warbling Vireo,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
Western Tanager,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
Western Wood-Pewee,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
White-crowned Sparrow,0,0,0,0,3,0,0,0,1,8,2,0,9,0,0,0,0,22,5,4
Wilson's Warbler,0,0,0,0,0,0,1,0,0,4,0,0,0,0,2,3,0,0,0,0
Winter Wren,0,0,0,0,0,2,0,3,0,0,0,0,0,0,0,5,0,0,0,0
Yellow Warbler,0,0,0,0,1,0,2,2,0,0,0,0,0,1,0,0,0,0,0,0
Yellow-rumped Warbler,0,0,0,0,0,0,0,0,0,2,0,0,0,2,0,4,0,4,4,2

In [39]:
# Remove the totals rows
df2 = df2.drop('Totals')

In [63]:
# transpose to long form
df4 = pd.DataFrame()
for species in df2.index:
    species_count = df2.loc[species]
    species_df = pd.DataFrame({'id': species_count.index, 'count': species_count.values, 'date': '2022-06', 'species': species})
    df4 = pd.concat([df4, species_df])
df4

     id  count     date                species
0    OE      0  2022-06          American Coot
1    WD      0  2022-06          American Coot
2    SR      0  2022-06          American Coot
3   TD1      0  2022-06          American Coot
4   TD2      0  2022-06          American Coot
..  ...    ...      ...                    ...
15   SA      4  2022-06  Yellow-rumped Warbler
16   IM      0  2022-06  Yellow-rumped Warbler
17  MC1      4  2022-06  Yellow-rumped Warbler
18  MC2      4  2022-06  Yellow-rumped Warbler
19   DW      2  2022-06  Yellow-rumped Warbler

[1480 rows x 4 columns]

In [61]:
# Total number of species for individual areas
total_count = df2.gt(0).sum(axis=0)
df3 = pd.DataFrame({'id': total_count.index, 'counts': total_count.values, 'date':'2022-06', 'species': 'Total Species'})
df3

     id  counts     date        species
0    OE       6  2022-06  Total Species
1    WD       4  2022-06  Total Species
2    SR       3  2022-06  Total Species
3   TD1       2  2022-06  Total Species
4   TD2      10  2022-06  Total Species
5   TD3       6  2022-06  Total Species
6   EF1      25  2022-06  Total Species
7   EF2      14  2022-06  Total Species
8    CC      13  2022-06  Total Species
9    CS      28  2022-06  Total Species
10   EC       8  2022-06  Total Species
11   EM       7  2022-06  Total Species
12   BP      20  2022-06  Total Species
13  NF1      14  2022-06  Total Species
14  NF2      14  2022-06  Total Species
15   SA      22  2022-06  Total Species
16   IM      12  2022-06  Total Species
17  MC1      31  2022-06  Total Species
18  MC2      15  2022-06  Total Species
19   DW      24  2022-06  Total Species

# Load Data from excel sheets

In [64]:
def read_excel_file(year):

    excel_df = pd.DataFrame()
    file_path = os.path.join(r'..\data\Monthly Count Records (excel versions)\SEMBC_XLS_Yearly', f'embc{year}.xlsx')
    
    for month in months:
        df = pd.read_excel(file_path,  sheet_name=month, header=None)
        # find header row and reload file from that row
        header_idx = df[df[2].str.contains(r'OE', regex=True, na=False)].index
        df1 = pd.read_excel(file_path,  sheet_name=month, header=header_idx[0])
        columns = df1.columns
        # find extra header rows and remove
        df1[columns[2]] = df1[columns[2]].astype('str')
        extra_header_idx = df1[df1[columns[2]].str.contains(r'OE', regex=True, na=False)].index
        if len(extra_header_idx) > 0:
            for header_row_idx in extra_header_idx:
                df1 = df1.drop(header_row_idx)
        
        df2 = df1.dropna(subset=[columns[0]])
        df2 = df2.drop(columns='Total')
        df2 = df2.fillna(0)
        df2 = df2.sort_values([columns[0]])
        total_idx = df2[df2[columns[0]].str.contains(r'Totals|Overall.*', regex=True, na=False)].index
        df2 = df2.drop(total_idx)

        # drop species that start with asterisk
        asterisk_idx = df2[df2[columns[0]].str.contains(r'^\*', regex=True, na=False)].index
        df2 = df2.drop(asterisk_idx)

        df2 = df2.set_index(columns[0])
        df2.index.name=None

        # individual species count
        for species in df2.index:
            species_count = df2.loc[species]
            species_count = pd.to_numeric(species_count, errors='coerce').fillna(0)
            species_df = pd.DataFrame({'id': species_count.index, 'count': species_count.values, 'date':f'{month}-{year}', 'year': year, 'month': month,'species': species})
            excel_df = pd.concat([excel_df, species_df])

    excel_df['count'] = excel_df['count'].astype('int64')
    return excel_df

In [65]:
excel_df = pd.DataFrame()
for year in range(2010,2023):
    excel_year_df = read_excel_file(year)
    excel_df = pd.concat([excel_df, excel_year_df])

In [66]:
excel_df

     id  count      date  year month         species
0    OE      0  Jan-2010  2010   Jan  American Robin
1    WD      0  Jan-2010  2010   Jan  American Robin
2    SR      0  Jan-2010  2010   Jan  American Robin
3   TD1      0  Jan-2010  2010   Jan  American Robin
4   TD2      0  Jan-2010  2010   Jan  American Robin
..  ...    ...       ...   ...   ...             ...
15   SA      0  Dec-2022  2022   Dec   Western Grebe
16   IM      0  Dec-2022  2022   Dec   Western Grebe
17  MC1      0  Dec-2022  2022   Dec   Western Grebe
18  MC2      0  Dec-2022  2022   Dec   Western Grebe
19   DW      0  Dec-2022  2022   Dec   Western Grebe

[192062 rows x 6 columns]

In [67]:
# Replacements Dictionary to correct spelling from excel sheets
replacements = {
    'Accipter sp.': 'Accipiter sp.',
    'American Crow x Northwestern Crow': 'American Crow',
    'American Robbin': 'American Robin',
    'American Wigeion': 'American Wigeon',
    'Anna’s Humming Bird': "Anna's Hummingbird",
    'Anna’s Hummingbird': "Anna's Hummingbird",
    'Back Swift': 'Black Swift',
    'Barrows Goldeneye': "Barrow's Goldeneye",
    "Barrrow's Goldeneye": "Barrow's Goldeneye",
    'Black-throated Grey Warbler': 'Black-throated Gray Warbler',
    'Blue Grouse (Sooty)': 'Sooty Grouse',
    'Bustit': 'Bushtit',
    'California (Western) Scrub-Jay': 'California Scrub-Jay',
    'Cedar Wagwing': 'Cedar Waxwing',
    'Chestnut-back Chickadee': 'Chestnut-backed Chickadee',
    ' Dark-eyed Junco': 'Dark-eyed Junco',
    'Doubel-crested Cormorant': 'Double-crested Cormorant',
    'Doule-crested Cormorant': 'Double-crested Cormorant',
    'Eurasian Collar-Dove': 'Eurasian Collared Dove',
    'Eurasian Collared-Dove': 'Eurasian Collared Dove',
    'Flycatcher, sp.': 'Flycatcher sp.',
    'Glaucous-winged x Herring Gull': 'Glaucous-winged Gull',
    'Gul sp.': 'Gull sp.',
    'Gull Hybrid': 'Gull, Hybrid',
    'Gull, Glaucous-winged x Western': 'Glaucous-winged Gull',
    'Gull, Western x Glaucous-wing': 'Glaucous-winged Gull',
    'Gull, Western x Glaucous-winged': 'Glaucous-winged Gull',
    'Gull,Glaucous-winged x Western': 'Glaucous-winged Gull',
    'Hawk Species': 'Hawk sp.',
    'Hawk, sp.': 'Hawk sp.',
    "Lincoln's Sparow": "Lincoln's Sparrow",
    'Lincoln’s Sparrow': "Lincoln's Sparrow",
    'Marsh Wren ': 'Marsh Wren',
    'Norther Harrier': 'Northern Harrier',
    'Northern Pygmy-owl': 'Northern Pygmy Owl',
    'Northern Pygmy-Owl': 'Northern Pygmy Owl',
    'Northwestern Crow': 'American Crow',
    'Nthn Rough-winged Swallow': 'Northern Rough-winged Swallow',
    'Nthn. Rough-winged Swallow': 'Northern Rough-winged Swallow',
    'Nthn. Rough-winges Swallow': 'Northern Rough-winged Swallow',
    'Olive-sided Flcatcher': 'Olive-sided Flycatcher',
    'Pacific-Slope Flycatcher': 'Pacific-slope Flycatcher',
    'Passerine sp': 'Passerine sp.',
    'Pelgagic Cormorant': 'Pelagic Cormorant',
    'Peregrin Falcon': 'Peregrine Falcon',
    'Peregrine': 'Peregrine Falcon',
    'Peregrine Falacon': 'Peregrine Falcon',
    'Pied -billed Grebe': 'Pied-billed Grebe',
    'Pied Bil Grebe': 'Pied-billed Grebe',
    'Pileated Wodpecker': 'Pileated Woodpecker',
    'Red Throated Loon': 'Red-throated Loon',
    'Red-tailed hawk': 'Red-tailed Hawk',
    'Ring-biled Gull': 'Ring-billed Gull',
    'Rock Dove': 'Pigeon',
    'Rock Dove (Pigeon)': 'Pigeon',
    'Rock Dove (Rock Pigeon)': 'Pigeon',
    'Rock Pigeon': 'Pigeon',
    'Ruby-crowned Kinglety': 'Ruby-crowned Kinglet',
    'Savannah': 'Savannah Sparrow',
    'Scaup Sp.': 'Scaup sp.',
    'Scaup sp': 'Scaup sp.',
    'Semi-palmated Sandpiper':  'Semipalmated Sandpiper',
    'Sharp-Shinned Hawk': 'Sharp-shinned Hawk', 
    'Sharp-shinned Hawk*': 'Sharp-shinned Hawk',
    'Short-blled Gull': 'Short-billed Gull',
    'Sooty (Blue) Grouse': 'Sooty Grouse',
    'Spotted Sandiper': 'Spotted Sandpiper',
    "Stellar's Jay": "Steller's Jay",
    'Steller’s Jay': "Steller's Jay",
    'Stellar’s Jay': "Steller's Jay",
    'Swainson’s Thrush': "Swainson's Thrush",
    'Townsend’s Warbler': "Townsend's Warbler",
    "Vaux' Swift": "Vaux's Swift",
    'Vaux’s Swift': "Vaux's Swift",
    'White-Winged Crossbill': 'White-winged Crossbill',
    'Winter (Pacific) Wren': 'Pacific Wren',
    'Winter Wren': 'Pacific Wren',
    'Winter Wren (Pacific Wren)': 'Pacific Wren',
    'Winter Wren (Pacific)': 'Pacific Wren',
    "Wison's Warbler": "Wilson's Warbler",
    'Woodpecker sp': 'Woodpecker sp.',
    'chickadee sp.': 'Chickadee sp.',
    'finch sp.': 'Finch sp.',
    'gull sp.': 'Gull sp.',
    'hummingbird sp.': 'Hummingbird sp.',
    'sparrow sp.': 'Sparrow sp.',
    'swallow sp.': 'Swallow sp.',
}

In [68]:
df = excel_df.replace(replacements)

In [70]:
spell_checked_df = df.replace(replacements)

In [72]:
df[(df['species']=='Dark-eyed Junco') & (df['year']==2013)]

     id  count      date  year month          species
0    OE      0  Jan-2013  2013   Jan  Dark-eyed Junco
1    WD      0  Jan-2013  2013   Jan  Dark-eyed Junco
2    SR      0  Jan-2013  2013   Jan  Dark-eyed Junco
3   TD1      0  Jan-2013  2013   Jan  Dark-eyed Junco
4   TD2      0  Jan-2013  2013   Jan  Dark-eyed Junco
5   TD3      0  Jan-2013  2013   Jan  Dark-eyed Junco
6   EF1      0  Jan-2013  2013   Jan  Dark-eyed Junco
7   EF2      0  Jan-2013  2013   Jan  Dark-eyed Junco
8    CC     10  Jan-2013  2013   Jan  Dark-eyed Junco
9    CS      8  Jan-2013  2013   Jan  Dark-eyed Junco
10   EC      0  Jan-2013  2013   Jan  Dark-eyed Junco
11   EM      0  Jan-2013  2013   Jan  Dark-eyed Junco
12   BP     46  Jan-2013  2013   Jan  Dark-eyed Junco
13  NF1      0  Jan-2013  2013   Jan  Dark-eyed Junco
14  NF2      0  Jan-2013  2013   Jan  Dark-eyed Junco
15   SA      5  Jan-2013  2013   Jan  Dark-eyed Junco
16   IM      0  Jan-2013  2013   Jan  Dark-eyed Junco
17  MC1     40  Jan-2013  2013   Jan  Dark-eyed Junco
18  MC2      3  Jan-2013  2013   Jan  Dark-eyed Junco
19   DW     56  Jan-2013  2013   Jan  Dark-eyed Junco
0    OE      0  Feb-2013  2013   Feb  Dark-eyed Junco
1    WD      0  Feb-2013  2013   Feb  Dark-eyed Junco
2    SR      0  Feb-2013  2013   Feb  Dark-eyed Junco
3   TD1      0  Feb-2013  2013   Feb  Dark-eyed Junco
4   TD2      0  Feb-2013  2013   Feb  Dark-eyed Junco
5   TD3      0  Feb-2013  2013   Feb  Dark-eyed Junco
6   EF1      0  Feb-2013  2013   Feb  Dark-eyed Junco
7   EF2      0  Feb-2013  2013   Feb  Dark-eyed Junco
8    CC      0  Feb-2013  2013   Feb  Dark-eyed Junco
9    CS      0  Feb-2013  2013   Feb  Dark-eyed Junco
10   EC      0  Feb-2013  2013   Feb  Dark-eyed Junco
11   EM      0  Feb-2013  2013   Feb  Dark-eyed Junco
12   BP     12  Feb-2013  2013   Feb  Dark-eyed Junco
13  NF1      0  Feb-2013  2013   Feb  Dark-eyed Junco
14  NF2      0  Feb-2013  2013   Feb  Dark-eyed Junco
15   SA      8  Feb-2013  2013   Feb  Dark-eyed Junco
16   IM      0  Feb-2013  2013   Feb  Dark-eyed Junco
17  MC1     26  Feb-2013  2013   Feb  Dark-eyed Junco
18  MC2      5  Feb-2013  2013   Feb  Dark-eyed Junco
19   DW     37  Feb-2013  2013   Feb  Dark-eyed Junco
0    OE      0  Mar-2013  2013   Mar  Dark-eyed Junco
1    WD      0  Mar-2013  2013   Mar  Dark-eyed Junco
2    SR      0  Mar-2013  2013   Mar  Dark-eyed Junco
3   TD1      0  Mar-2013  2013   Mar  Dark-eyed Junco
4   TD2      0  Mar-2013  2013   Mar  Dark-eyed Junco
5   TD3      4  Mar-2013  2013   Mar  Dark-eyed Junco
6   EF1      0  Mar-2013  2013   Mar  Dark-eyed Junco
7   EF2      0  Mar-2013  2013   Mar  Dark-eyed Junco
8    CC      5  Mar-2013  2013   Mar  Dark-eyed Junco
9    CS      0  Mar-2013  2013   Mar  Dark-eyed Junco
10   EC      5  Mar-2013  2013   Mar  Dark-eyed Junco
11   EM      0  Mar-2013  2013   Mar  Dark-eyed Junco
12   BP      7  Mar-2013  2013   Mar  Dark-eyed Junco
13  NF1      2  Mar-2013  2013   Mar  Dark-eyed Junco
14  NF2      7  Mar-2013  2013   Mar  Dark-eyed Junco
15   SA     19  Mar-2013  2013   Mar  Dark-eyed Junco
16   IM      0  Mar-2013  2013   Mar  Dark-eyed Junco
17  MC1     27  Mar-2013  2013   Mar  Dark-eyed Junco
18  MC2      0  Mar-2013  2013   Mar  Dark-eyed Junco
19   DW     39  Mar-2013  2013   Mar  Dark-eyed Junco
0    OE      0  Apr-2013  2013   Apr  Dark-eyed Junco
1    WD      0  Apr-2013  2013   Apr  Dark-eyed Junco
2    SR      0  Apr-2013  2013   Apr  Dark-eyed Junco
3   TD1      0  Apr-2013  2013   Apr  Dark-eyed Junco
4   TD2      0  Apr-2013  2013   Apr  Dark-eyed Junco
5   TD3      0  Apr-2013  2013   Apr  Dark-eyed Junco
6   EF1      0  Apr-2013  2013   Apr  Dark-eyed Junco
7   EF2     10  Apr-2013  2013   Apr  Dark-eyed Junco
8    CC      1  Apr-2013  2013   Apr  Dark-eyed Junco
9    CS     11  Apr-2013  2013   Apr  Dark-eyed Junco
10   EC      0  Apr-2013  2013   Apr  Dark-eyed Junco
11   EM      0  Apr-2013  2013   Apr  Dark-eyed Junco
12   BP      9  Apr-2013  2013   Apr  Dark-eyed Junco
13  NF1      0  Apr-2013  2013   Apr  Dark-eyed Junco
14  NF2      0  Apr-2013  2013   Apr  Dark-eyed Junco
15   SA      0  Apr-2013  2013   Apr  Dark-eyed Junco
16   IM      0  Apr-2013  2013   Apr  Dark-eyed Junco
17  MC1     19  Apr-2013  2013   Apr  Dark-eyed Junco
18  MC2      0  Apr-2013  2013   Apr  Dark-eyed Junco
19   DW     45  Apr-2013  2013   Apr  Dark-eyed Junco
0    OE      0  Jun-2013  2013   Jun  Dark-eyed Junco
1    WD      0  Jun-2013  2013   Jun  Dark-eyed Junco
2    SR      0  Jun-2013  2013   Jun  Dark-eyed Junco
3   TD1      0  Jun-2013  2013   Jun  Dark-eyed Junco
4   TD2      0  Jun-2013  2013   Jun  Dark-eyed Junco
5   TD3      0  Jun-2013  2013   Jun  Dark-eyed Junco
6   EF1      0  Jun-2013  2013   Jun  Dark-eyed Junco
7   EF2      0  Jun-2013  2013   Jun  Dark-eyed Junco
8    CC      0  Jun-2013  2013   Jun  Dark-eyed Junco
9    CS      0  Jun-2013  2013   Jun  Dark-eyed Junco
10   EC      2  Jun-2013  2013   Jun  Dark-eyed Junco
11   EM      0  Jun-2013  2013   Jun  Dark-eyed Junco
12   BP      0  Jun-2013  2013   Jun  Dark-eyed Junco
13  NF1      0  Jun-2013  2013   Jun  Dark-eyed Junco
14  NF2      0  Jun-2013  2013   Jun  Dark-eyed Junco
15   SA      0  Jun-2013  2013   Jun  Dark-eyed Junco
16   IM      0  Jun-2013  2013   Jun  Dark-eyed Junco
17  MC1      0  Jun-2013  2013   Jun  Dark-eyed Junco
18  MC2      0  Jun-2013  2013   Jun  Dark-eyed Junco
19   DW      0  Jun-2013  2013   Jun  Dark-eyed Junco
0    OE      0  Oct-2013  2013   Oct  Dark-eyed Junco
1    WD      0  Oct-2013  2013   Oct  Dark-eyed Junco
2    SR      0  Oct-2013  2013   Oct  Dark-eyed Junco
3   TD1      0  Oct-2013  2013   Oct  Dark-eyed Junco
4   TD2      0  Oct-2013  2013   Oct  Dark-eyed Junco
5   TD3      0  Oct-2013  2013   Oct  Dark-eyed Junco
6   EF1      2  Oct-2013  2013   Oct  Dark-eyed Junco
7   EF2      0  Oct-2013  2013   Oct  Dark-eyed Junco
8    CC      1  Oct-2013  2013   Oct  Dark-eyed Junco
9    CS      1  Oct-2013  2013   Oct  Dark-eyed Junco
10   EC      0  Oct-2013  2013   Oct  Dark-eyed Junco
11   EM      0  Oct-2013  2013   Oct  Dark-eyed Junco
12   BP      3  Oct-2013  2013   Oct  Dark-eyed Junco
13  NF1      0  Oct-2013  2013   Oct  Dark-eyed Junco
14  NF2      1  Oct-2013  2013   Oct  Dark-eyed Junco
15   SA      0  Oct-2013  2013   Oct  Dark-eyed Junco
16   IM      6  Oct-2013  2013   Oct  Dark-eyed Junco
17  MC1      7  Oct-2013  2013   Oct  Dark-eyed Junco
18  MC2      6  Oct-2013  2013   Oct  Dark-eyed Junco
19   DW      6  Oct-2013  2013   Oct  Dark-eyed Junco
0    OE      0  Nov-2013  2013   Nov  Dark-eyed Junco
1    WD      0  Nov-2013  2013   Nov  Dark-eyed Junco
2    SR      0  Nov-2013  2013   Nov  Dark-eyed Junco
3   TD1      0  Nov-2013  2013   Nov  Dark-eyed Junco
4   TD2      6  Nov-2013  2013   Nov  Dark-eyed Junco
5   TD3      0  Nov-2013  2013   Nov  Dark-eyed Junco
6   EF1      0  Nov-2013  2013   Nov  Dark-eyed Junco
7   EF2      0  Nov-2013  2013   Nov  Dark-eyed Junco
8    CC      0  Nov-2013  2013   Nov  Dark-eyed Junco
9    CS      0  Nov-2013  2013   Nov  Dark-eyed Junco
10   EC      1  Nov-2013  2013   Nov  Dark-eyed Junco
11   EM      0  Nov-2013  2013   Nov  Dark-eyed Junco
12   BP     13  Nov-2013  2013   Nov  Dark-eyed Junco
13  NF1      0  Nov-2013  2013   Nov  Dark-eyed Junco
14  NF2      0  Nov-2013  2013   Nov  Dark-eyed Junco
15   SA      0  Nov-2013  2013   Nov  Dark-eyed Junco
16   IM      0  Nov-2013  2013   Nov  Dark-eyed Junco
17  MC1      9  Nov-2013  2013   Nov  Dark-eyed Junco
18  MC2      6  Nov-2013  2013   Nov  Dark-eyed Junco
19   DW     18  Nov-2013  2013   Nov  Dark-eyed Junco
0    OE      0  Dec-2013  2013   Dec  Dark-eyed Junco
1    WD      0  Dec-2013  2013   Dec  Dark-eyed Junco
2    SR      0  Dec-2013  2013   Dec  Dark-eyed Junco
3   TD1      0  Dec-2013  2013   Dec  Dark-eyed Junco
4   TD2      0  Dec-2013  2013   Dec  Dark-eyed Junco
5   TD3      0  Dec-2013  2013   Dec  Dark-eyed Junco
6   EF1      0  Dec-2013  2013   Dec  Dark-eyed Junco
7   EF2      0  Dec-2013  2013   Dec  Dark-eyed Junco
8    CC      0  Dec-2013  2013   Dec  Dark-eyed Junco
9    CS      6  Dec-2013  2013   Dec  Dark-eyed Junco
10   EC      0  Dec-2013  2013   Dec  Dark-eyed Junco
11   EM      0  Dec-2013  2013   Dec  Dark-eyed Junco
12   BP      0  Dec-2013  2013   Dec  Dark-eyed Junco
13  NF1      0  Dec-2013  2013   Dec  Dark-eyed Junco
14  NF2      0  Dec-2013  2013   Dec  Dark-eyed Junco
15   SA     25  Dec-2013  2013   Dec  Dark-eyed Junco
16   IM      0  Dec-2013  2013   Dec  Dark-eyed Junco
17  MC1      0  Dec-2013  2013   Dec  Dark-eyed Junco
18  MC2     11  Dec-2013  2013   Dec  Dark-eyed Junco
19   DW     32  Dec-2013  2013   Dec  Dark-eyed Junco

In [73]:
# Calculate total individual bird count by area and concat
areas_total_bird_count_df = spell_checked_df.groupby(['id','year','month', 'date']).sum('count').reset_index()
areas_total_bird_count_df['species'] = 'Total Bird Count'
areas_total_added_df = pd.concat([spell_checked_df, areas_total_bird_count_df])

In [74]:
areas_total_bird_count_df

      id  year month      date  count           species
0     BP  2010   Apr  Apr-2010    212  Total Bird Count
1     BP  2010   Aug  Aug-2010    137  Total Bird Count
2     BP  2010   Dec  Dec-2010    125  Total Bird Count
3     BP  2010   Feb  Feb-2010    170  Total Bird Count
4     BP  2010   Jan  Jan-2010    188  Total Bird Count
...   ..   ...   ...       ...    ...               ...
3119  WD  2022   Mar  Mar-2022     40  Total Bird Count
3120  WD  2022   May  May-2022     15  Total Bird Count
3121  WD  2022   Nov  Nov-2022      7  Total Bird Count
3122  WD  2022   Oct  Oct-2022      8  Total Bird Count
3123  WD  2022   Sep  Sep-2022     54  Total Bird Count

[3124 rows x 6 columns]

In [75]:
# Calculate total birds across all areas
all_area_total_bird = areas_total_added_df.groupby(['year','month', 'date', 'species']).sum('count').reset_index()
all_area_total_bird['id'] = 'ALL'
all_area_total_added_df = pd.concat([areas_total_added_df, all_area_total_bird])

In [76]:
all_area_total_bird

      year month      date                species  count   id
0     2010   Apr  Apr-2010          American Coot      1  ALL
1     2010   Apr  Apr-2010          American Crow     50  ALL
2     2010   Apr  Apr-2010        American Dipper      1  ALL
3     2010   Apr  Apr-2010     American Goldfinch      1  ALL
4     2010   Apr  Apr-2010         American Robin    316  ALL
...    ...   ...       ...                    ...    ...  ...
9710  2022   Sep  Sep-2022   Violet-green Swallow      1  ALL
9711  2022   Sep  Sep-2022          Virginia Rail      1  ALL
9712  2022   Sep  Sep-2022  White-crowned Sparrow     55  ALL
9713  2022   Sep  Sep-2022      Willow Flycatcher      1  ALL
9714  2022   Sep  Sep-2022  Yellow-rumped Warbler      8  ALL

[9715 rows x 6 columns]

In [77]:
all_area_total_added_df[(all_area_total_added_df['species']=='Dark-eyed Junco') & (all_area_total_added_df['year']==2013)]

       id  count      date  year month          species
0      OE      0  Jan-2013  2013   Jan  Dark-eyed Junco
1      WD      0  Jan-2013  2013   Jan  Dark-eyed Junco
2      SR      0  Jan-2013  2013   Jan  Dark-eyed Junco
3     TD1      0  Jan-2013  2013   Jan  Dark-eyed Junco
4     TD2      0  Jan-2013  2013   Jan  Dark-eyed Junco
5     TD3      0  Jan-2013  2013   Jan  Dark-eyed Junco
6     EF1      0  Jan-2013  2013   Jan  Dark-eyed Junco
7     EF2      0  Jan-2013  2013   Jan  Dark-eyed Junco
8      CC     10  Jan-2013  2013   Jan  Dark-eyed Junco
9      CS      8  Jan-2013  2013   Jan  Dark-eyed Junco
10     EC      0  Jan-2013  2013   Jan  Dark-eyed Junco
11     EM      0  Jan-2013  2013   Jan  Dark-eyed Junco
12     BP     46  Jan-2013  2013   Jan  Dark-eyed Junco
13    NF1      0  Jan-2013  2013   Jan  Dark-eyed Junco
14    NF2      0  Jan-2013  2013   Jan  Dark-eyed Junco
15     SA      5  Jan-2013  2013   Jan  Dark-eyed Junco
16     IM      0  Jan-2013  2013   Jan  Dark-eyed Junco
17    MC1     40  Jan-2013  2013   Jan  Dark-eyed Junco
18    MC2      3  Jan-2013  2013   Jan  Dark-eyed Junco
19     DW     56  Jan-2013  2013   Jan  Dark-eyed Junco
0      OE      0  Feb-2013  2013   Feb  Dark-eyed Junco
1      WD      0  Feb-2013  2013   Feb  Dark-eyed Junco
2      SR      0  Feb-2013  2013   Feb  Dark-eyed Junco
3     TD1      0  Feb-2013  2013   Feb  Dark-eyed Junco
4     TD2      0  Feb-2013  2013   Feb  Dark-eyed Junco
5     TD3      0  Feb-2013  2013   Feb  Dark-eyed Junco
6     EF1      0  Feb-2013  2013   Feb  Dark-eyed Junco
7     EF2      0  Feb-2013  2013   Feb  Dark-eyed Junco
8      CC      0  Feb-2013  2013   Feb  Dark-eyed Junco
9      CS      0  Feb-2013  2013   Feb  Dark-eyed Junco
10     EC      0  Feb-2013  2013   Feb  Dark-eyed Junco
11     EM      0  Feb-2013  2013   Feb  Dark-eyed Junco
12     BP     12  Feb-2013  2013   Feb  Dark-eyed Junco
13    NF1      0  Feb-2013  2013   Feb  Dark-eyed Junco
14    NF2      0  Feb-2013  2013   Feb  Dark-eyed Junco
15     SA      8  Feb-2013  2013   Feb  Dark-eyed Junco
16     IM      0  Feb-2013  2013   Feb  Dark-eyed Junco
17    MC1     26  Feb-2013  2013   Feb  Dark-eyed Junco
18    MC2      5  Feb-2013  2013   Feb  Dark-eyed Junco
19     DW     37  Feb-2013  2013   Feb  Dark-eyed Junco
0      OE      0  Mar-2013  2013   Mar  Dark-eyed Junco
1      WD      0  Mar-2013  2013   Mar  Dark-eyed Junco
2      SR      0  Mar-2013  2013   Mar  Dark-eyed Junco
3     TD1      0  Mar-2013  2013   Mar  Dark-eyed Junco
4     TD2      0  Mar-2013  2013   Mar  Dark-eyed Junco
5     TD3      4  Mar-2013  2013   Mar  Dark-eyed Junco
6     EF1      0  Mar-2013  2013   Mar  Dark-eyed Junco
7     EF2      0  Mar-2013  2013   Mar  Dark-eyed Junco
8      CC      5  Mar-2013  2013   Mar  Dark-eyed Junco
9      CS      0  Mar-2013  2013   Mar  Dark-eyed Junco
10     EC      5  Mar-2013  2013   Mar  Dark-eyed Junco
11     EM      0  Mar-2013  2013   Mar  Dark-eyed Junco
12     BP      7  Mar-2013  2013   Mar  Dark-eyed Junco
13    NF1      2  Mar-2013  2013   Mar  Dark-eyed Junco
14    NF2      7  Mar-2013  2013   Mar  Dark-eyed Junco
15     SA     19  Mar-2013  2013   Mar  Dark-eyed Junco
16     IM      0  Mar-2013  2013   Mar  Dark-eyed Junco
17    MC1     27  Mar-2013  2013   Mar  Dark-eyed Junco
18    MC2      0  Mar-2013  2013   Mar  Dark-eyed Junco
19     DW     39  Mar-2013  2013   Mar  Dark-eyed Junco
0      OE      0  Apr-2013  2013   Apr  Dark-eyed Junco
1      WD      0  Apr-2013  2013   Apr  Dark-eyed Junco
2      SR      0  Apr-2013  2013   Apr  Dark-eyed Junco
3     TD1      0  Apr-2013  2013   Apr  Dark-eyed Junco
4     TD2      0  Apr-2013  2013   Apr  Dark-eyed Junco
5     TD3      0  Apr-2013  2013   Apr  Dark-eyed Junco
6     EF1      0  Apr-2013  2013   Apr  Dark-eyed Junco
7     EF2     10  Apr-2013  2013   Apr  Dark-eyed Junco
8      CC      1  Apr-2013  2013   Apr  Dark-eyed Junco
9      CS     11  Apr-2013  2013   Apr  Dark-eyed Junco
10     EC      0  Apr-2013  2013   Apr  Dark-eyed Junco
11     EM      0  Apr-2013  2013   Apr  Dark-eyed Junco
12     BP      9  Apr-2013  2013   Apr  Dark-eyed Junco
13    NF1      0  Apr-2013  2013   Apr  Dark-eyed Junco
14    NF2      0  Apr-2013  2013   Apr  Dark-eyed Junco
15     SA      0  Apr-2013  2013   Apr  Dark-eyed Junco
16     IM      0  Apr-2013  2013   Apr  Dark-eyed Junco
17    MC1     19  Apr-2013  2013   Apr  Dark-eyed Junco
18    MC2      0  Apr-2013  2013   Apr  Dark-eyed Junco
19     DW     45  Apr-2013  2013   Apr  Dark-eyed Junco
0      OE      0  Jun-2013  2013   Jun  Dark-eyed Junco
1      WD      0  Jun-2013  2013   Jun  Dark-eyed Junco
2      SR      0  Jun-2013  2013   Jun  Dark-eyed Junco
3     TD1      0  Jun-2013  2013   Jun  Dark-eyed Junco
4     TD2      0  Jun-2013  2013   Jun  Dark-eyed Junco
5     TD3      0  Jun-2013  2013   Jun  Dark-eyed Junco
6     EF1      0  Jun-2013  2013   Jun  Dark-eyed Junco
7     EF2      0  Jun-2013  2013   Jun  Dark-eyed Junco
8      CC      0  Jun-2013  2013   Jun  Dark-eyed Junco
9      CS      0  Jun-2013  2013   Jun  Dark-eyed Junco
10     EC      2  Jun-2013  2013   Jun  Dark-eyed Junco
11     EM      0  Jun-2013  2013   Jun  Dark-eyed Junco
12     BP      0  Jun-2013  2013   Jun  Dark-eyed Junco
13    NF1      0  Jun-2013  2013   Jun  Dark-eyed Junco
14    NF2      0  Jun-2013  2013   Jun  Dark-eyed Junco
15     SA      0  Jun-2013  2013   Jun  Dark-eyed Junco
16     IM      0  Jun-2013  2013   Jun  Dark-eyed Junco
17    MC1      0  Jun-2013  2013   Jun  Dark-eyed Junco
18    MC2      0  Jun-2013  2013   Jun  Dark-eyed Junco
19     DW      0  Jun-2013  2013   Jun  Dark-eyed Junco
0      OE      0  Oct-2013  2013   Oct  Dark-eyed Junco
1      WD      0  Oct-2013  2013   Oct  Dark-eyed Junco
2      SR      0  Oct-2013  2013   Oct  Dark-eyed Junco
3     TD1      0  Oct-2013  2013   Oct  Dark-eyed Junco
4     TD2      0  Oct-2013  2013   Oct  Dark-eyed Junco
5     TD3      0  Oct-2013  2013   Oct  Dark-eyed Junco
6     EF1      2  Oct-2013  2013   Oct  Dark-eyed Junco
7     EF2      0  Oct-2013  2013   Oct  Dark-eyed Junco
8      CC      1  Oct-2013  2013   Oct  Dark-eyed Junco
9      CS      1  Oct-2013  2013   Oct  Dark-eyed Junco
10     EC      0  Oct-2013  2013   Oct  Dark-eyed Junco
11     EM      0  Oct-2013  2013   Oct  Dark-eyed Junco
12     BP      3  Oct-2013  2013   Oct  Dark-eyed Junco
13    NF1      0  Oct-2013  2013   Oct  Dark-eyed Junco
14    NF2      1  Oct-2013  2013   Oct  Dark-eyed Junco
15     SA      0  Oct-2013  2013   Oct  Dark-eyed Junco
16     IM      6  Oct-2013  2013   Oct  Dark-eyed Junco
17    MC1      7  Oct-2013  2013   Oct  Dark-eyed Junco
18    MC2      6  Oct-2013  2013   Oct  Dark-eyed Junco
19     DW      6  Oct-2013  2013   Oct  Dark-eyed Junco
0      OE      0  Nov-2013  2013   Nov  Dark-eyed Junco
1      WD      0  Nov-2013  2013   Nov  Dark-eyed Junco
2      SR      0  Nov-2013  2013   Nov  Dark-eyed Junco
3     TD1      0  Nov-2013  2013   Nov  Dark-eyed Junco
4     TD2      6  Nov-2013  2013   Nov  Dark-eyed Junco
5     TD3      0  Nov-2013  2013   Nov  Dark-eyed Junco
6     EF1      0  Nov-2013  2013   Nov  Dark-eyed Junco
7     EF2      0  Nov-2013  2013   Nov  Dark-eyed Junco
8      CC      0  Nov-2013  2013   Nov  Dark-eyed Junco
9      CS      0  Nov-2013  2013   Nov  Dark-eyed Junco
10     EC      1  Nov-2013  2013   Nov  Dark-eyed Junco
11     EM      0  Nov-2013  2013   Nov  Dark-eyed Junco
12     BP     13  Nov-2013  2013   Nov  Dark-eyed Junco
13    NF1      0  Nov-2013  2013   Nov  Dark-eyed Junco
14    NF2      0  Nov-2013  2013   Nov  Dark-eyed Junco
15     SA      0  Nov-2013  2013   Nov  Dark-eyed Junco
16     IM      0  Nov-2013  2013   Nov  Dark-eyed Junco
17    MC1      9  Nov-2013  2013   Nov  Dark-eyed Junco
18    MC2      6  Nov-2013  2013   Nov  Dark-eyed Junco
19     DW     18  Nov-2013  2013   Nov  Dark-eyed Junco
0      OE      0  Dec-2013  2013   Dec  Dark-eyed Junco
1      WD      0  Dec-2013  2013   Dec  Dark-eyed Junco
2      SR      0  Dec-2013  2013   Dec  Dark-eyed Junco
3     TD1      0  Dec-2013  2013   Dec  Dark-eyed Junco
4     TD2      0  Dec-2013  2013   Dec  Dark-eyed Junco
5     TD3      0  Dec-2013  2013   Dec  Dark-eyed Junco
6     EF1      0  Dec-2013  2013   Dec  Dark-eyed Junco
7     EF2      0  Dec-2013  2013   Dec  Dark-eyed Junco
8      CC      0  Dec-2013  2013   Dec  Dark-eyed Junco
9      CS      6  Dec-2013  2013   Dec  Dark-eyed Junco
10     EC      0  Dec-2013  2013   Dec  Dark-eyed Junco
11     EM      0  Dec-2013  2013   Dec  Dark-eyed Junco
12     BP      0  Dec-2013  2013   Dec  Dark-eyed Junco
13    NF1      0  Dec-2013  2013   Dec  Dark-eyed Junco
14    NF2      0  Dec-2013  2013   Dec  Dark-eyed Junco
15     SA     25  Dec-2013  2013   Dec  Dark-eyed Junco
16     IM      0  Dec-2013  2013   Dec  Dark-eyed Junco
17    MC1      0  Dec-2013  2013   Dec  Dark-eyed Junco
18    MC2     11  Dec-2013  2013   Dec  Dark-eyed Junco
19     DW     32  Dec-2013  2013   Dec  Dark-eyed Junco
2262  ALL     95  Apr-2013  2013   Apr  Dark-eyed Junco
2389  ALL     74  Dec-2013  2013   Dec  Dark-eyed Junco
2435  ALL     88  Feb-2013  2013   Feb  Dark-eyed Junco
2496  ALL    168  Jan-2013  2013   Jan  Dark-eyed Junco
2621  ALL      2  Jun-2013  2013   Jun  Dark-eyed Junco
2686  ALL    115  Mar-2013  2013   Mar  Dark-eyed Junco
2824  ALL     53  Nov-2013  2013   Nov  Dark-eyed Junco
2878  ALL     33  Oct-2013  2013   Oct  Dark-eyed Junco

In [97]:
# Calculate the number of species in alls area
# First remove "Total Bird Count" from totals
all_area_species = all_area_total_added_df[all_area_total_added_df['species']!='Total Bird Count']
all_area_total_species = all_area_species.groupby(['id', 'date', 'year', 'month']).apply(lambda x: x['count'].gt(0).sum(axis=0)).reset_index(name='count')
all_area_total_species['species'] = 'Total Species Count'
areas_and_species_totals_added_df = pd.concat([all_area_total_added_df, all_area_total_species])

In [80]:
areas_and_species_totals_added_df[(areas_and_species_totals_added_df['species']=='Total Species Count') & (areas_and_species_totals_added_df['year']==2013)]

       id  count      date  year month              species
3     ALL     74  Apr-2013  2013   Apr  Total Species Count
16    ALL     56  Aug-2013  2013   Aug  Total Species Count
29    ALL     41  Dec-2013  2013   Dec  Total Species Count
42    ALL     57  Feb-2013  2013   Feb  Total Species Count
55    ALL     63  Jan-2013  2013   Jan  Total Species Count
68    ALL     57  Jul-2013  2013   Jul  Total Species Count
81    ALL     71  Jun-2013  2013   Jun  Total Species Count
94    ALL     60  Mar-2013  2013   Mar  Total Species Count
107   ALL     74  May-2013  2013   May  Total Species Count
120   ALL     56  Nov-2013  2013   Nov  Total Species Count
133   ALL     57  Oct-2013  2013   Oct  Total Species Count
146   ALL     65  Sep-2013  2013   Sep  Total Species Count
159    BP     34  Apr-2013  2013   Apr  Total Species Count
172    BP      7  Aug-2013  2013   Aug  Total Species Count
185    BP      1  Dec-2013  2013   Dec  Total Species Count
198    BP     17  Feb-2013  2013   Feb  Total Species Count
211    BP     26  Jan-2013  2013   Jan  Total Species Count
224    BP     29  Jul-2013  2013   Jul  Total Species Count
237    BP     26  Jun-2013  2013   Jun  Total Species Count
250    BP     18  Mar-2013  2013   Mar  Total Species Count
263    BP     20  May-2013  2013   May  Total Species Count
276    BP     13  Nov-2013  2013   Nov  Total Species Count
289    BP     13  Oct-2013  2013   Oct  Total Species Count
302    BP     28  Sep-2013  2013   Sep  Total Species Count
315    CC     25  Apr-2013  2013   Apr  Total Species Count
328    CC      6  Aug-2013  2013   Aug  Total Species Count
341    CC     13  Dec-2013  2013   Dec  Total Species Count
354    CC      7  Feb-2013  2013   Feb  Total Species Count
367    CC     13  Jan-2013  2013   Jan  Total Species Count
380    CC      6  Jul-2013  2013   Jul  Total Species Count
393    CC     11  Jun-2013  2013   Jun  Total Species Count
406    CC     16  Mar-2013  2013   Mar  Total Species Count
419    CC     13  May-2013  2013   May  Total Species Count
432    CC     12  Nov-2013  2013   Nov  Total Species Count
445    CC     21  Oct-2013  2013   Oct  Total Species Count
458    CC     15  Sep-2013  2013   Sep  Total Species Count
471    CS     25  Apr-2013  2013   Apr  Total Species Count
484    CS     17  Aug-2013  2013   Aug  Total Species Count
497    CS     12  Dec-2013  2013   Dec  Total Species Count
510    CS      9  Feb-2013  2013   Feb  Total Species Count
523    CS     23  Jan-2013  2013   Jan  Total Species Count
536    CS     17  Jul-2013  2013   Jul  Total Species Count
549    CS     22  Jun-2013  2013   Jun  Total Species Count
562    CS     19  Mar-2013  2013   Mar  Total Species Count
575    CS     28  May-2013  2013   May  Total Species Count
588    CS      8  Nov-2013  2013   Nov  Total Species Count
601    CS     14  Oct-2013  2013   Oct  Total Species Count
614    CS     15  Sep-2013  2013   Sep  Total Species Count
627    DW     23  Apr-2013  2013   Apr  Total Species Count
640    DW      8  Aug-2013  2013   Aug  Total Species Count
653    DW     12  Dec-2013  2013   Dec  Total Species Count
666    DW     18  Feb-2013  2013   Feb  Total Species Count
679    DW     23  Jan-2013  2013   Jan  Total Species Count
692    DW     16  Jul-2013  2013   Jul  Total Species Count
705    DW     21  Jun-2013  2013   Jun  Total Species Count
718    DW     16  Mar-2013  2013   Mar  Total Species Count
731    DW     24  May-2013  2013   May  Total Species Count
744    DW     15  Nov-2013  2013   Nov  Total Species Count
757    DW     13  Oct-2013  2013   Oct  Total Species Count
770    DW     19  Sep-2013  2013   Sep  Total Species Count
783    EC      7  Apr-2013  2013   Apr  Total Species Count
796    EC     11  Aug-2013  2013   Aug  Total Species Count
809    EC     14  Dec-2013  2013   Dec  Total Species Count
822    EC     14  Feb-2013  2013   Feb  Total Species Count
835    EC      6  Jan-2013  2013   Jan  Total Species Count
848    EC     16  Jul-2013  2013   Jul  Total Species Count
861    EC     34  Jun-2013  2013   Jun  Total Species Count
874    EC     24  Mar-2013  2013   Mar  Total Species Count
887    EC      8  May-2013  2013   May  Total Species Count
900    EC     14  Nov-2013  2013   Nov  Total Species Count
913    EC     19  Oct-2013  2013   Oct  Total Species Count
926    EC      3  Sep-2013  2013   Sep  Total Species Count
939   EF1     23  Apr-2013  2013   Apr  Total Species Count
952   EF1     24  Aug-2013  2013   Aug  Total Species Count
965   EF1      5  Dec-2013  2013   Dec  Total Species Count
978   EF1      0  Feb-2013  2013   Feb  Total Species Count
991   EF1      0  Jan-2013  2013   Jan  Total Species Count
1004  EF1     23  Jul-2013  2013   Jul  Total Species Count
1017  EF1     11  Jun-2013  2013   Jun  Total Species Count
1030  EF1     11  Mar-2013  2013   Mar  Total Species Count
1043  EF1     25  May-2013  2013   May  Total Species Count
1056  EF1     14  Nov-2013  2013   Nov  Total Species Count
1069  EF1     11  Oct-2013  2013   Oct  Total Species Count
1082  EF1     15  Sep-2013  2013   Sep  Total Species Count
1095  EF2     22  Apr-2013  2013   Apr  Total Species Count
1108  EF2     11  Aug-2013  2013   Aug  Total Species Count
1121  EF2      2  Dec-2013  2013   Dec  Total Species Count
1134  EF2     12  Feb-2013  2013   Feb  Total Species Count
1147  EF2      2  Jan-2013  2013   Jan  Total Species Count
1160  EF2     17  Jul-2013  2013   Jul  Total Species Count
1173  EF2     14  Jun-2013  2013   Jun  Total Species Count
1186  EF2     17  Mar-2013  2013   Mar  Total Species Count
1199  EF2     14  May-2013  2013   May  Total Species Count
1212  EF2     12  Nov-2013  2013   Nov  Total Species Count
1225  EF2     11  Oct-2013  2013   Oct  Total Species Count
1238  EF2      8  Sep-2013  2013   Sep  Total Species Count
1251   EM     17  Apr-2013  2013   Apr  Total Species Count
1264   EM     18  Aug-2013  2013   Aug  Total Species Count
1277   EM      7  Dec-2013  2013   Dec  Total Species Count
1290   EM      9  Feb-2013  2013   Feb  Total Species Count
1303   EM      6  Jan-2013  2013   Jan  Total Species Count
1316   EM     17  Jul-2013  2013   Jul  Total Species Count
1329   EM     18  Jun-2013  2013   Jun  Total Species Count
1342   EM      7  Mar-2013  2013   Mar  Total Species Count
1355   EM      7  May-2013  2013   May  Total Species Count
1368   EM     10  Nov-2013  2013   Nov  Total Species Count
1381   EM      6  Oct-2013  2013   Oct  Total Species Count
1394   EM     17  Sep-2013  2013   Sep  Total Species Count
1407   IM      9  Apr-2013  2013   Apr  Total Species Count
1420   IM      0  Aug-2013  2013   Aug  Total Species Count
1433   IM      3  Dec-2013  2013   Dec  Total Species Count
1446   IM      2  Feb-2013  2013   Feb  Total Species Count
1459   IM      1  Jan-2013  2013   Jan  Total Species Count
1472   IM     13  Jul-2013  2013   Jul  Total Species Count
1485   IM      7  Jun-2013  2013   Jun  Total Species Count
1498   IM      4  Mar-2013  2013   Mar  Total Species Count
1511   IM     12  May-2013  2013   May  Total Species Count
1524   IM      3  Nov-2013  2013   Nov  Total Species Count
1537   IM     11  Oct-2013  2013   Oct  Total Species Count
1550   IM      1  Sep-2013  2013   Sep  Total Species Count
1563  MC1     28  Apr-2013  2013   Apr  Total Species Count
1576  MC1     13  Aug-2013  2013   Aug  Total Species Count
1589  MC1      7  Dec-2013  2013   Dec  Total Species Count
1602  MC1     14  Feb-2013  2013   Feb  Total Species Count
1615  MC1     16  Jan-2013  2013   Jan  Total Species Count
1628  MC1     29  Jul-2013  2013   Jul  Total Species Count
1641  MC1     32  Jun-2013  2013   Jun  Total Species Count
1654  MC1     20  Mar-2013  2013   Mar  Total Species Count
1667  MC1     31  May-2013  2013   May  Total Species Count
1680  MC1     14  Nov-2013  2013   Nov  Total Species Count
1693  MC1     18  Oct-2013  2013   Oct  Total Species Count
1706  MC1     17  Sep-2013  2013   Sep  Total Species Count
1719  MC2     11  Apr-2013  2013   Apr  Total Species Count
1732  MC2      6  Aug-2013  2013   Aug  Total Species Count
1745  MC2     16  Dec-2013  2013   Dec  Total Species Count
1758  MC2     12  Feb-2013  2013   Feb  Total Species Count
1771  MC2     14  Jan-2013  2013   Jan  Total Species Count
1784  MC2     13  Jul-2013  2013   Jul  Total Species Count
1797  MC2     16  Jun-2013  2013   Jun  Total Species Count
1810  MC2     11  Mar-2013  2013   Mar  Total Species Count
1823  MC2     15  May-2013  2013   May  Total Species Count
1836  MC2     10  Nov-2013  2013   Nov  Total Species Count
1849  MC2     12  Oct-2013  2013   Oct  Total Species Count
1862  MC2     12  Sep-2013  2013   Sep  Total Species Count
1875  NF1     11  Apr-2013  2013   Apr  Total Species Count
1888  NF1      1  Aug-2013  2013   Aug  Total Species Count
1901  NF1      4  Dec-2013  2013   Dec  Total Species Count
1914  NF1     12  Feb-2013  2013   Feb  Total Species Count
1927  NF1      7  Jan-2013  2013   Jan  Total Species Count
1940  NF1      6  Jul-2013  2013   Jul  Total Species Count
1953  NF1     12  Jun-2013  2013   Jun  Total Species Count
1966  NF1     12  Mar-2013  2013   Mar  Total Species Count
1979  NF1     14  May-2013  2013   May  Total Species Count
1992  NF1      2  Nov-2013  2013   Nov  Total Species Count
2005  NF1      4  Oct-2013  2013   Oct  Total Species Count
2018  NF1      7  Sep-2013  2013   Sep  Total Species Count
2031  NF2     18  Apr-2013  2013   Apr  Total Species Count
2044  NF2      2  Aug-2013  2013   Aug  Total Species Count
2057  NF2      7  Dec-2013  2013   Dec  Total Species Count
2070  NF2     10  Feb-2013  2013   Feb  Total Species Count
2083  NF2     10  Jan-2013  2013   Jan  Total Species Count
2096  NF2      7  Jul-2013  2013   Jul  Total Species Count
2109  NF2     19  Jun-2013  2013   Jun  Total Species Count
2122  NF2     15  Mar-2013  2013   Mar  Total Species Count
2135  NF2     14  May-2013  2013   May  Total Species Count
2148  NF2      6  Nov-2013  2013   Nov  Total Species Count
2161  NF2     11  Oct-2013  2013   Oct  Total Species Count
2174  NF2     12  Sep-2013  2013   Sep  Total Species Count
2188   OE     11  Apr-2013  2013   Apr  Total Species Count
2201   OE      2  Aug-2013  2013   Aug  Total Species Count
2214   OE      6  Dec-2013  2013   Dec  Total Species Count
2227   OE     11  Feb-2013  2013   Feb  Total Species Count
2240   OE      7  Jan-2013  2013   Jan  Total Species Count
2253   OE      4  Jul-2013  2013   Jul  Total Species Count
2266   OE      8  Jun-2013  2013   Jun  Total Species Count
2279   OE      9  Mar-2013  2013   Mar  Total Species Count
2292   OE      6  May-2013  2013   May  Total Species Count
2305   OE      8  Nov-2013  2013   Nov  Total Species Count
2318   OE      7  Oct-2013  2013   Oct  Total Species Count
2331   OE      4  Sep-2013  2013   Sep  Total Species Count
2344   SA     15  Apr-2013  2013   Apr  Total Species Count
2357   SA      5  Aug-2013  2013   Aug  Total Species Count
2370   SA     16  Dec-2013  2013   Dec  Total Species Count
2383   SA     16  Feb-2013  2013   Feb  Total Species Count
2396   SA     21  Jan-2013  2013   Jan  Total Species Count
2409   SA     13  Jul-2013  2013   Jul  Total Species Count
2422   SA     25  Jun-2013  2013   Jun  Total Species Count
2435   SA     16  Mar-2013  2013   Mar  Total Species Count
2448   SA     22  May-2013  2013   May  Total Species Count
2461   SA     17  Nov-2013  2013   Nov  Total Species Count
2474   SA     16  Oct-2013  2013   Oct  Total Species Count
2487   SA     20  Sep-2013  2013   Sep  Total Species Count
2500   SR     14  Apr-2013  2013   Apr  Total Species Count
2513   SR      4  Aug-2013  2013   Aug  Total Species Count
2526   SR      8  Dec-2013  2013   Dec  Total Species Count
2539   SR     14  Feb-2013  2013   Feb  Total Species Count
2552   SR     12  Jan-2013  2013   Jan  Total Species Count
2565   SR      7  Jul-2013  2013   Jul  Total Species Count
2578   SR      6  Jun-2013  2013   Jun  Total Species Count
2591   SR     10  Mar-2013  2013   Mar  Total Species Count
2604   SR      3  May-2013  2013   May  Total Species Count
2617   SR     15  Nov-2013  2013   Nov  Total Species Count
2630   SR     14  Oct-2013  2013   Oct  Total Species Count
2643   SR     10  Sep-2013  2013   Sep  Total Species Count
2656  TD1      5  Apr-2013  2013   Apr  Total Species Count
2669  TD1      3  Aug-2013  2013   Aug  Total Species Count
2682  TD1      5  Dec-2013  2013   Dec  Total Species Count
2695  TD1      0  Feb-2013  2013   Feb  Total Species Count
2708  TD1      0  Jan-2013  2013   Jan  Total Species Count
2721  TD1      5  Jul-2013  2013   Jul  Total Species Count
2734  TD1     10  Jun-2013  2013   Jun  Total Species Count
2747  TD1      2  Mar-2013  2013   Mar  Total Species Count
2760  TD1      2  May-2013  2013   May  Total Species Count
2773  TD1      2  Nov-2013  2013   Nov  Total Species Count
2786  TD1      1  Oct-2013  2013   Oct  Total Species Count
2799  TD1      2  Sep-2013  2013   Sep  Total Species Count
2812  TD2     14  Apr-2013  2013   Apr  Total Species Count
2825  TD2     13  Aug-2013  2013   Aug  Total Species Count
2838  TD2      5  Dec-2013  2013   Dec  Total Species Count
2851  TD2      0  Feb-2013  2013   Feb  Total Species Count
2864  TD2     18  Jan-2013  2013   Jan  Total Species Count
2877  TD2     17  Jul-2013  2013   Jul  Total Species Count
2890  TD2     11  Jun-2013  2013   Jun  Total Species Count
2903  TD2      8  Mar-2013  2013   Mar  Total Species Count
2916  TD2     10  May-2013  2013   May  Total Species Count
2929  TD2      7  Nov-2013  2013   Nov  Total Species Count
2942  TD2      4  Oct-2013  2013   Oct  Total Species Count
2955  TD2      4  Sep-2013  2013   Sep  Total Species Count
2968  TD3      4  Apr-2013  2013   Apr  Total Species Count
2981  TD3      2  Aug-2013  2013   Aug  Total Species Count
2994  TD3      0  Dec-2013  2013   Dec  Total Species Count
3007  TD3      0  Feb-2013  2013   Feb  Total Species Count
3020  TD3      1  Jan-2013  2013   Jan  Total Species Count
3033  TD3      4  Jul-2013  2013   Jul  Total Species Count
3046  TD3      3  Jun-2013  2013   Jun  Total Species Count
3059  TD3      4  Mar-2013  2013   Mar  Total Species Count
3072  TD3      6  May-2013  2013   May  Total Species Count
3085  TD3      0  Nov-2013  2013   Nov  Total Species Count
3098  TD3      2  Oct-2013  2013   Oct  Total Species Count
3111  TD3      0  Sep-2013  2013   Sep  Total Species Count
3127   WD     10  Apr-2013  2013   Apr  Total Species Count
3140   WD      2  Aug-2013  2013   Aug  Total Species Count
3153   WD      0  Dec-2013  2013   Dec  Total Species Count
3166   WD      0  Feb-2013  2013   Feb  Total Species Count
3179   WD      5  Jan-2013  2013   Jan  Total Species Count
3192   WD      6  Jul-2013  2013   Jul  Total Species Count
3205   WD      3  Jun-2013  2013   Jun  Total Species Count
3218   WD      5  Mar-2013  2013   Mar  Total Species Count
3231   WD      4  May-2013  2013   May  Total Species Count
3244   WD      4  Nov-2013  2013   Nov  Total Species Count
3257   WD      2  Oct-2013  2013   Oct  Total Species Count
3270   WD      1  Sep-2013  2013   Sep  Total Species Count

In [81]:
# test_final3[test_final3['month'].isnull()]
len(areas_and_species_totals_added_df.species.unique())

250

In [82]:
# sort data with months in the proper order
df_loaded = areas_and_species_totals_added_df
df_loaded['month'] = pd.Categorical(df_loaded['month'], months)
df_loaded = df_loaded.sort_values(['year', 'month','species']).reset_index(drop=True)

In [83]:
df_loaded[(df_loaded['year']==2013) & (df_loaded['id']=='ALL') & (df_loaded['species']=='Dark-eyed Junco')]

        id  count      date  year month          species
48583  ALL    168  Jan-2013  2013   Jan  Dark-eyed Junco
49885  ALL     88  Feb-2013  2013   Feb  Dark-eyed Junco
51103  ALL    115  Mar-2013  2013   Mar  Dark-eyed Junco
52447  ALL     95  Apr-2013  2013   Apr  Dark-eyed Junco
55764  ALL      2  Jun-2013  2013   Jun  Dark-eyed Junco
60993  ALL     33  Oct-2013  2013   Oct  Dark-eyed Junco
62315  ALL     53  Nov-2013  2013   Nov  Dark-eyed Junco
63428  ALL     74  Dec-2013  2013   Dec  Dark-eyed Junco

In [85]:
# Fill in data counts of 0 for birds that were not seen in a particular month
zero_counts_added = df_loaded.copy()
for year in range(2010,2023):
    year_all_total = df_loaded[(df_loaded['year']==year) & (df_loaded['id']=='ALL')]

    # Build template to use for merging 0 counts with existing data. The 
    # dataframe has no count column. When merged with existing data, rows with 
    # a n/a in the count column had no previous count and can be filled with 0
    merge_template = pd.DataFrame()
    for specie in year_all_total.species.unique():
        temp = pd.DataFrame({'id': 'ALL', 'date': [f'{month}-{year}' for month in months], 'year': year, 'month':months, 'species': specie})
        # if specie == 'Dark-eyed Junco':
        #     print(temp)
        merge_template = pd.concat([merge_template, temp])
        
    # merge with the count and fill na with 0
    merge_df = merge_template.merge(year_all_total, how='left', on=['id', 'date', 'year', 'month', 'species']).fillna(0)

    # extract just the newly created zero counts and add to existing data
    zero_counts = merge_df[merge_df['count']==0]
    zero_counts_added = pd.concat([zero_counts_added, zero_counts])

In [87]:
zero_counts_added[(zero_counts_added['species']=='Dark-eyed Junco') & (zero_counts_added['year']==2013) & (zero_counts_added['id']=='ALL')]

        id  count      date  year month          species
48583  ALL  168.0  Jan-2013  2013   Jan  Dark-eyed Junco
49885  ALL   88.0  Feb-2013  2013   Feb  Dark-eyed Junco
51103  ALL  115.0  Mar-2013  2013   Mar  Dark-eyed Junco
52447  ALL   95.0  Apr-2013  2013   Apr  Dark-eyed Junco
55764  ALL    2.0  Jun-2013  2013   Jun  Dark-eyed Junco
60993  ALL   33.0  Oct-2013  2013   Oct  Dark-eyed Junco
62315  ALL   53.0  Nov-2013  2013   Nov  Dark-eyed Junco
63428  ALL   74.0  Dec-2013  2013   Dec  Dark-eyed Junco
256    ALL    0.0  May-2013  2013   May  Dark-eyed Junco
258    ALL    0.0  Jul-2013  2013   Jul  Dark-eyed Junco
259    ALL    0.0  Aug-2013  2013   Aug  Dark-eyed Junco
260    ALL    0.0  Sep-2013  2013   Sep  Dark-eyed Junco

In [88]:
# Sort data
df = zero_counts_added
df['month'] = pd.Categorical(df['month'], months)
df = df.sort_values(['year', 'month','species']).reset_index(drop=True)
df['count'] = df['count'].astype('int64')

In [89]:
len(df.species.unique())

250

In [90]:
# Stats for data
def get_stats_df(df):
    """Return a dataframe with some statistics"""
    stats_df = df[df['id']=='ALL']
    stats_df = stats_df.groupby(
        ['month', 'species']
        ).agg(
            mean=('count', np.mean),
            median=('count', np.median),
            std=('count', np.std),
            min=('count', np.min),
            max=('count', np.max)
        ).reset_index()

    stats_df['month'] = pd.Categorical(stats_df['month'], months)
    stats_df = stats_df.sort_values(['month','species']).reset_index(drop=True)
    
    return stats_df

In [91]:
get_stats_df(df[(df['species']== "Dark-eyed Junco") & (df['id']=='ALL')])

   month          species        mean  median        std  min  max
0    Jan  Dark-eyed Junco  135.923077   134.0  56.301956   52  217
1    Feb  Dark-eyed Junco   84.461538    71.0  32.255789   47  156
2    Mar  Dark-eyed Junco   98.615385   102.0  51.640647   16  227
3    Apr  Dark-eyed Junco  106.538462    95.0  97.978412    4  329
4    May  Dark-eyed Junco   10.384615     1.0  21.696922    0   70
5    Jun  Dark-eyed Junco    0.923077     1.0   1.382120    0    5
6    Jul  Dark-eyed Junco    0.384615     0.0   0.767948    0    2
7    Aug  Dark-eyed Junco    0.615385     0.0   1.192928    0    4
8    Sep  Dark-eyed Junco    1.307692     1.0   1.493576    0    4
9    Oct  Dark-eyed Junco   52.538462    51.0  26.244413   14  115
10   Nov  Dark-eyed Junco   91.846154    79.0  58.080183   38  268
11   Dec  Dark-eyed Junco  109.846154   110.0  46.666987   41  224

# Save data

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222262 entries, 0 to 222261
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       222262 non-null  object
 1   count    222262 non-null  int64
 2   date     222262 non-null  object
 3   year     222262 non-null  int64
 4   month    222262 non-null  category
 5   species  222262 non-null  object
dtypes: category(1), int64(2), object(3)
memory usage: 8.7+ MB

In [93]:
df.to_csv('count_data.csv')

# App

read areas and mapbox token

In [3]:
with open(
    r"C:\Users\kylek\OneDrive\Documents\Code\shared_with_VM\bird_count\data\areas.json"
) as areas_file:
    areas = json.load(areas_file)
with open(
    r"C:\Users\kylek\OneDrive\Documents\Code\shared_with_VM\bird_count\.mapbox_token"
) as token_file:
    token = token_file.read()

Get Data from csv

In [4]:
df = pd.read_csv(r'C:\Users\kylek\OneDrive\Documents\Code\shared_with_VM\bird_count\bird_count\data\count_data.csv', index_col=0)

In [7]:
app = JupyterDash(__name__)

app.layout = html.Div(
    id="app-container",
    children=[
        html.Div(
            id="sidebar-container",
            children=[
                html.H1("Squamish Monthly Bird Count"),
                dcc.Tabs(
                    id="tabs",
                    value="tab-graph",
                    children=[
                        dcc.Tab(label="Graph", value="tab-graph"),
                        dcc.Tab(label="Map", value="tab-map"),
                    ],
                ),
                html.P("Select Species:"),
                        dcc.Dropdown(
                            id="species-dropdown",
                            options=sorted(df["species"].unique()),
                            value="Total Species Count",
                            clearable=False,
                        ),
                html.Div(
                    id='sidebar-content',
                    ),
            ],
        ),
        html.Div(
            id="content-container",
        ),
    ],
)

@app.callback(
    Output('sidebar-content', 'children'),
    Input('tabs', 'value')
)
def render_sidebar_content(tab):
    if tab == 'tab-map':
        return []
    elif tab == 'tab-graph':
        return [
            # html.P("Line Shape:"),
            dcc.RadioItems(
                ['spline', 'linear',],
                'spline',
                id='line-shape-radio',
                inline=True
            ),
            dcc.Checklist(
                ['Average', 'Standard Deviation'],
                [],
                id='average-checklist'
            )
        ]


@app.callback(
    Output('content-container', 'children'),
    Input('tabs', 'value')
)
def render_content(tab):
    if tab == 'tab-map':
        return dcc.Graph(
            id="count-map",
            config=dict(responsive=True),
        )
    elif tab == 'tab-graph':
        return dcc.Graph(
            id="count-graph",
            config=dict(responsive=True),
        )

@app.callback(
    Output("count-map", "figure"), 
    Input("species-dropdown", "value")
)
def update_map(species):
    dff = df[df["species"] == species]
    
    fig = px.choropleth_mapbox(
        dff,
        geojson=areas,
        locations="id",
        featureidkey="properties.id",
        color="count",
        color_continuous_scale="Purples",
        range_color=(0, dff["count"].max()),
        zoom=12.5,
        center={"lat": 49.7, "lon": -123.15},
        opacity=0.5,
        labels={"count": "Count", "id": "Area"},
        animation_frame="date",
        template="plotly_dark",
    )
    fig.update_layout(
        margin={"r": 20, "t": 20, "l": 20, "b": 20},
        mapbox_accesstoken=token,
        mapbox_style="satellite-streets",
    )
    if fig["layout"]["updatemenus"]:
        fig["layout"]["updatemenus"][0]["pad"] = dict(r=20, t=25)
        fig["layout"]["sliders"][0]["pad"] = dict(r=0, t=0, b=20)

    return fig

@app.callback(
    Output("count-graph", "figure"), 
    Input("species-dropdown", "value"),
    Input("line-shape-radio", "value"),
    Input('average-checklist', 'value'),
)
def update_graph(species, line_shape, average_checklist):
    dff = df[(df['species']== species) & (df['id']=='ALL')]
    stats_df = get_stats_df(dff)

    fig = px.line(
        dff,
        x='month',
        y='count',
        category_orders= {'month': months},
        color="year",
        color_discrete_sequence=px.colors.qualitative.Light24,
        template="plotly_dark",
        markers=True,
        line_shape=line_shape,
    )

    if 'Average' in average_checklist:
        # Average
        fig.add_trace(
            go.Scatter(
                x=stats_df['month'],
                y=stats_df['mean'], 
                mode="lines",
                line_shape=line_shape,
                name='Average',
                line={'width':4, 'color':'white'},
                showlegend=False
            )
        )
    
    if 'Standard Deviation' in average_checklist:
        # Standard deviation line
        average_plus_std = list(stats_df['mean']+stats_df['std'])
        average_minus_std = list(stats_df['mean']-stats_df['std'])
        rev_average_minus_std = average_minus_std[::-1]
        rev_average_minus_std = [x if x > 0 else 0 for x in rev_average_minus_std]

        fig.add_trace(
            go.Scatter(
                x=months+months[::-1],
                y=average_plus_std+rev_average_minus_std,
                fill='toself',
                fillcolor='rgba(255,255,255,0.3)',
                line_color='rgba(255,255,255,0)',
                mode="lines",
                line_shape=line_shape,
                name='Standard Deviation',
                line={'width':4, 'color':'white'},
                showlegend=False
            )
        )

    fig.update_layout(
        margin={"r": 20, "t": 20, "l": 20, "b": 20},
    )

    fig.data = fig.data[::-1]
    return fig



if __name__ == "__main__":
    app.run_server(debug=True)

Dash is running on http://127.0.0.1:8050/

Dash app running on http://127.0.0.1:8050/